<div class="box-body container-fluid">
    <div class="sonata-ba-collapsed-fields">
        <div class="box-body table-responsive">
            <h3 class="no-padding no-margin visible-print">{{ 'tab_internoincluye'|trans({}, 'messages')|capitalize}}</h3>
            <ul class="list-unstyled">
                {% for internoIncluido in tabs.incluye.internoIncluidos %}
                    <li>
                        <h4 class="titulo-verde">{{ internoIncluido.tituloItinerario }}:</h4>
                        <ul class="fa-ul" style="margin-left: 1.2em;">
                            {% for tipotarifa in internoIncluido.tipotarifas %}
                                <li>
                                    <h5 style="font-weight: 600;">{{ tipotarifa.tituloTipotarifa }}</h5> {#{% if componente.cantidadcomponente > 1 %} <strong>x {{ componente.cantidadcomponente }}</strong> {% endif %}{% if componente.tituloItinerario is defined %} en {{ componente.tituloItinerario }} {% endif %} {% if componente.fecha is defined %} ({{ componente.fecha }}) {% endif %}#}
                                    <ul class="fa-ul">
                                        {% for componente in tipotarifa.componentes %}
                                            <li><i style="color: {{ componente.listacolor }};" class="fa-li fas {{ componente.listaclase }}"></i> {{ componente.nombre }} {% if componente.cantidadComponente > 1 %} <span style="font-weight: bold;"> x {{ componente.cantidadComponente }} {% if internoIncluido.caso == 'hotel' %} {{ 'noches'|trans({},'messages') }} {% else %} {{ 'dias'|trans({},'messages') }} {% endif %}</span>{% endif %} ({{ componente.fecha }})
                                                {% if componente.tarifas is defined %}
                                                    <ul style="list-style: none; padding-left: 20px;">
                                                        {% for tarifa in componente.tarifas %}
                                                            <li>{{ tarifa.nombre }}{% if tarifa.cantidad > 1 %} <span style="font-weight: 600;">x {{ tarifa.cantidad }}</span>{% endif %} <span style="color: {{ colores.naranja }}; font-weight: 600;"> {{ tarifa.moneda.simbolo }} {{ tarifa.monto }}</span>
                                                                {% if tarifa.detalles is defined %}
                                                                    <ul style="list-style: none; padding-left: 20px;">
                                                                        {% for detalle in tarifa.detalles %}
                                                                            <li>
                                                                                {% if detalle.tipoId == constant('App\\Oweb\\Entity\\ServicioTipotarifadetalle::DB_VALOR_SITIO_WEB') %}
                                                                                    <a target="_blank" href="{{ detalle.contenido }}">{{ detalle.tipoTitulo }}</a>
                                                                                {% else %}
                                                                                    {{ detalle.contenido }}
                                                                                {% endif %}
                                                                            </li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                {% endif %}
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>