<div class="box-body container-fluid">
    <div class="sonata-ba-collapsed-fields">
        <h3 class="visible-print">{{ 'tab_itinerario'|trans({}, 'messages')|capitalize}}</h3>
        <div class="panel-body table-responsive">
            <h3 class="visible-print">Itinerario</h3>
            {% if tabs.itinerarios is defined and tabs.itinerarios|length > 0 %}
                {% for itinerario in tabs.itinerarios %}
                    <h5>
                        {% if object.estadocotizacion.id != constant('App\\Entity\\CotizacionEstadocotizacion::DB_VALOR_PLANTILLA') %}
                            <span style="font-size: 1.15em; font-weight: 600;">
                                {{ itinerario.fecha|format_datetime('full', 'none')|capitalize}}
                            </span>
                            &nbsp;-&nbsp;
                            <span>
                                {{ 'dia'|trans({},'messages')|capitalize }} {{ itinerario.nroDia }}
                            </span>
                        {% else %}
                            <span style="font-size: 1.15em; font-weight: 600;">
                                {{ 'dia'|trans({},'messages')|capitalize }} {{ itinerario.nroDia }}
                            </span>
                        {% endif %}
                    </h5>
                    {% for item in itinerario.fechaitems %}
                        {% if item.titulo is defined %}
                            <h5 style="font-weight: bold; color: {{ colores.azul_acero }};">{{ item.titulo }} - {{ item.tituloDia }}</h5>
                        {% else%}
                            <h5 style="font-weight: bold; color: {{ colores.azul_acero }};">{{ item.tituloDia }}</h5>
                        {% endif%}
                        <div class="ck-content itinerariodescripcion">{{ item.descripcion|raw }}</div>
                        {% if item.archivos is defined and item.archivos|length > 0 %}
                        <div class="container-fluid hidden-print">
                            {% for archivo in item.archivos %}
                                {% if loop.index0 % 2 == 0 %}
                                    <div class="row">
                                {% endif %}
                                <div class="col-xs-12 col-sm-6">
                                    <div class="thumbnail thumbnail-fluid">
                                        <a href="{% if archivo.medio.tipo == 'local' %}{{ app.request.getSchemeAndHttpHost() ~ archivo.medio.webPath|raw }}{% else %}{{ archivo.medio.webPath|raw }}{% endif %}"{% if archivo.medio.inModal == true %} data-toggle="lightbox" data-gallery="{{ item.tituloDia }}"{% else %} target="_blank" {% endif %}>
                                            <img src="{% if archivo.medio.tipo == 'local' %}{{ app.request.getSchemeAndHttpHost() ~ archivo.medio.webThumbPath|raw }}{% else %}{{ archivo.medio.webThumbPath|raw }}{% endif %}"
                                                 alt="{{ archivo.medio.titulo }}"
                                                 class="{% if archivo.medio.inModal == true %}in-modal{% endif %} {% if archivo.medio.aspectRatio is not null and archivo.medio.aspectRatio < 1 %}portrait{% elseif archivo.medio.aspectRatio >= 1 %}landscape{% endif %}"
                                            >
                                            <div class="caption">
                                                <p style="overflow-wrap: break-word;" class="small text-center">{{ archivo.medio.titulo }}</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                {% if loop.index % 2 == 0 or loop.last %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% if item.nota is defined %}
                            <div class="ck-content itinerarionota post-it">{{ item.nota|raw }}</div>
                        {% endif %}
                    {% endfor %}

                {% endfor %}
            {% endif %}
            {% if object.cotnotas|length > 0 %}
                <h4>Notas:</h4>
                {% for nota in object.cotnotas %}
                    <h5><strong>{{ nota.titulo }}</strong></h5>
                    {{ nota.contenido|raw }}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>