<div class="box-body container-fluid">
    <div class="sonata-ba-collapsed-fields">
        <div class="panel-body table-responsive">
            <h3 class="no-padding no-margin visible-print">{{ 'tab_resumen'|trans({}, 'messages')|capitalize}}</h3>
            {% set whatsappText = 'Cliente: *' ~ object.file.nombre ~ ' x' ~ object.numeropasajeros ~ '* (' ~ object.file.pais.nombre ~ ' - *' ~ object.file.idioma.nombre ~ '*)' ~ '\n\n' %}
            {% set whatsappText = whatsappText ~ '*Resumen:* \n\n' %}

            <ul class="list-unstyled">
                {% if tabs.resumen.alojamientos is defined %}

                    <li class="col-md-12 col-sm-12 col-xs-12 resumen-item row-line resumen-alojamiento">

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            {% set whatsappText = whatsappText ~ '*' ~'alojamiento'|trans({}, 'messages')|capitalize ~ '*\n\n' %}
                            <h5 class="titulo-verde">{{ 'alojamiento'|trans({}, 'messages')|capitalize}}</h5>
                        </div>

                        {% for index_alojamiento, alojamiento in tabs.resumen.alojamientos %}
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <h5 style="font-weight: 600;">

                                        {% if alojamiento.tipoTarifa.id != constant('App\\Entity\\ServicioTipotarifa::DB_VALOR_NORMAL') %}
                                            {% set whatsappText = whatsappText ~ '*(' ~ alojamiento.tipoTarifa.titulo ~ ')* ' %}
                                            <span style="color: {{ alojamiento.tipoTarifa.listacolor }};">({{ alojamiento.tipoTarifa.titulo }})</span>
                                        {% endif %}

                                        {% set whatsappText = whatsappText ~ '*' ~ alojamiento.duracionStr ~ ' ' ~ 'de'|trans({}, 'messages') ~ ' ' ~ alojamiento.titulo ~ '*\n' %}
                                        {{ alojamiento.duracionStr }} {{ 'de'|trans({}, 'messages') }} {{ alojamiento.titulo }}

                                        {% if alojamiento.tarifaTitulo is defined %}
                                            {% set whatsappText = whatsappText ~ 'en' ~ alojamiento.tarifaTitulo ~ '\n' %}
                                            {{ 'en'|trans({}, 'messages')}} {{ alojamiento.tarifaTitulo }}
                                        {% endif %}
                                    </h5>
                                    {# Si es que no pertenece al catalogo de tours #}
                                    {% if object.file.catalogo != true %}
                                        <p>{{ 'del'|trans({}, 'messages')|capitalize }} {{ alojamiento.fechaInicio|date('Y-m-d') }} {{ 'al'|trans({}, 'messages') }} {{ alojamiento.fechaFin|date('Y-m-d') }}</p>
                                        {% set whatsappText = whatsappText ~ 'del'|trans({}, 'messages')|capitalize ~ ': ' ~ alojamiento.fechaInicio|date('Y-m-d') ~ ' ' ~ 'de'|trans({}, 'messages') ~ ': ' ~ alojamiento.fechaFin|date('Y-m-d') ~ '\n' %}
                                    {% endif %}
                                    {% if alojamiento.detalles is defined %}
                                        <ul style="list-style: none;">
                                            {% for detalle in alojamiento.detalles %}
                                                <li class="margin-top-10">{{ detalle }}</li>
                                                {% set whatsappText = whatsappText ~ detalle ~ '\n' %}
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>

                                {% if alojamiento.proveedor is defined %}
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {# ocultamos para resumen si es que tiene el flag #}
                                        {% if action == 'show' or object.hoteloculto == false %}
                                            <h5 style="font-weight: 600;">{{alojamiento.proveedor.nombre}}</h5>
                                            {% set whatsappText = whatsappText ~ '*' ~ alojamiento.proveedor.nombre ~ '* \n' %}
                                        {% endif %}

                                        {% if alojamiento.proveedor.providermedios is not empty %}
                                            <div id="carousel_{{ index_alojamiento }}" class="no-print carousel slide" data-interval="10000" data-ride="carousel">
                                                <!-- indicadores -->
                                                {% if alojamiento.proveedor.providermedios|length < 8 %}
                                                    <ol class="carousel-indicators">
                                                        {% for index_medio, medio in alojamiento.proveedor.providermedios %}
                                                            <li data-target="#carousel_{{ index_alojamiento }}" data-slide-to="{{ index_medio }}" {% if loop.first == true  %}class="active"{% endif%}></li>
                                                        {% endfor %}
                                                    </ol>
                                                {% endif %}
                                                <!-- slides -->
                                                <div class="carousel-inner" role="listbox">
                                                    {% for medio in alojamiento.proveedor.providermedios %}
                                                        <div class="item{% if loop.first == true  %} active{% endif%}">
                                                            <a href="{% if medio.tipo == 'local' %}{{ app.request.getSchemeAndHttpHost() ~ medio.webPath|raw }}{% else %}{{ medio.webPath|raw }}{% endif %}"{% if medio.inModal == true %} data-toggle="lightbox" data-gallery="galeria_hotel_{{ index_alojamiento }}"{% else %} target="_blank" {% endif %}>
                                                                <img src="{% if medio.tipo == 'local' %}{{ app.request.getSchemeAndHttpHost() ~ medio.webThumbPath|raw }}{% else %}{{ medio.webThumbPath|raw }}{% endif %}"
                                                                     alt="{{ medio.titulo }}"
                                                                     class="{% if medio.inModal == true %}in-modal{% endif %} {% if medio.aspectRatio is not null and medio.aspectRatio < 1 %}portrait{% elseif medio.aspectRatio >= 1 %}landscape{% endif %}"
                                                                >
                                                                <div class="carousel-caption">
                                                                    <p style="overflow-wrap: break-word;" class="small text-center">{{ medio.titulo }}</p>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                <!-- botones -->
                                                <a class="left carousel-control" href="#carousel_{{ index_alojamiento }}" role="button" data-slide="prev">
                                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                                    <span class="sr-only">{{ 'anterior'|trans({}, 'messages')|capitalize}}</span>
                                                </a>
                                                <a class="right carousel-control" href="#carousel_{{ index_alojamiento }}" role="button" data-slide="next">
                                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                                    <span class="sr-only">{{ 'siguiente'|trans({}, 'messages')|capitalize}}</span>
                                                </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}

                                {% set whatsappText = whatsappText ~ '\n' %}
                            </div>
                        {% endfor %}
                    </li>
                {% endif %}

                {% if tabs.resumen.serviciosConTituloItinerario is defined %}
                    {% for index_servicio, servicioConTituloItinerario in tabs.resumen.serviciosConTituloItinerario %}
                        <li class="col-md-12 col-sm-12 col-xs-12 resumen-item row-line resumen-servicios">

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {% set whatsappText = whatsappText ~ '*' ~ servicioConTituloItinerario.tituloItinerario ~ '* \n' %}
                                <h5 class="titulo-verde">{{ servicioConTituloItinerario.tituloItinerario }}</h5>
                                {% if servicioConTituloItinerario.fechaInicio is defined %}
                                    {% if object.file.catalogo != true %}
                                        {% if servicioConTituloItinerario.fechahorasdiferentes  == true %}
                                            {% for fecha in servicioConTituloItinerario.fechas %}
                                                {% set whatsappText = whatsappText ~ '\n*' ~ fecha.fecha|date('Y-m-d') ~ '* \n' %}
                                                <p><span style="font-weight: 600;">{{ fecha.fecha|date('Y-m-d') }}</span></p>
                                                <div style="display: block; margin-left: 10px;">
                                                {% for item in fecha.items %}
                                                    {% set whatsappText = whatsappText ~ '*' ~ item.fechahoraInicio|date('H:i') ~ '* ' ~ item.titulo ~ '\n' %}
                                                    <p><span style="font-weight: 600; color: steelblue;">{{ item.fechahoraInicio|date('H:i') }}</span> {{ item.titulo }}</p>
                                                {% endfor %}
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            {% set whatsappText = whatsappText ~ '\n*' ~  'inicio'|trans({}, 'messages')|capitalize ~ '* :' ~ servicioConTituloItinerario.fechahoraInicio|date('Y-m-d H:i') ~ '\n' %}
                                            <p><span style="font-weight: 600;">{{ 'inicio'|trans({}, 'messages')|capitalize }}:</span> {{ servicioConTituloItinerario.fechahoraInicio|date('Y-m-d') }} <span style="color: steelblue;">{{ servicioConTituloItinerario.fechahoraInicio|date('H:i') }}</span></p>
                                        {% endif %}
                                    {% endif %}
                                    {% if servicioConTituloItinerario.duracionStr is defined %}
                                        {% set whatsappText = whatsappText ~ '\n*' ~ 'duracion'|trans({}, 'messages')|capitalize ~ '* :' ~ servicioConTituloItinerario.duracionStr ~ '\n' %}
                                        <p><span style="font-weight: 600;">{{ 'duracion'|trans({}, 'messages')|capitalize }}:</span> {{ servicioConTituloItinerario.duracionStr }}</p>
                                    {% endif %}
                                {% endif %}
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {% for tipoTarifa in servicioConTituloItinerario.tipoTarifas %}
                                    <p class="componente-incluye margin-top-10">
                                        <span style="font-weight: 600;">{{ tipoTarifa.tituloTipotarifa }}:</span>
                                        {% set whatsappText = whatsappText ~ '\n*' ~ tipoTarifa.tituloTipotarifa ~ ':* ' %}
                                        {% for componente in tipoTarifa.componentes %}
                                            {% set whatsappText = whatsappText ~ componente.titulo %}
                                            {{ componente.titulo }}{% if loop.last== false  %}, {% set whatsappText = whatsappText ~ ', ' %}{% else %}.{% set whatsappText = whatsappText ~ '.\n' %}{% endif %}
                                        {% endfor %}
                                    </p>
                                {% endfor %}
                            </div>

                            {% if servicioConTituloItinerario.fotos is not empty %}
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-6 col-sm-9 col-xs-12 center-block" style="float: none;">
                                    <div id="carousel_{{ index_servicio }}" class="no-print carousel slide margin-top-10" data-interval="10000" data-ride="carousel">
                                        <!-- indicadores -->
                                        {% if servicioConTituloItinerario.fotos|length < 8 %}
                                            <ol class="carousel-indicators">
                                                {% for index_foto, foto in servicioConTituloItinerario.fotos %}
                                                    <li data-target="#carousel_{{ index_servicio }}" data-slide-to="{{ index_foto }}" {% if foto.portada == true  %}class="active"{% endif%}></li>
                                                {% endfor %}
                                            </ol>
                                        {% endif %}
                                        <!-- slides -->
                                        <div class="carousel-inner" role="listbox">
                                            {% for foto in servicioConTituloItinerario.fotos %}
                                                <div class="item{% if foto.portada == true  %} active{% endif%}">
                                                    <a href="{% if foto.medio.tipo == 'local' %}{{ app.request.getSchemeAndHttpHost() ~ foto.medio.webPath|raw }}{% else %}{{ foto.medio.webPath|raw }}{% endif %}"{% if foto.medio.inModal == true %} data-toggle="lightbox" data-gallery="galeria_servicio_{{ index_servicio }}"{% else %} target="_blank" {% endif %}>
                                                        <img src="{% if foto.medio.tipo == 'local' %}{{ app.request.getSchemeAndHttpHost() ~ foto.medio.webThumbPath|raw }}{% else %}{{ foto.medio.webThumbPath|raw }}{% endif %}"
                                                             alt="{{ foto.medio.titulo }}"
                                                             class="{% if foto.medio.inModal == true %}in-modal{% endif %} {% if foto.medio.aspectRatio is not null and foto.medio.aspectRatio < 1 %}portrait{% elseif foto.medio.aspectRatio >= 1 %}landscape{% endif %}"
                                                        >
                                                        <div class="carousel-caption">
                                                            <p style="overflow-wrap: break-word;" class="small text-center">{{ foto.medio.titulo }}</p>
                                                        </div>
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <!-- botones -->
                                        <a class="left carousel-control" href="#carousel_{{ index_servicio }}" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                            <span class="sr-only">{{ 'anterior'|trans({}, 'messages')|capitalize}}</span>
                                        </a>
                                        <a class="right carousel-control" href="#carousel_{{ index_servicio }}" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                            <span class="sr-only">{{ 'siguiente'|trans({}, 'messages')|capitalize}}</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {% endif %}


                        </li>
                        {% set whatsappText = whatsappText ~ '\n' %}
                    {% endfor %}
                {% endif %}

                {% if tabs.resumen.serviciosSinTituloItinerario is defined %}
                    <li class="col-md-12 col-sm-12 col-xs-12 resumen-item row-line resumen-otros-servicios">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            {% set whatsappText = whatsappText ~ 'otros_servicios'|trans({}, 'messages')|capitalize ~ '\n\n' %}
                            <h5 class="titulo-verde">{{ 'otros_servicios'|trans({}, 'messages')|capitalize}}</h5>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            {% for tipoTarifa in tabs.resumen.serviciosSinTituloItinerario.tipoTarifas %}
                                <p>
                                    {% set whatsappText = whatsappText ~ tipoTarifa.tituloTipotarifa ~ ': ' %}
                                    <span style="font-weight: 600;">{{ tipoTarifa.tituloTipotarifa }}:</span>
                                    {% for componente in tipoTarifa.componentes %}
                                        {% set whatsappText = whatsappText ~ componente.titulo %}
                                        {{ componente.titulo }}{% if loop.last== false  %}, {% set whatsappText = whatsappText ~ ', ' %}{% else %}.{% set whatsappText = whatsappText ~ '.\n' %}{% endif %}
                                    {% endfor %}
                                </p>
                                {% set whatsappText = whatsappText ~ '\n' %}
                            {% endfor %}
                        </div>
                    </li>
                {% endif %}

                {% set whatsappText = whatsappText ~ '\n\n.' %}

                {% if action == 'show' %}

                    {% if object.file.telefono is not empty %}
                        {% set whatsappNumero = object.file.telefono %}
                    {% else %}
                        {% set whatsappNumero = numero_default %}
                    {% endif %}
                    <li>
                        <a href="https://wa.me/{{whatsappNumero|replace({'-': '', '+': '', '(': '',  ')': '',  ' ': ''}) }}?text={{ whatsappText|url_encode }}"
                           target="_blank" class="btn btn-sm btn-success margin-top-10">
                            <i class="fa fa-whatsapp" aria-hidden="true"></i>
                            Enviar por Whatsapp
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>