<div class="box-body container-fluid">
    <div class="sonata-ba-collapsed-fields">
        <h3 class="visible-print">{{ 'tab_precio'|trans({},'messages')|capitalize}}</h3>
        <div class="panel-body table-responsive">

            <h3 class="visible-print">{{ 'precio_de_venta'|trans({},'messages')|capitalize }}</h3>

            <h4 class="titulo-verde">{{ 'precio_por_pasajero'|trans({},'messages')|capitalize }}:</h4>
            <ul style="list-style-type: none; padding-left: 18px">

                {% for rango in tabs.tarifasClasificadas %}
                    <li>
                        <p style="margin-bottom: 0;">
                            {{ rango.tipoPaxTitulo }}
                            {% if rango.tituloPersistente is defined %}
                                ({{ rango.tituloPersistente }})
                            {% endif %}

                            <span style="font-size: 0.9em;">
                                {% if rango.edadMin is defined or rango.edadMax is defined %}

                                    {% if rango.edadMin is defined and rango.edadMax is defined and rango.edadMax == rango.edadMin %}
                                        {% trans with {'%edad%': rango.edadMin } from 'messages' %}de %edad% anos{% endtrans %}
                                        {% if rango.edadMax > 18 and rango.edadMax <= 23 %}
                                            &nbsp;({{ 'con_carne_de_estudiante_valido_y_vigente'|trans({},'messages') }})
                                        {% endif %}

                                    {% else %}

                                        {% if rango.edadMin is defined %}
                                            {% trans with {'%edad%': rango.edadMin } from 'messages' %}desde %edad% anos{% endtrans %}
                                        {% endif %}

                                        {% if rango.edadMax is defined %}
                                            {% trans with {'%edad%': rango.edadMax } from 'messages' %}hasta %edad% anos{% endtrans %}
                                            {% if rango.edadMax > 18 and rango.edadMax <= 23 %}
                                                &nbsp;({{ 'con_carne_de_estudiante_valido_y_vigente'|trans({},'messages') }})
                                            {% endif %}
                                        {% endif %}

                                    {% endif %}

                                {% endif %}
                            </span>
                            <strong>x{{ rango.cantidad }}</strong>:
                        </p>

                        <ul style="list-style-type: none; padding-left: 18px;">
                            {% for tarifaresumen in rango.resumen | filter(tarifaresumen => tarifaresumen.ventasoles > 0 and tarifaresumen.tipoTarOcultoenresumen == false) %}
                                <li>
                                    <p>
                                        {{ tarifaresumen.tipoTarTitulo }}:
                                        <span class="titulo-verde" style="font-size: 1.1em;">
                                                        US$ {{ tarifaresumen.ventadolares }}
                                                    </span>
                                        {# if object.file.pais.id == constant('App\\Entity\\MaestroPais::DB_VALOR_PERU') %} {{ 'o'|trans({},'messages') }} <span class="titulo-verde">S/.{{ tarifaresumen.ventasoles }}</span>{% endif #}
                                    </p>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>

            {% if object.estadocotizacion.id != 6 %}

                <h4 class="titulo-verde" style="margin-top: 15px;">{{ 'total'|trans({},'messages')|capitalize}}: </h4>

                <ul style="list-style-type: none; padding-left: 18px;">
                    {%  for resumenitem in tabs.resumenDeClasificado | filter (resumenitem => resumenitem.ocultoenresumen is same as (false)) %}
                        <li>
                            <p>
                                {{ resumenitem.titulo }}:
                                <span class="titulo-verde" style="font-size: 1.1em;">
                                                 US$ {{ resumenitem.ventadolares }}
                                            </span>
                                {# if object.file.pais.id == constant('App\\Entity\\MaestroPais::DB_VALOR_PERU') %} o <span style="font-weight: bold; color: {{ colores.verde_oscuro }};">S/.{{ resumenitem.ventasoles }}</span>{% endif #}

                                <br>{{ 'reserve_con_el'|trans({},'messages') }} {{ object.adelanto|number_format(2, '.', '')}}% (US$ {{ resumenitem.adelantodolares }}
                                {# if object.file.pais.id == constant('App\\Entity\\MaestroPais::DB_VALOR_PERU') %}
                                    {{ 'o'|trans({},'messages') }} S/.{{ resumenitem.adelantosoles }}
                                {% endif #}
                                )
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if object.estadocotizacion.id != 6 %} {# or object.file.pais.id == constant('App\\Entity\\MaestroPais::DB_VALOR_PERU')#}

                <h5 style="margin-top: 15px;">{{ 'notas'|trans({},'messages')|capitalize }}: </h5>
                <div>
                    <p>
                        {{ 'la_tarifa'|trans({},'messages')|capitalize }} <span style="font-weight: bold;">{{ 'no_incluye_impuestos'|trans({},'messages') }}</span>, {{ 'consulte_la_exoneracion'|trans({},'messages') }}.
                    </p>
                    {% if object.file.catalogo != true %}
                        <p>{{ 'la_tarifa_tiene_una_validez_de_3_dias_hasta_el'|trans({},'messages')|capitalize }}
                            <span style="font-weight: bold;">
                                {{ object.fecha|date_modify("+3 day")|date("d/m/Y") }}
                            </span>
                        </p>
                    {% endif %}

                    {# if object.file.pais.id == constant('App\\Entity\\MaestroPais::DB_VALOR_PERU') %}
                        <p>{{ 'tarifa_base'|trans({},'messages')|capitalize }}:
                            <span style="font-weight: bold;">
                                {{ 'dolares'|trans({},'messages')|upper }}
                            </span>
                        </p>
                        <p>{{ 'tarifa_en_soles_al_tipo_de_cambio_referencial_de'|trans({},'messages')|capitalize }}
                            <span style="font-weight: bold; color: {{ colores.verde_oscuro }};">
                                {{ cotizacion.tipocambio.promedioredondeado }}
                            </span>
                            {{ 'del_dia'|trans({},'messages') }}
                            <span style="font-weight: bold; color: {{ colores.verde_oscuro }};">
                                {{ cotizacion.tipocambio.fecha | date("Y-m-d") }}
                            </span>
                        </p>
                    {% endif #}
                </div>
            {% endif %}
        </div>
    </div>
</div>