{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends '@SonataAdmin/CRUD/base_show.html.twig' %}

{% block title %}
    {{admin.toString(object)}}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>

        @import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

        .post-it {
            max-width:450px;
            position:relative;
            background:#ffa;
            overflow:hidden;
            margin:15px auto 30px auto;
            padding:20px;
            border-radius:0 0 0 30px/45px;
            box-shadow: inset 0 -40px 40px rgba(0,0,0,0.2), inset 0 25px 10px rgba(0,0,0,0.2), 0 5px 6px 5px rgba(0,0,0,0.2);
            font-family: 'Permanent Marker', cursive;
            line-height:1.7em;
            font-size: 0.9em;
            -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
            color:#130d6b;
        }

        .post-it:before {
            content:"";
            display:block;
            position:absolute;
            width:20px;
            height:25px;
            background:#ffa;
            box-shadow:
                    3px -2px 10px rgba(0,0,0,0.2),
                    inset 15px -15px 15px rgba(0,0,0,0.3);
            left:0;
            bottom:0;
            z-index:2;
            transform:skewX(25deg);
        }

        .post-it:after {
            content:"";
            display:block;
            position:absolute;
            width:75%;
            height:20px;
            border-top:3px solid #130d6b;
            border-radius: 50% ;
            bottom:0;
            left:10%;
        }

        @media print
        {
            .locale_switcher {display: none !important;}
            .tab-content > .tab-pane {display: block !important; opacity: 1 !important; visibility: visible !important;}
        }

        .fila{list-style: none;}
        .fila.servicio{padding-inline-start: 0; color: black;}
        .fila li {list-style: none; border: 1px solid gray; margin-bottom: 5px;}
        .celda{display: inline-block; padding: 0 5px;}
        .celda.heading{font-weight: bold; font-size: 0.8em; vertical-align: top;}
        .titulo{font-size: 0.8em; font-weight: bold;}
    </style>
{% endblock %}

{% block show %}


<div class="sonata-ba-view">

    {{ sonata_block_render_event('sonata.admin.show.top', { 'admin': admin, 'object': object }) }}

    <div class="row">
        <div class="col-md-12 ">
            <div class="encabezado box box-primary">
                <div class="box-header">
                    <h4 class="box-title">
                        {{ cotizacion.cotizacion.titulo }}
                    </h4>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table">
                        <tbody>
                            {% if action == 'show' %}
                                <tr class="sonata-ba-view-container">
                                    <th>{{ 'cotizacion'|trans({},'messages')|capitalize }}</th>
                                    <td>{{ cotizacion.cotizacion.nombre }}</td>
                                </tr>
                            {% endif %}
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'nombre'|trans({},'messages')|capitalize }}</th>
                                <td>{{ cotizacion.file.nombre }} x {{ cotizacion.cotizacion.numeropasajeros }} ({{ cotizacion.file.paisnombre }} <span style="color: #710000;">{{ cotizacion.file.idioma }}</span>)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            {% if cotizacion.pasajeros is defined or cotizacion.archivos is defined %}
                <div class="panel-group box box-primary" id="accordion">
                    {% if cotizacion.pasajeros is defined and cotizacion.pasajeros|length > 0 %}
                        <div class="panel panel-default hidden-print">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                        <i class="fas fa-users"></i> {{ 'namelist'|trans({},'messages')|capitalize }}
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse {# {% if cotizacion.archivos is not defined %} in {% endif %}#}">
                                <div class="panel-body table-responsive no-padding">
                                    <table class="table table-bordered table-striped sonata-ba-list">
                                        <thead>
                                        <tr class="sonata-ba-list-field-header">
                                            <th>
                                                {{ 'nombres'|trans({},'messages')|capitalize }}
                                            </th>
                                            <th>
                                                {{ 'apellidos'|trans({},'messages')|capitalize }}
                                            </th>
                                            <th>
                                                {{ 'pais'|trans({},'messages')|capitalize }}
                                            </th>
                                            <th>
                                                {{ 'sexo'|trans({},'messages')|capitalize }}
                                            </th>
                                            <th>
                                                {{ 'tipodoc'|trans({},'messages')|capitalize }}
                                            </th>
                                            <th>
                                                {{ 'numerodoc'|trans({},'messages')|capitalize }}
                                            </th>
                                            <th>
                                                {{ 'fechanacimiento'|trans({},'messages')|capitalize }}
                                            </th>
                                            <th>
                                                {{ 'edad'|trans({},'messages')|capitalize }}
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for pasajero in cotizacion.pasajeros %}
                                            <tr>
                                                <td>
                                                    {{ pasajero.nombre }}
                                                </td>
                                                <td>
                                                    {{ pasajero.apellido }}
                                                </td>
                                                <td>
                                                    {{ pasajero.pais }}
                                                </td>
                                                <td>
                                                    {{ pasajero.sexo }}
                                                </td>
                                                <td>
                                                    {{ pasajero.tipodocumento }}
                                                </td>
                                                <td>
                                                    {{ pasajero.numerodocumento }}
                                                </td>
                                                <td>
                                                    {{ pasajero.fechanacimiento|date('Y-m-d') }}
                                                </td>
                                                <td>
                                                    {{ pasajero.edad }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if cotizacion.archivos is defined and cotizacion.archivos|length > 0 %}
                        <div class="panel panel-default hidden-print">
                            <div style="background-color: rgba(0,172,214,0.18);" class="panel-heading">
                                <h5 class="panel-title">
                                    <a style="font-weight: bold;" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                        <i class="fas fa-file"></i> {{ 'tickets_y_documentos'|trans({},'messages')|capitalize }}
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="container-fluid">
                                        {% for archivo in cotizacion.archivos %}
                                            {% if (action == 'show' or (action == 'resumen' and archivo.interno == false )) %}
                                            <div class="col-xs-4 col-sm-2">
                                                <div class="thumbnail">
                                                    <a href="{% if archivo.tipo == 'local' %}{{ app.request.getSchemeAndHttpHost() ~ archivo.webPath|raw }}{% else %}{{ archivo.webPath|raw }}{% endif %}"{% if archivo.inModal == true %} data-toggle="lightbox"{% else %} target="_blank" {% endif %}>
                                                        <img src="{% if archivo.tipo == 'local' %}{{ app.request.getSchemeAndHttpHost() ~ archivo.webThumbPath|raw }}{% else %}{{ archivo.webThumbPath|raw }}{% endif %}" alt="{{ archivo.nombre }}" {% if archivo.inModal == true %}style="width:100%"{% endif %}>
                                                        <div class="caption">
                                                            <p style="overflow-wrap: break-word;" class="small text-center">{{ archivo.nombre }}</p>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endif %}

            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs hidden-print" role="tablist">
                    {% for name, contenido in tabs %}
                        {% if name == 'itinerario' and action != 'show' and contenido.itinerarios is not defined %}
                        {% else %}

                        <li{% if loop.first %} class="active"{% endif %}>
                            <a href="#tab_{{ admin.uniqid }}_{{ loop.index }}" data-toggle="tab">
                                <i class="fas {{ contenido.icono }}" aria-hidden="true"></i>
                                <span style="font-size: 1.2em">{{ contenido.nombre|trans({},'messages')|capitalize}}</span>
                            </a>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>

                <div class="tab-content">
                    {% for name, contenido in tabs %}
                        {% if name == 'itinerario' and action != 'show' and contenido.itinerarios is not defined %}
                            {% if loop.first %} {% set forceactive = true %} {% endif %}
                        {% else %}
                            <div
                                class="tab-pane fade{% if loop.first or forceactive == true %} in active {% set forceactive = false %}{% endif %}"
                                id="tab_{{ admin.uniqid }}_{{ loop.index }}"
                            >
                            <div class="box-body container-fluid">
                                <div class="sonata-ba-collapsed-fields">

                                    {% if name == 'tarifas' %}
                                    <h3 class="visible-print">{{ contenido.nombre|trans({},'messages')|capitalize}}</h3>
                                    {% if action == 'show' %}
                                    <div class="panel-group box box-primary" id="accordiontarifas">
                                        <div class="panel panel-default hidden-print">
                                            <div style="background-color: rgba(219,144,8,0.22);" class="panel-heading">
                                                <h5 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordiontarifas" href="#collapsetarifas2">
                                                        Interno: Valores
                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapsetarifas2" class="panel-collapse collapse in">
                                                <div class="panel-body table-responsive">
                                                    <h3 class="visible-print">Valores</h3>
                                                    <h4><strong>Resumen General</strong> al <span style="font-size: 0.7em;"> {{ cotizacion.cotizacion.comision|number_format(2, '.', '')}}% </span></h4>
                                                    <div class="box-body table-responsive no-padding">
                                                        <table class="table table-bordered table-striped sonata-ba-list">
                                                            <thead>
                                                            <tr class="sonata-ba-list-field-header">
                                                                <th class="text-center">
                                                                    Ganancia<br />S/.
                                                                </th>
                                                                <th class="text-center">
                                                                    Ganancia<br />$
                                                                </th>
                                                                <th class="text-center">
                                                                    Típo
                                                                </th>
                                                                <th class="text-center">
                                                                    Costo<br />S/.
                                                                </th>
                                                                <th class="text-center">
                                                                    Costo<br />$
                                                                </th>
                                                                <th class="text-center">
                                                                    Venta<br />S/.
                                                                </th>
                                                                <th class="text-center">
                                                                    Venta<br />$
                                                                </th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {%  for resumenitem in contenido.resumen %}
                                                                <tr>
                                                                    <td class="text-right" style="font-weight: bold; color: #1B6129;">
                                                                        {{ resumenitem.gananciasoles }}
                                                                    </td>
                                                                    <td class="text-right" style="font-weight: bold; color: #1B6129;">
                                                                        {{ resumenitem.gananciadolares }}
                                                                    </td>
                                                                    <td style="color: {{ resumenitem.listacolor }}">
                                                                        {{ resumenitem.titulo }}
                                                                    </td>
                                                                    <td class="text-right">
                                                                        {{ resumenitem.montosoles }}
                                                                    </td>
                                                                    <td class="text-right">
                                                                        {{ resumenitem.montodolares }}
                                                                    </td>
                                                                    <td class="text-right">
                                                                        {{ resumenitem.ventasoles }}
                                                                    </td>
                                                                    <td class="text-right">
                                                                        {{ resumenitem.ventadolares }}
                                                                    </td>

                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <br />
                                                    <h4><strong>Por tipo de pasajero</strong></h4>
                                                    {% for rango in contenido.rangos %}
                                                        <h4>
                                                            {{ rango.tipoPaxNombre }} <strong>x {{ rango.cantidad }}</strong>
                                                        </h4>
                                                        {% if rango.edadMin is defined or rango.edadMax is defined%}
                                                            <p>
                                                                {% if rango.edadMin is defined and rango.edadMax is defined and rango.edadMax == rango.edadMin %}
                                                                    de {{ rango.edadMin }} años
                                                                    {% if rango.edadMax > 18 and rango.edadMax <= 23 %}
                                                                        &nbsp;<br />(con carné de estudiante válido y vigente)
                                                                    {% endif %}

                                                                {% else %}
                                                                    {% if rango.edadMin is defined %}
                                                                        desde {{ rango.edadMin }} años
                                                                    {% endif %}

                                                                    {% if rango.edadMax is defined %}
                                                                        hasta {{ rango.edadMax }} años
                                                                        {% if rango.edadMax > 18 and rango.edadMax <= 23 %}
                                                                            <br />(con carné de estudiante válido y vigente)
                                                                        {% endif %}
                                                                    {% endif %}

                                                                {% endif %}

                                                            </p>
                                                        {% endif %}

                                                        {% if rango.tituloPersistente is defined %}
                                                            <h5>{{ rango.tituloPersistente }}</h5>
                                                        {% endif %}
                                                        <div style="margin-left: 15px;" class="box-body table-responsive no-padding">
                                                            <table class="table table-bordered table-striped sonata-ba-list">
                                                                <thead>
                                                                <tr class="sonata-ba-list-field-header">
                                                                    <th>
                                                                        Monto Cotizado
                                                                    </th>
                                                                    <th>
                                                                        Tipo
                                                                    </th>
                                                                    <th>
                                                                        Componente (Tarifa)
                                                                    </th>
                                                                    <th>
                                                                        Servicio
                                                                    </th>
                                                                    <th class="text-right">
                                                                        Venta soles
                                                                    </th>
                                                                    <th class="text-right">
                                                                        Venta dolares
                                                                    </th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                {%  for tarifadetalle in rango.tarifas %}
                                                                <tr>
                                                                    <td style="font-weight: bold;  color: #1B6129;">
                                                                        {% if tarifadetalle.cantidadComponente > 1 %}
                                                                            {{ tarifadetalle.cantidadComponente }} x&nbsp;
                                                                        {% endif %}
                                                                        {{ tarifadetalle.montoOriginal }}&nbsp;{{ tarifadetalle.monedaOriginal }}
                                                                        {% if tarifadetalle.prorrateado %}
                                                                            &nbsp;(P)
                                                                        {% else %}
                                                                            &nbsp;(U)
                                                                        {% endif %}
                                                                    </td>
                                                                    <td style="color: {{ tarifadetalle.tipoTarListacolor }};">
                                                                        {{ tarifadetalle.tipoTarTitulo }}
                                                                    </td>
                                                                    <td>
                                                                        {{ tarifadetalle.nombreComponente }} ({{ tarifadetalle.nombre }})
                                                                    </td>
                                                                    <td>
                                                                        {{ tarifadetalle.nombreServicio }}
                                                                    </td>
                                                                    <td class="text-right">
                                                                        {{ tarifadetalle.ventasoles }}
                                                                    </td>
                                                                    <td class="text-right">
                                                                        {{ tarifadetalle.ventadolares }}
                                                                    </td>

                                                                    {% endfor %}
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <br />
                                                        <div style="margin-left: 30px;" class="box-body table-responsive no-padding">
                                                            <table class="table table-bordered table-striped sonata-ba-list">
                                                                <thead>
                                                                <tr class="sonata-ba-list-field-header">
                                                                    <th>
                                                                        Tipo
                                                                    </th>
                                                                    <th>
                                                                        Tipo para Pax
                                                                    </th>
                                                                    <th class="text-right">
                                                                        Costo Soles
                                                                    </th>
                                                                    <th class="text-right">
                                                                        Costo Dolares
                                                                    </th>
                                                                    <th class="text-right">
                                                                        Venta soles
                                                                    </th>
                                                                    <th class="text-right">
                                                                        Venta dolares
                                                                    </th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                {%  for tarifaresumen in rango.resumen %}
                                                                <tr>
                                                                    <td style="color: {{ tarifaresumen.tipoTarListacolor }}">
                                                                        {{ tarifaresumen.tipoTarNombre }}
                                                                    </td>
                                                                    <td style="color: {{ tarifaresumen.tipoTarListacolor }}">
                                                                        {{ tarifaresumen.tipoTarTitulo }}
                                                                    </td>
                                                                    <td class="text-right">
                                                                        {{ tarifaresumen.montosoles }}
                                                                    </td>
                                                                    <td class="text-right">
                                                                        {{ tarifaresumen.montodolares }}
                                                                    </td>
                                                                    <td class="text-right">
                                                                        {{ tarifaresumen.ventasoles }}
                                                                    </td>
                                                                    <td class="text-right">
                                                                        {{ tarifaresumen.ventadolares }}
                                                                    </td>
                                                                    {% endfor %}
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <br />
                                                    {% endfor %}

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default hidden-print">
                                            <div class="panel-heading">
                                                <h5 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordiontarifas" href="#collapsetarifas1">
                                                        {{ 'precio_de_venta'|trans({},'messages')|capitalize }}
                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapsetarifas1" class="panel-collapse collapse">
                                    {% endif %}
                                                <div class="panel-body table-responsive">

                                                    <h3 class="visible-print">{{ 'precio_de_venta'|trans({},'messages')|capitalize }}</h3>

                                                    <h4>{{ 'precio_por_pasajero'|trans({},'messages')|capitalize }}:</h4>
                                                    <ul style="list-style-type: none; padding-left: 18px">

                                                        {% for rango in contenido.rangos %}
                                                            <li>
                                                                <p style="margin-bottom: 0;">
                                                                    {{ rango.tipoPaxTitulo }}
                                                                    {% if rango.tituloPersistente is defined %}
                                                                        ({{ rango.tituloPersistente }})
                                                                    {% endif %}


                                                                    <span style="font-size: 0.9em;">
                                                                            {% if rango.edadMin is defined or rango.edadMax is defined %}

                                                                                {% if rango.edadMin is defined and rango.edadMax is defined and rango.edadMax == rango.edadMin %}
                                                                                    {% trans with {'%edad%': rango.edadMin } from 'messages' %}de %edad% anos{% endtrans %}
                                                                                    {% if rango.edadMax > 18 and rango.edadMax <= 23 %}
                                                                                        &nbsp;({{ 'con_carne_de_estudiante_valido_y_vigente'|trans({},'messages') }})
                                                                                    {% endif %}

                                                                                {% else %}

                                                                                    {% if rango.edadMin is defined %}
                                                                                        {% trans with {'%edad%': rango.edadMin } from 'messages' %}desde %edad% anos{% endtrans %}
                                                                                    {% endif %}

                                                                                    {% if rango.edadMax is defined %}
                                                                                        {% trans with {'%edad%': rango.edadMax } from 'messages' %}hasta %edad% anos{% endtrans %}
                                                                                        {% if rango.edadMax > 18 and rango.edadMax <= 23 %}
                                                                                            &nbsp;({{ 'con_carne_de_estudiante_valido_y_vigente'|trans({},'messages') }})
                                                                                        {% endif %}
                                                                                    {% endif %}

                                                                                {% endif %}

                                                                            {% endif %}
                                                                        </span>
                                                                    <strong>x{{ rango.cantidad }}</strong>:
                                                                </p>

                                                                <ul style="list-style-type: none; padding-left: 18px;">
                                                                    {% for tarifaresumen in rango.resumen | filter(tarifaresumen => tarifaresumen.ventasoles > 0 and tarifaresumen.tipoTarOculto == false) %}
                                                                        <li>
                                                                            <p>
                                                                                {{ tarifaresumen.tipoTarTitulo }}:
                                                                                <span style="font-size: 1.2em; font-weight: bold; color: #1B6129;">
                                                                                        US$ {{ tarifaresumen.ventadolares }}
                                                                                </span>
                                                                                {% if cotizacion.file.paisid == 117 %} {{ 'o'|trans({},'messages') }} <span style="font-weight: bold; color: #1B6129;">S/.{{ tarifaresumen.ventasoles }}</span>{% endif %}
                                                                            </p>
                                                                        </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>

                                                    {% if cotizacion.cotizacion.estadocotizacion != 6 %}

                                                        <h4 style="margin-top: 15px;">{{ 'total'|trans({},'messages')|capitalize}}: </h4>

                                                        <ul style="list-style-type: none; padding-left: 18px;">
                                                            {%  for resumenitem in contenido.resumen | filter (resumenitem => resumenitem.oculto is same as (false)) %}
                                                                <li>
                                                                    <p>
                                                                        {{ resumenitem.titulo }}:
                                                                        <span style="font-size: 1.2em; font-weight: bold; color: #1B6129;">
                                                                            US$ {{ resumenitem.ventadolares }}
                                                                        </span>
                                                                        {% if cotizacion.file.paisid == 117 %} o <span style="font-weight: bold; color: #1B6129;">S/.{{ resumenitem.ventasoles }}</span>{% endif %}

                                                                        <br>{{ 'reserve_con_el'|trans({},'messages') }} {{ cotizacion.cotizacion.adelanto|number_format(2, '.', '')}}% (US$ {{ resumenitem.adelantodolares }}
                                                                        {% if cotizacion.file.paisid == 117 %}
                                                                            {{ 'o'|trans({},'messages') }} S/.{{ resumenitem.adelantosoles }}
                                                                        {% endif %}
                                                                        )

                                                                    </p>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>

                                                    {% endif %}

                                                    {% if cotizacion.cotizacion.estadocotizacion != 6 or cotizacion.file.paisid == 117 %}

                                                        <h4 style="margin-top: 15px;">{{ 'notas'|trans({},'messages')|capitalize }}: </h4>
                                                        <div>
                                                            <p>
                                                                {{ 'la_tarifa'|trans({},'messages')|capitalize }} <span style="font-weight: bold;">{{ 'no_incluye_impuestos'|trans({},'messages') }}</span>, {{ 'consulte_la_exoneracion'|trans({},'messages') }}.
                                                            </p>
                                                            {% if cotizacion.cotizacion.estadocotizacion != 6 %}
                                                                <p>{{ 'la_tarifa_tiene_una_validez_de_3_dias_hasta_el'|trans({},'messages')|capitalize }}
                                                                    <span style="font-weight: bold;">
                                                                        {{ cotizacion.cotizacion.fechacotizacion|date_modify("+3 day")|date("d/m/Y") }}
                                                                    </span>
                                                                </p>
                                                            {% endif %}

                                                            {% if cotizacion.file.paisid == 117 %}
                                                                <p>{{ 'tarifa_base'|trans({},'messages')|capitalize }}:
                                                                    <span style="font-weight: bold;">
                                                                        {{ 'dolares'|trans({},'messages')|upper }}
                                                                    </span>
                                                                </p>
                                                                <p>{{ 'tarifa_en_soles_al_tipo_de_cambio_referencial_de'|trans({},'messages')|capitalize }}
                                                                    <span style="font-weight: bold; color: #1B6129;">
                                                                        {{ cotizacion.cotizacion.tipocambioventa }}
                                                                    </span>
                                                                    {{ 'del_dia'|trans({},'messages') }}
                                                                    <span style="font-weight: bold; color: #1B6129;">
                                                                        {{ cotizacion.cotizacion.fechacotizacion | date("d/m/Y") }}
                                                                    </span>
                                                                </p>
                                                            {% endif %}
                                                        </div>
                                                    {% endif %}
                                                </div>
                                    {% if action == 'show' %}
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if action == 'show' %}
                                    </div>
                                    {% endif %}


                                    {% elseif name == 'incluye' %}
                                        <h3 class="visible-print">{{ contenido.nombre|trans({}, 'messages')|capitalize}}</h3>
                                        {% if action == 'show' %}
                                        <div class="panel-group box box-primary" id="accordionincluye">
                                            <div class="panel panel-default hidden-print">
                                                <div style="background-color: rgba(219,144,8,0.22);" class="panel-heading">
                                                    <h5 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordionincluye" href="#collapseincluye2">
                                                            Interno: Servicios incluidos
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="collapseincluye2" class="panel-collapse collapse in">
                                                    <div class="panel-body table-responsive">
                                                        <h3 class="visible-print">Interno: Servicios incluidos</h3>
                                                        {% for internoIncluido in contenido.internoIncluidos %}
                                                            <h4 style="font-weight: bold;">{{ internoIncluido.tituloItinerario }}:</h4>
                                                            <ul class="list-unstyled">
                                                                {% for tipotarifa in internoIncluido.tipotarifas %}
                                                                    <li><h4>{{ tipotarifa.tituloTipotarifa }}</h4> {#{% if componente.cantidadcomponente > 1 %} <strong>x {{ componente.cantidadcomponente }}</strong> {% endif %}{% if componente.tituloItinerario is defined %} en {{ componente.tituloItinerario }} {% endif %} {% if componente.fecha is defined %} ({{ componente.fecha }}) {% endif %}#}
                                                                        <ul class="fa-ul">
                                                                            {% for componente in tipotarifa.componentes %}
                                                                                <li><i style="color: {{ componente.listacolor }};" class="fa-li fas {{ componente.listaclase }}"></i> {{ componente.nombre }} {% if componente.cantidadComponente > 1 %} <span style="font-weight: bold;"> x {{ componente.cantidadComponente }} {% if internoIncluido.caso == 'hotel' %} {{ 'noches'|trans({},'messages') }} {% else %} {{ 'dias'|trans({},'messages') }} {% endif %}</span>{% endif %} ({{ componente.fecha }})
                                                                                    {% if componente.tarifas is defined %}
                                                                                        <ul style="list-style: none; padding-left: 20px;">
                                                                                            {% for tarifa in componente.tarifas %}
                                                                                                <li>{{ tarifa.nombre }} {% if tarifa.cantidad > 1 %} <span style="font-weight: bold;">x {{ tarifa.cantidad }}</span> {% endif %}
                                                                                                    {% if tarifa.detalles is defined %}
                                                                                                        <ul style="list-style: none; padding-left: 20px;">
                                                                                                            {% for detalle in tarifa.detalles %}
                                                                                                                <li>
                                                                                                                    {% if detalle.tipoId == 4 %}
                                                                                                                        <a target="_blank" href="{{ detalle.contenido }}">{{ detalle.tipoTitulo }}</a>
                                                                                                                    {% else %}
                                                                                                                        {{ detalle.contenido }}
                                                                                                                    {% endif %}
                                                                                                                </li>
                                                                                                            {% endfor %}
                                                                                                        </ul>
                                                                                                    {% endif %}
                                                                                                </li>
                                                                                            {% endfor %}
                                                                                        </ul>
                                                                                    {% endif %}
                                                                                </li>
                                                                            {% endfor %}
                                                                        </ul>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default hidden-print">
                                                <div class="panel-heading">
                                                    <h5 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordionincluye" href="#collapseincluye1">
                                                            Público: Servicios incluidos
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="collapseincluye1" class="panel-collapse collapse">
                                        {% endif%}
                                                    <div class="panel-body table-responsive">
                                                        <h3 class="visible-print">Servicios incluidos</h3>
                                                        <ul class="list-unstyled">
                                                            {% for incluido in contenido.incluidos %}
                                                                <li><h4 style="font-weight: bold;">{{ incluido.tituloItinerario }}:</h4>
                                                                    <ul class="fa-ul" style="margin-left: 1.2em;">
                                                                        {% for tipotarifa in incluido.tipotarifas %}
                                                                            <li><h4>{{ tipotarifa.tituloTipotarifa }}</h4> {#{% if componente.cantidadcomponente > 1 %} <strong>x {{ componente.cantidadcomponente }}</strong> {% endif %}{% if componente.tituloItinerario is defined %} en {{ componente.tituloItinerario }} {% endif %} {% if componente.fecha is defined %} ({{ componente.fecha }}) {% endif %}#}
                                                                                <ul class="fa-ul">
                                                                                    {% for componente in tipotarifa.componentes %}
                                                                                        <li><i style="color: {{ componente.listacolor }};" class="fa-li fas {{ componente.listaclase }}"></i> {{ componente.titulo }} {% if componente.cantidadComponente > 1 %} <span style="font-weight: bold;"> x {{ componente.cantidadComponente }} {% if incluido.caso == 'hotel' %}  {{ 'noches'|trans({},'messages') }} {% else %} {{ 'dias'|trans({},'messages') }} {% endif %}</span>{% endif %} ({{ componente.fecha }})
                                                                                            {% if componente.tarifas is defined %}
                                                                                                <ul class="fa-ul" style="margin-left: 0.5em;">
                                                                                                    {% for tarifa in componente.tarifas %}
                                                                                                        <li>- {% if tarifa.titulo is defined %}
                                                                                                                {{ tarifa.titulo }}
                                                                                                            {% endif %}
                                                                                                            {% if tarifa.modalidad is defined %}
                                                                                                                <span style="font-size: 0.8em; font-weight: bold; color: steelblue;">Mod:</span> {{ tarifa.modalidad }}
                                                                                                            {% endif %}
                                                                                                            {% if tarifa.categoria is defined %}
                                                                                                                <span style="font-size: 0.8em;font-weight: bold; color: steelblue;">Cat:</span> {{ tarifa.categoria }}
                                                                                                            {% endif %}
                                                                                                            {% if tarifa.cantidad > 1 %}
                                                                                                                <span style="font-weight: bold;">x {{ tarifa.cantidad }}</span>
                                                                                                            {% endif %}
                                                                                                            {% if tarifa.mostrarcostoincluye == true %}
                                                                                                                ({{ tarifa.simboloMoneda }} {{ tarifa.costo }})
                                                                                                            {% endif %}
                                                                                                            {% if tarifa.detalles is defined %}
                                                                                                                (
                                                                                                                {% for detalle in tarifa.detalles %}
                                                                                                                    {% if not loop.first %}
                                                                                                                        &nbsp;
                                                                                                                    {% endif %}
                                                                                                                    {% if detalle.tipoId == 4 %}
                                                                                                                        <a target="_blank" href="{{ detalle.contenido }}">{{ detalle.tipoTitulo }}</a>
                                                                                                                    {% else %}
                                                                                                                        <span>{{ detalle.contenido }}</span>
                                                                                                                    {% endif %}
                                                                                                                {% endfor %}
                                                                                                                )
                                                                                                            {% endif %}
                                                                                                        </li>
                                                                                                    {% endfor %}
                                                                                                </ul>
                                                                                            {% endif %}
                                                                                        </li>
                                                                                    {% endfor %}
                                                                                </ul>
                                                                            </li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                        {% if action == 'show' %}
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if action == 'show' %}
                                        </div>
                                        {% endif %}

                                    {% elseif name == 'politica' %}
                                        <h3 class="visible-print">{{ contenido.nombre|trans({}, 'messages')|capitalize}}</h3>
                                        <div class="ck-content">{{ contenido.contenido|raw }}</div>
                                    {% elseif name == 'itinerario' %}
                                        <h3 class="visible-print">{{ contenido.nombre|trans({}, 'messages')|capitalize}}</h3>
                                        {% if action == 'show' %}
                                        <div class="panel-group box box-primary" id="accordionitinerario">
                                            <div class="panel panel-default hidden-print">
                                                <div style="background-color: rgba(219,144,8,0.22);" class="panel-heading">
                                                    <h5 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordionitinerario" href="#collapseitinerario2">
                                                            Interno: Detalle de servicios
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="collapseitinerario2" class="panel-collapse collapse">
                                                    <div class="panel-body table-responsive">
                                                        <h3 class="visible-print">Interno: Detalle de servicios</h3>
                                                        {% if object.cotservicios is defined and object.cotservicios|length > 0%}

                                                            <ul class="fila servicio">

                                                                {% for servicio in object.cotservicios %}
                                                                    <li>
                                                                        <div class="celda heading">Ser</div>
                                                                        <div class="celda">
                                                                            <div class="celda"><div class="titulo">Nombre</div><div class="contenido">{{ servicio.servicio.nombre }}</div></div>
                                                                            <div class="celda"><div class="titulo">Itinerario</div><div class="contenido">{{ servicio.itinerario.nombre|length > 30 ? servicio.itinerario.nombre|slice(0, 30) ~ '...' : servicio.itinerario.nombre }}</div></div>
                                                                            <div class="celda"><div class="titulo">Inicio</div><div class="contenido"><span style="font-weight: bold; color: seagreen;">{{ servicio.fechahorainicio|date("H:i") }}</span> <span>{{ servicio.fechahorainicio|date("Y-m-d") }}</span></div></div>
                                                                            <div class="celda"><div class="titulo">Fin</div><div class="contenido"><span style="font-weight: bold; color: seagreen;">{{ servicio.fechahorafin|date("H:i") }}</span> <span>{{ servicio.fechahorafin|date("Y-m-d") }}</span></div></div>
                                                                        </div>
                                                                        {% if servicio.cotcomponentes is defined and servicio.cotcomponentes|length > 0%}
                                                                            <ul class="fila componente">
                                                                                {% for componente in servicio.cotcomponentes %}
                                                                                    <li>
                                                                                        <div class="celda heading">Com</div>
                                                                                        <div class="celda">
                                                                                            <div class="celda"><div class="titulo">Nombre</div><div class="contenido">{{ componente.componente.nombre }}</div></div>
                                                                                            <div class="celda"><div class="titulo">#</div><div class="contenido">{{ componente.cantidad }}</div></div>
                                                                                            <div class="celda"><div class="titulo">Inicio</div><div class="contenido"><span style="font-weight: bold; color: seagreen;">{{ componente.fechahorainicio|date("H:i") }}</span> <span>{{ componente.fechahorainicio|date("Y-m-d") }}</span></div></div>
                                                                                            <div class="celda"><div class="titulo">Fin</div><div class="contenido"><span style="font-weight: bold; color: seagreen;">{{ componente.fechahorafin|date("H:i") }}</span> <span>{{ componente.fechahorafin|date("Y-m-d") }}</span></div></div>
                                                                                            <div class="celda"><div class="titulo">Estado</div><div class="contenido estadocomponente" style="color: {{ componente.estadocotcomponente.color }};">{{ componente.estadocotcomponente.nombre }}</div></div>
                                                                                            {% if componente.componente.componenteitems is defined and componente.componente.componenteitems|length > 0%}
                                                                                                <div class="celda">
                                                                                                    <div class="titulo">Items</div>
                                                                                                    <div class="contenido">
                                                                                                        {% for item in componente.componente.componenteitems %}
                                                                                                            {% if loop.first == false  %},{% endif%}
                                                                                                            {{ item.titulo }}
                                                                                                        {% endfor %}
                                                                                                    </div>
                                                                                                </div>
                                                                                            {% endif %}
                                                                                        </div>
                                                                                        {% if componente.cottarifas is defined and componente.cottarifas|length > 0%}
                                                                                            <ul class="fila tarifa">
                                                                                                {% for tarifa in componente.cottarifas %}
                                                                                                    <li>
                                                                                                        <div class="celda heading">Tar</div>
                                                                                                        <div class="celda">
                                                                                                            <div class="celda"><div class="titulo">Nombre</div><div class="contenido">{{ tarifa.tarifa.nombre }}</div></div>
                                                                                                            <div class="celda"><div class="titulo">#</div><div class="contenido">{{ tarifa.cantidad }}</div></div>
                                                                                                            <div class="celda"><div class="titulo">Tipo</div><div class="contenido" style="color: {{ tarifa.tarifa.tipotarifa.listacolor }};">{{ tarifa.tarifa.tipotarifa.nombre }}</div></div>
                                                                                                        </div>
                                                                                                        {% if tarifa.cottarifadetalles is defined and tarifa.cottarifadetalles|length > 0%}
                                                                                                            <ul class="fila detalle">
                                                                                                                {% for detalle in tarifa.cottarifadetalles %}
                                                                                                                    <li>
                                                                                                                        <div class="celda heading">Det</div>
                                                                                                                        <div class="celda">
                                                                                                                            <div class="celda"><div class="titulo">Detalle</div><div class="contenido">{{ detalle.detalle }}</div></div>
                                                                                                                            <div class="celda"><div class="titulo">Tipo</div><div class="contenido">{{ detalle.tipotarifadetalle.nombre }}</div></div>
                                                                                                                        </div>
                                                                                                                    </li>
                                                                                                                {% endfor %}
                                                                                                            </ul>
                                                                                                        {% endif %}
                                                                                                    </li>
                                                                                                {% endfor %}
                                                                                            </ul>
                                                                                        {% endif %}
                                                                                    </li>
                                                                                {% endfor %}
                                                                            </ul>
                                                                        {% endif %}
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div style="background-color: rgba(219,144,8,0.22);" class="panel-heading">
                                                    <h5 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordionitinerario" href="#collapseitinerario3">
                                                            Interno: Resumen para proveedores
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="collapseitinerario3" class="panel-collapse collapse in">
                                                    <div class="panel-body table-responsive">
                                                        <h3 class="visible-print">Interno: Resumen para proveedores</h3>
                                                            {% if contenido.proveedores is defined and contenido.proveedores|length > 0 %}
                                                                {% for proveedor in contenido.proveedores %}

                                                                    {% set emailTitulo = 'OpenPeru Reserva Pax: ' ~ cotizacion.file.nombre ~ ' x' ~ cotizacion.cotizacion.numeropasajeros %}

                                                                    <h3>{{ proveedor.nombreMostrar }} <span style="font-size: 70%;">({{ proveedor.nombre }})</span></h3>
                                                                    {% set whatsappText = 'Señor(a/es) ' ~ proveedor.nombreMostrar ~ ', sírvase proveer los siguientes servicios:\n\n'%}
                                                                    {% set emailMensaje = '<p>Señor(a/es) ' ~ proveedor.nombreMostrar ~ ', sírvase proveer los siguientes servicios:</p>'%}

                                                                    <h4>Pax: <span style="font-weight: bold;"> {{ cotizacion.file.nombre }} x{{ cotizacion.cotizacion.numeropasajeros }}</span> ({{ cotizacion.file.paisnombre }} - {{ cotizacion.file.idioma }})</h4>
                                                                    {% set whatsappText = whatsappText ~ 'Pax: *' ~ cotizacion.file.nombre ~ ' x' ~ cotizacion.cotizacion.numeropasajeros ~ '* (' ~ cotizacion.file.paisnombre ~ '-' ~ cotizacion.file.idioma ~ ')' ~ '\n\n' %}
                                                                    {% set emailMensaje = emailMensaje ~ '<h4>Pax: <span style="font-weight: bold;">' ~ cotizacion.file.nombre ~ ' x' ~ cotizacion.cotizacion.numeropasajeros ~ '</span> (' ~ cotizacion.file.paisnombre ~ '-' ~ cotizacion.file.idioma ~ ')' ~ '</h4>' %}

                                                                    {% if proveedor.tarifas is defined and proveedor.tarifas|length > 0%}
                                                                        {% for tarifa in proveedor.tarifas %}
                                                                            <p>
                                                                            {% set emailMensaje = emailMensaje ~ '<p>' %}
                                                                                {% if tarifa.tipoComponenteId == 1  or tarifa.tipoComponenteId == 4 or tarifa.tipoComponenteId == 6 %} {# tickets 1 hoteles 4 pool 6#}
                                                                                    {{ tarifa.fechaHoraInicio|date("Y-m-d") }}
                                                                                    {% set whatsappText = whatsappText ~ tarifa.fechaHoraInicio|date("Y-m-d") %}
                                                                                    {% set emailMensaje = emailMensaje ~ tarifa.fechaHoraInicio|date("Y-m-d") %}

                                                                                {% else %}
                                                                                    {{ tarifa.fechaHoraInicio|date("Y-m-d H:i") }}
                                                                                    {% set whatsappText = whatsappText ~ tarifa.fechaHoraInicio|date("Y-m-d H:i") %}
                                                                                    {% set emailMensaje = emailMensaje ~ tarifa.fechaHoraInicio|date("Y-m-d H:1") %}
                                                                                {% endif %}

                                                                                {{ tarifa.componenteNombre }}
                                                                                {% set whatsappText = whatsappText ~ ' ' ~ tarifa.componenteNombre %}
                                                                                {% if tarifa.componenteCantidad > 1  %}
                                                                                    <span style="font-weight: bold;">x{{ tarifa.componenteCantidad }}</span>
                                                                                    {% set whatsappText = whatsappText ~ ' *x' ~ tarifa.componenteCantidad ~ '*' %}
                                                                                    {% set emailMensaje = emailMensaje ~ ' <span style="font-weight: bold;">x' ~ tarifa.componenteCantidad ~ '</span>' %}
                                                                                {% endif %}
                                                                                {% if tarifa.tipoComponenteId == 4 %}
                                                                                    noches
                                                                                    {% set whatsappText = whatsappText ~ ' noches' %}
                                                                                    {% set emailMensaje = emailMensaje ~ ' noches' %}
                                                                                {% endif %}
                                                                                {% if tarifa.tipoComponenteId != 4 %}
                                                                                    <span style="font-weight: bold;">{{ tarifa.tarifaNombre }}</span>
                                                                                    {% set whatsappText = whatsappText ~ ' *' ~ tarifa.tarifaNombre ~ '*' %}
                                                                                    {% set emailMensaje = emailMensaje ~ ' <span style="font-weight: bold;">' ~ tarifa.tarifaNombre ~ '</span>' %}
                                                                                {% endif %}
                                                                                {% if tarifa.tarifaCantidad is defined %} {# depende del prorateo #}
                                                                                    <span style="font-weight: bold;">x{{ tarifa.tarifaCantidad }}</span>
                                                                                    {% set whatsappText = whatsappText ~ ' *x' ~ tarifa.tarifaCantidad ~ '*' %}
                                                                                    {% set emailMensaje = emailMensaje ~ ' <span style="font-weight: bold;">x' ~ tarifa.tarifaCantidad ~ '</span>' %}
                                                                                {% endif %}
                                                                            {% if tarifa.infoOperativa is defined %}
                                                                                {{ tarifa.infoOperativa }}
                                                                                {% set whatsappText = whatsappText ~ ' ' ~ tarifa.infoOperativa %}
                                                                                {% set emailMensaje = emailMensaje ~ ' ' ~ tarifa.infoOperativa %}
                                                                            {% endif %}
                                                                            {% if tarifa.tipoTarifaId != 1  %}
                                                                                ({{ tarifa.tipoTarifaNombre }})
                                                                                {% set whatsappText = whatsappText ~ ' (' ~ tarifa.tipoTarifaNombre ~ ')' %}
                                                                                {% set emailMensaje = emailMensaje ~ ' (' ~ tarifa.tipoTarifaNombre ~ ')' %}
                                                                            {% endif %}
                                                                            </p>
                                                                            {% set whatsappText = whatsappText ~ '\n' %}
                                                                            {% set emailMensaje = emailMensaje ~ '</p>' %}
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                    {% if proveedor.hoteles is defined and proveedor.hoteles|length > 0%}
                                                                        {% set whatsappText = whatsappText ~ '\n' %}
                                                                        <h4>Hoteles:</h4>
                                                                        {% set whatsappText = whatsappText ~ '*Hoteles:*\n' %}
                                                                        {% set emailMensaje = emailMensaje  ~ '<h4>Hoteles:</h4>' %}
                                                                        {% for hotel in proveedor.hoteles %}
                                                                            <p>
                                                                            {% set emailMensaje = emailMensaje ~ '<p>' %}
                                                                                Del {{hotel.fechaHoraInicio|date("Y-m-d") }} al {{hotel.fechaHoraFin|date("Y-m-d") }} <span style="font-weight: bold;">{{hotel.nombreMostrar }}</span>
                                                                                {% set whatsappText = whatsappText ~ 'Del ' ~ hotel.fechaHoraInicio|date("Y-m-d") ~ ' al ' ~ hotel.fechaHoraFin|date("Y-m-d") ~ ' *' ~ hotel.nombreMostrar ~ '*' %}
                                                                                {% set emailMensaje = emailMensaje ~ 'Del ' ~ hotel.fechaHoraInicio|date("Y-m-d") ~ ' al ' ~ hotel.fechaHoraFin|date("Y-m-d") ~ ' <span style="font-weight: bold;">' ~ hotel.nombreMostrar ~ '</span>' %}
                                                                                {% if hotel.direccion is defined %}
                                                                                    {{ hotel.direccion }}
                                                                                    {% set whatsappText = whatsappText ~ ' ' ~ hotel.direccion %}
                                                                                    {% set emailMensaje = emailMensaje ~ ' ' ~ hotel.direccion %}
                                                                                {% endif %}

                                                                            </p>
                                                                            {% set whatsappText = whatsappText ~ '\n' %}
                                                                            {% set emailMensaje = emailMensaje ~ '</p>' %}
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                    {% if proveedor.telefono is defined %}
                                                                        <a href="https://wa.me/{{proveedor.telefono|replace({'+': '', '(': '',  ')': '',  ' ': ''}) }}?text={{ whatsappText|url_encode }}"
                                                                           class="btn btn-sm btn-success edit_link">
                                                                            <i class="fa fa-whatsapp" aria-hidden="true"></i>
                                                                            Enviar por Whatsapp
                                                                        </a>
                                                                    {% endif %}

                                                                    {% if proveedor.email is defined %}
                                                                        <a href="#"
                                                                           class="btn btn-sm btn-info edit_link"
                                                                           data-toggle="modal"
                                                                           data-target="#emailModal-{{ loop.index }}">
                                                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                                                            Enviar por Correo
                                                                        </a>

                                                                        <div class="modal fade" id="emailModal-{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="emailLabel">
                                                                            <div class="modal-dialog" role="document">
                                                                                <div class="modal-content">
                                                                                    <div class="modal-header">
                                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                                        <h4 class="modal-title" id="myModalLabel-{{ loop.index }}">Enviar Mensaje</h4>
                                                                                    </div>
                                                                                    <div class="modal-body">
                                                                                        Esta seguro que desea enviar el mensaje al proveedor?
                                                                                    </div>
                                                                                    <div class="modal-footer">
                                                                                        <div class="form-group">
                                                                                            <form action="{{ admin.generateObjectUrl('email', object ) }}" method="POST">
                                                                                                <input type="hidden" name="email[mensaje]" value="{{ emailMensaje|url_encode }}" />
                                                                                                <input type="hidden" name="email[titulo]" value="{{ emailTitulo|url_encode }}" />
                                                                                                <input type="hidden" name="email[destinatario]"  value="{{ proveedor.email|url_encode }}" />
                                                                                                <button type="submit" class="btn btn-danger">Enviar E-Mail</button>
                                                                                                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                                                                            </form>
                                                                                        </div>

                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    {% endif %}

                                                                {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default hidden-print">
                                                <div class="panel-heading">
                                                    <h5 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordionitinerario" href="#collapseitinerario1">
                                                            Publico: Itinerario por dia
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="collapseitinerario1" class="panel-collapse collapse">
                                        {% endif%}
                                                    <div class="panel-body table-responsive">
                                                        <h3 class="visible-print">Itinerario</h3>
                                                        {% if contenido.itinerarios is defined and contenido.itinerarios|length > 0 %}

                                                            {% for itinerario in contenido.itinerarios %}

                                                                <h4><span style="font-weight: bold;">{{ itinerario.fecha|format_datetime('full', 'none')}}</span>&nbsp;-&nbsp;<span>{{ 'dia'|trans({},'messages')|capitalize }} {{ itinerario.nroDia }}</span></h4>
                                                                {% for item in itinerario.fechaitems %}
                                                                    {% if item.titulo is defined %}
                                                                        <h4>{{ item.titulo }} - {{ item.tituloDia }}</h4>
                                                                    {% else%}
                                                                        <h4>{{ item.tituloDia }}</h4>
                                                                    {% endif%}
                                                                    <div class="ck-content itinerariodescripcion">{{ item.descripcion|raw }}</div>
                                                                    <div class="container-fluid hidden-print">
                                                                        {% for archivo in item.archivos %}
                                                                            {% if loop.index0 % 2 == 0 %}
                                                                                <div class="row">
                                                                            {% endif %}
                                                                            <div class="col-xs-12 col-sm-6">
                                                                                <div class="thumbnail">
                                                                                    <a href="{% if archivo.tipo == 'local' %}{{ app.request.getSchemeAndHttpHost() ~ archivo.webPath|raw }}{% else %}{{ archivo.webPath|raw }}{% endif %}"{% if archivo.inModal == true %} data-toggle="lightbox" data-gallery="{{ item.tituloDia }}"{% else %} target="_blank" {% endif %}>
                                                                                        <img src="{% if archivo.tipo == 'local' %}{{ app.request.getSchemeAndHttpHost() ~ archivo.webThumbPath|raw }}{% else %}{{ archivo.webThumbPath|raw }}{% endif %}" alt="{{ archivo.titulo }}" {% if archivo.inModal == true %}style="width:100%"{% endif %}>
                                                                                        <div class="caption">
                                                                                            <p style="overflow-wrap: break-word;" class="small text-center">{{ archivo.titulo }}</p>
                                                                                        </div>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                            {% if loop.index % 2 == 0 or loop.last %}
                                                                                </div>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </div>
                                                                    {% if item.nota is defined %}
                                                                        <div class="ck-content itinerarionota post-it">{{ item.nota|raw }}</div>
                                                                    {% endif %}
                                                                {% endfor %}

                                                            {% endfor %}
                                                        {% endif %}
                                                        {% if contenido.notas is defined and contenido.notas|length > 0 %}
                                                            <h4>Notas:</h4>
                                                            {% for nota in contenido.notas %}
                                                                <h5><strong>{{ nota.titulo }}</strong></h5>
                                                                {{ nota.contenido|raw }}
                                                            {% endfor %}
                                                        {% endif %}
                                                    </div>

                                        {% if action == 'show' %}
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if action == 'show' %}
                                            </div>
                                        {% endif %}

                                    {% elseif name == 'horario' %}

                                        <div class="box-body table-responsive no-padding">
                                            <h3 class="visible-print">{{ contenido.nombre|trans({}, 'messages')|capitalize}}</h3>
                                            {% if contenido.componentes is defined and contenido.componentes|length > 0%}
                                                <ul class="fa-ul">
                                                    {% for componente in contenido.componentes | filter(componente => componente.fechahorainicio != componente.fechahorafin ) %}
                                                        <li style="margin-bottom: 10px">
                                                            <i class="fa-li fas fa-map"></i>
                                                            {{ componente.titulo }} en {{ componente.tituloItinerario }}
                                                            <ul class="fa-ul">
                                                                <li>
                                                                    <i class="fa-li fas fa-calendar" style="color: orange;"></i>
                                                                    {{ 'inicio'|trans({},'messages')|capitalize }}: <span style="font-weight: bold">{{ componente.fechahorainicio|date('H:i') }}</span> {{ componente.fechahorainicio|date('Y/m/d') }}
                                                                </li>
                                                                <li>
                                                                    <i class="fa-li fas fa-calendar-check" style="color: green;"></i>
                                                                    {{ 'fin'|trans({},'messages')|capitalize }}: <span style="font-weight: bold">{{ componente.fechahorafin|date('H:i') }}</span> {{ componente.fechahorainicio|date('Y/m/d') }}
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </div>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

</div>

    {{ sonata_block_render_event('sonata.admin.show.bottom', { 'admin': admin, 'object': object }) }}
{% endblock %}
