{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends '@SonataAdmin/CRUD/base_show.html.twig' %}

{% block title %}
    {{admin.toString(object)}}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>

        div.encabezado td {white-space: normal !important;}

        body > div.wrapper > header > nav > div.navbar-custom-menu > ul > li > a { background-color: white; }
        body > div > header > nav > div.navbar-left > div > ol > li.active {max-width: 250px; white-space: nowrap;}

        @media print
        {
            .locale_switcher {display: none !important;}
            .tab-content > .tab-pane {display: block !important; opacity: 1 !important; visibility: visible !important;}
        }

        .fila{list-style: none;}
        .fila.servicio{padding-inline-start: 0; color: black;}
        .fila li {list-style: none; border: 1px solid gray; margin-bottom: 5px;}
        .celda{display: inline-block; padding: 0 5px;}
        .celda.heading{font-weight: bold; font-size: 0.8em; vertical-align: top;}
        .titulo{font-size: 0.8em; font-weight: bold;}
    </style>
{% endblock %}

{% block show %}


<div class="sonata-ba-view">

    {{ sonata_block_render_event('sonata.admin.show.top', { 'admin': admin, 'object': object }) }}

    <div class="row">
        <div class="col-md-12 ">
            <div class="encabezado box box-primary">
                <div class="box-header">
                    <h4 class="box-title">
                        {{ cotizacion.cotizacion.titulo }}
                    </h4>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table">
                        <tbody>
                            {% if action == 'show' %}
                                <tr class="sonata-ba-view-container">
                                    <th>Nombre</th>
                                    <td>{{ cotizacion.cotizacion.nombre }}</td>

                                </tr>
                            {% endif %}
                            <tr class="sonata-ba-view-container">
                                <th>Nombre</th>
                                <td>{{ cotizacion.file.nombre }} ({{ cotizacion.file.paisnombre }}) x {{ cotizacion.cotizacion.numeropasajeros }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            {% if cotizacion.pasajeros is defined or cotizacion.archivos is defined %}
                <div class="panel-group box box-primary" id="accordion">
                    {% if cotizacion.pasajeros is defined and cotizacion.pasajeros|length > 0 %}
                        <div class="panel panel-default hidden-print">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                        <i class="fas fa-users"></i> Relación de pasajeros
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse {# {% if cotizacion.archivos is not defined %} in {% endif %}#}">
                                <div class="panel-body table-responsive no-padding">
                                    <table class="table table-bordered table-striped sonata-ba-list">
                                        <thead>
                                        <tr class="sonata-ba-list-field-header">
                                            <th>
                                                Nombres
                                            </th>
                                            <th>
                                                Apellidos
                                            </th>
                                            <th>
                                                Pais
                                            </th>
                                            <th>
                                                Sexo
                                            </th>
                                            <th>
                                                Tipo doc.
                                            </th>
                                            <th>
                                                Número doc.
                                            </th>
                                            <th>
                                                Fecha nacimiento
                                            </th>
                                            <th>
                                                Edad
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for pasajero in cotizacion.pasajeros %}
                                            <tr>
                                                <td>
                                                    {{ pasajero.nombre }}
                                                </td>
                                                <td>
                                                    {{ pasajero.apellido }}
                                                </td>
                                                <td>
                                                    {{ pasajero.pais }}
                                                </td>
                                                <td>
                                                    {{ pasajero.sexo }}
                                                </td>
                                                <td>
                                                    {{ pasajero.tipodocumento }}
                                                </td>
                                                <td>
                                                    {{ pasajero.numerodocumento }}
                                                </td>
                                                <td>
                                                    {{ pasajero.fechanacimiento|date('Y-m-d') }}
                                                </td>
                                                <td>
                                                    {{ pasajero.edad }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if cotizacion.archivos is defined and cotizacion.archivos|length > 0 %}
                        <div class="panel panel-default hidden-print">
                            <div style="background-color: rgba(0,172,214,0.18);" class="panel-heading">
                                <h5 class="panel-title">
                                    <a style="font-weight: bold;" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                        <i class="fas fa-file"></i> Tickets y documentos
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="container-fluid">
                                        {% for archivo in cotizacion.archivos %}
                                            {% if (action == 'show' or (action == 'resumen' and archivo.interno == false )) %}
                                            <div class="col-xs-4 col-sm-2">
                                                <div class="thumbnail">
                                                    <a href="{% if archivo.tipo == 'local' %}{{ app.request.getSchemeAndHttpHost() ~ archivo.webPath|raw }}{% else %}{{ archivo.webPath|raw }}{% endif %}"{% if archivo.inModal == true %} data-toggle="lightbox"{% else %} target="_blank" {% endif %}>
                                                        <img src="{% if archivo.tipo == 'local' %}{{ app.request.getSchemeAndHttpHost() ~ archivo.webThumbPath|raw }}{% else %}{{ archivo.webThumbPath|raw }}{% endif %}" alt="{{ archivo.nombre }}" style="width:100%">
                                                        <div class="caption">
                                                            <p style="overflow-wrap: break-word;" class="small text-center">{{ archivo.nombre }}</p>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endif %}

            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs hidden-print" role="tablist">
                    {% for name, contenido in tabs %}
                        <li{% if loop.first %} class="active"{% endif %}>
                            <a href="#tab_{{ admin.uniqid }}_{{ loop.index }}" data-toggle="tab">
                                <i class="fas {{ contenido.icono }}" aria-hidden="true"></i>
                                <span style="font-size: 1.2em">{{ contenido.nombre }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>

                <div class="tab-content">
                    {% for name, contenido in tabs %}
                        <div
                                class="tab-pane fade{% if loop.first %} in active{% endif %}"
                                id="tab_{{ admin.uniqid }}_{{ loop.index }}"
                        >
                            <div class="box-body container-fluid">
                                <div class="sonata-ba-collapsed-fields">

                                    {% if name == 'tarifas' %}
                                    <h3 class="visible-print">{{ contenido.nombre}}</h3>
                                    {% if action == 'show' %}
                                    <div class="panel-group box box-primary" id="accordiontarifas">
                                        <div class="panel panel-default hidden-print">
                                            <div class="panel-heading">
                                                <h5 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordiontarifas" href="#collapsetarifas1">
                                                        Precio de venta
                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapsetarifas1" class="panel-collapse collapse in">
                                    {% endif %}
                                                <div class="panel-body table-responsive">

                                                    <h3 class="visible-print">Precio de Venta</h3>

                                                    <h4>Precio por pasajero:</h4>
                                                    <ul style="list-style-type: none; padding-left: 18px">

                                                        {% for rango in contenido.rangos %}
                                                            <li>
                                                                <p style="margin-bottom: 0;">
                                                                    {{ rango.tipoPaxNombre }}
                                                                    {% if rango.tituloPersistente is defined %}
                                                                        &nbsp;&nbsp;{{ rango.tituloPersistente }}
                                                                    {% endif %}


                                                                    <span style="font-size: 0.9em;">
                                                                            {% if rango.edadMin is defined or rango.edadMax is defined %}

                                                                                {% if rango.edadMin is defined and rango.edadMax is defined and rango.edadMax == rango.edadMin %}
                                                                                    de {{ rango.edadMin }} años
                                                                                    {% if rango.edadMax > 18 and rango.edadMax <= 23 %}
                                                                                        &nbsp;(con carné de estudiante válido y vigente)
                                                                                    {% endif %}

                                                                                {% else %}

                                                                                    {% if rango.edadMin is defined %}
                                                                                        desde {{ rango.edadMin }} años
                                                                                    {% endif %}

                                                                                    {% if rango.edadMax is defined %}
                                                                                        hasta {{ rango.edadMax }} años
                                                                                        {% if rango.edadMax > 18 and rango.edadMax <= 23 %}
                                                                                            &nbsp;(con carné de estudiante válido y vigente)
                                                                                        {% endif %}
                                                                                    {% endif %}

                                                                                {% endif %}

                                                                            {% endif %}
                                                                        </span>
                                                                    <strong>x{{ rango.cantidad }}</strong>:
                                                                </p>

                                                                <ul style="list-style-type: none; padding-left: 18px;">
                                                                    {% for tarifaresumen in rango.resumen | filter(tarifaresumen => tarifaresumen.ventasoles > 0 and tarifaresumen.tipoTarOculto == false) %}
                                                                        <li>
                                                                            <p>
                                                                                {{ tarifaresumen.tipoTarTitulo }}:
                                                                                <span style="font-size: 1.2em; font-weight: bold; color: #1B6129;">
                                                                                        US$ {{ tarifaresumen.ventadolares }}
                                                                                </span>
                                                                                {% if cotizacion.file.paisid == 117 %} o <span style="font-weight: bold; color: #1B6129;">S/.{{ tarifaresumen.ventasoles }}</span>{% endif %}
                                                                            </p>
                                                                        </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>

                                                    {% if cotizacion.cotizacion.estadocotizacion != 6 %}

                                                        <h4 style="margin-top: 15px;">Total </h4>

                                                        <ul style="list-style-type: none; padding-left: 18px;">
                                                            {%  for resumenitem in contenido.resumen | filter (resumenitem => resumenitem.oculto is same as (false)) %}
                                                                <li>
                                                                    <p>
                                                                        {{ resumenitem.titulo }}:
                                                                        <span style="font-size: 1.2em; font-weight: bold; color: #1B6129;">
                                                                            US$ {{ resumenitem.ventadolares }}
                                                                        </span>
                                                                        {% if cotizacion.file.paisid == 117 %} o <span style="font-weight: bold; color: #1B6129;">S/.{{ resumenitem.ventasoles }}</span>{% endif %}

                                                                        , reserve con el {{ cotizacion.cotizacion.adelanto|number_format(2, '.', '')}}% (US$ {{ resumenitem.adelantodolares }}
                                                                        {% if cotizacion.file.paisid == 117 %}
                                                                            o S/.{{ resumenitem.adelantosoles }}
                                                                        {% endif %}
                                                                        )

                                                                    </p>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>

                                                    {% endif %}

                                                    {% if cotizacion.cotizacion.estadocotizacion != 6 or cotizacion.file.paisid == 117 %}

                                                        <h4 style="margin-top: 15px;">Notas: </h4>
                                                        <div>
                                                            {% if cotizacion.cotizacion.estadocotizacion != 6 %}
                                                                <p>La tarifa tiene una validez de 3 dias hasta el
                                                                    <span style="font-weight: bold;">
                                                                        {{ cotizacion.cotizacion.fechacotizacion|date_modify("+3 day")|date("d/m/Y") }}
                                                                    </span>
                                                                </p>
                                                            {% endif %}

                                                            {% if cotizacion.file.paisid == 117 %}
                                                                <p>Tarifa base:
                                                                    <span style="font-weight: bold;">
                                                                        DOLARES
                                                                    </span>
                                                                </p>
                                                                <p>Tarifa en soles al tipo de cambio referencial de
                                                                    <span style="font-weight: bold; color: #1B6129;">
                                                                        {{ cotizacion.cotizacion.tipocambioventa }}
                                                                    </span>
                                                                    del dia
                                                                    <span style="font-weight: bold; color: #1B6129;">
                                                                        {{ cotizacion.cotizacion.fechacotizacion | date("d/m/Y") }}
                                                                    </span>
                                                                </p>
                                                            {% endif %}
                                                        </div>
                                                    {% endif %}
                                                </div>
                                    {% if action == 'show' %}
                                            </div>
                                        </div>
                                    {% endif %}

                                        {% if action == 'show' %}
                                            <div class="panel panel-default hidden-print">
                                                <div style="background-color: rgba(219,144,8,0.22);" class="panel-heading">
                                                    <h5 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordiontarifas" href="#collapsetarifas2">
                                                            Interno: Valores
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="collapsetarifas2" class="panel-collapse collapse">
                                                    <div class="panel-body table-responsive">
                                                        <h3 class="visible-print">Valores</h3>
                                                        <h4><strong>Resumen General</strong> al <span style="font-size: 0.7em;"> {{ cotizacion.cotizacion.comision|number_format(2, '.', '')}}% </span></h4>
                                                        <div class="box-body table-responsive no-padding">
                                                            <table class="table table-bordered table-striped sonata-ba-list">
                                                                <thead>
                                                                <tr class="sonata-ba-list-field-header">
                                                                    <th class="text-center">
                                                                        Ganancia<br />S/.
                                                                    </th>
                                                                    <th class="text-center">
                                                                        Ganancia<br />$
                                                                    </th>
                                                                    <th class="text-center">
                                                                        Típo
                                                                    </th>
                                                                    <th class="text-center">
                                                                        Costo<br />S/.
                                                                    </th>
                                                                    <th class="text-center">
                                                                        Costo<br />$
                                                                    </th>
                                                                    <th class="text-center">
                                                                        Venta<br />S/.
                                                                    </th>
                                                                    <th class="text-center">
                                                                        Venta<br />$
                                                                    </th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                {%  for resumenitem in contenido.resumen %}
                                                                    <tr>
                                                                        <td class="text-right" style="font-weight: bold; color: #1B6129;">
                                                                            {{ resumenitem.gananciasoles }}
                                                                        </td>
                                                                        <td class="text-right" style="font-weight: bold; color: #1B6129;">
                                                                            {{ resumenitem.gananciadolares }}
                                                                        </td>
                                                                        <td style="color: {{ resumenitem.listacolor }}">
                                                                            {{ resumenitem.titulo }}
                                                                        </td>
                                                                        <td class="text-right">
                                                                            {{ resumenitem.montosoles }}
                                                                        </td>
                                                                        <td class="text-right">
                                                                            {{ resumenitem.montodolares }}
                                                                        </td>
                                                                        <td class="text-right">
                                                                            {{ resumenitem.ventasoles }}
                                                                        </td>
                                                                        <td class="text-right">
                                                                            {{ resumenitem.ventadolares }}
                                                                        </td>

                                                                    </tr>
                                                                {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <br />
                                                        <h4><strong>Por tipo de pasajero</strong></h4>
                                                        {% for rango in contenido.rangos %}
                                                            <h4>
                                                                {{ rango.tipoPaxNombre }} <strong>x {{ rango.cantidad }}</strong>
                                                            </h4>
                                                            {% if rango.edadMin is defined or rango.edadMax is defined%}
                                                                <p>
                                                                    {% if rango.edadMin is defined and rango.edadMax is defined and rango.edadMax == rango.edadMin %}
                                                                        de {{ rango.edadMin }} años
                                                                        {% if rango.edadMax > 18 and rango.edadMax <= 23 %}
                                                                            &nbsp;<br />(con carné de estudiante válido y vigente)
                                                                        {% endif %}

                                                                    {% else %}
                                                                        {% if rango.edadMin is defined %}
                                                                            desde {{ rango.edadMin }} años
                                                                        {% endif %}

                                                                        {% if rango.edadMax is defined %}
                                                                            hasta {{ rango.edadMax }} años
                                                                            {% if rango.edadMax > 18 and rango.edadMax <= 23 %}
                                                                                <br />(con carné de estudiante válido y vigente)
                                                                            {% endif %}
                                                                        {% endif %}

                                                                    {% endif %}

                                                                </p>
                                                            {% endif %}

                                                            {% if rango.tituloPersistente is defined %}
                                                                <h5>{{ rango.tituloPersistente }}</h5>
                                                            {% endif %}
                                                            <div style="margin-left: 15px;" class="box-body table-responsive no-padding">
                                                                <table class="table table-bordered table-striped sonata-ba-list">
                                                                    <thead>
                                                                    <tr class="sonata-ba-list-field-header">
                                                                        <th>
                                                                            Monto Cotizado
                                                                        </th>
                                                                        <th>
                                                                            Tipo
                                                                        </th>
                                                                        <th>
                                                                            Componente (Tarifa)
                                                                        </th>
                                                                        <th>
                                                                            Servicio
                                                                        </th>
                                                                        <th class="text-right">
                                                                            Venta soles
                                                                        </th>
                                                                        <th class="text-right">
                                                                            Venta dolares
                                                                        </th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    {%  for tarifadetalle in rango.tarifas %}
                                                                    <tr>
                                                                        <td style="font-weight: bold;  color: #1B6129;">
                                                                            {% if tarifadetalle.cantidadComponente > 1 %}
                                                                                {{ tarifadetalle.cantidadComponente }} x&nbsp;
                                                                            {% endif %}
                                                                            {{ tarifadetalle.montoOriginal }}&nbsp;{{ tarifadetalle.monedaOriginal }}
                                                                            {% if tarifadetalle.prorrateado %}
                                                                                &nbsp;(P)
                                                                            {% else %}
                                                                                &nbsp;(U)
                                                                            {% endif %}
                                                                        </td>
                                                                        <td style="color: {{ tarifadetalle.tipoTarListacolor }};">
                                                                            {{ tarifadetalle.tipoTarTitulo }}
                                                                        </td>
                                                                        <td>
                                                                            {{ tarifadetalle.nombreComponente }} ({{ tarifadetalle.nombre }})
                                                                        </td>
                                                                        <td>
                                                                            {{ tarifadetalle.nombreServicio }}
                                                                        </td>
                                                                        <td class="text-right">
                                                                            {{ tarifadetalle.ventasoles }}
                                                                        </td>
                                                                        <td class="text-right">
                                                                            {{ tarifadetalle.ventadolares }}
                                                                        </td>

                                                                        {% endfor %}
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <br />
                                                            <div style="margin-left: 30px;" class="box-body table-responsive no-padding">
                                                                <table class="table table-bordered table-striped sonata-ba-list">
                                                                    <thead>
                                                                    <tr class="sonata-ba-list-field-header">
                                                                        <th>
                                                                            Tipo
                                                                        </th>
                                                                        <th>
                                                                            Tipo para Pax
                                                                        </th>
                                                                        <th class="text-right">
                                                                            Costo Soles
                                                                        </th>
                                                                        <th class="text-right">
                                                                            Costo Dolares
                                                                        </th>
                                                                        <th class="text-right">
                                                                            Venta soles
                                                                        </th>
                                                                        <th class="text-right">
                                                                            Venta dolares
                                                                        </th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    {%  for tarifaresumen in rango.resumen %}
                                                                    <tr>
                                                                        <td style="color: {{ tarifaresumen.tipoTarListacolor }}">
                                                                            {{ tarifaresumen.tipoTarNombre }}
                                                                        </td>
                                                                        <td style="color: {{ tarifaresumen.tipoTarListacolor }}">
                                                                            {{ tarifaresumen.tipoTarTitulo }}
                                                                        </td>
                                                                        <td class="text-right">
                                                                            {{ tarifaresumen.montosoles }}
                                                                        </td>
                                                                        <td class="text-right">
                                                                            {{ tarifaresumen.montodolares }}
                                                                        </td>
                                                                        <td class="text-right">
                                                                            {{ tarifaresumen.ventasoles }}
                                                                        </td>
                                                                        <td class="text-right">
                                                                            {{ tarifaresumen.ventadolares }}
                                                                        </td>
                                                                        {% endfor %}
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <br />
                                                        {% endfor %}

                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% if action == 'show' %}
                                    </div>
                                    {% endif %}


                                    {% elseif name == 'incluye' %}
                                        <h3 class="visible-print">{{ contenido.nombre}}</h3>
                                        {% if action == 'show' %}
                                        <div class="panel-group box box-primary" id="accordionincluye">
                                            <div class="panel panel-default hidden-print">
                                                <div class="panel-heading">
                                                    <h5 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordionincluye" href="#collapseincluye1">
                                                            Publico: Servicios incluidos
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="collapseincluye1" class="panel-collapse collapse in">
                                        {% endif%}
                                                    <div class="panel-body table-responsive">
                                                        <h3 class="visible-print">Servicios incluidos</h3>
                                                        {% for incluido in contenido.incluidos %}
                                                            <h4 style="font-weight: bold;">{{ incluido.tituloItinerario }}:</h4>
                                                            <ul class="list-unstyled">
                                                                {% for tipotarifa in incluido.tipotarifas %}
                                                                    <li><h4>{{ tipotarifa.tituloTipotarifa }}</h4> {#{% if componente.cantidadcomponente > 1 %} <strong>x {{ componente.cantidadcomponente }}</strong> {% endif %}{% if componente.tituloItinerario is defined %} en {{ componente.tituloItinerario }} {% endif %} {% if componente.fecha is defined %} ({{ componente.fecha }}) {% endif %}#}
                                                                        <ul class="fa-ul">
                                                                            {% for componente in tipotarifa.componentes %}
                                                                                <li><i style="color: {{ componente.listacolor }};" class="fa-li fas {{ componente.listaclase }}"></i>{% if componente.cantidadComponente > 1 %} <span style="font-weight: bold;">{{ componente.cantidadComponente }} x</span>{% endif %} {{ componente.titulo }}  ({{ componente.fecha }})
                                                                                    {% if componente.tarifas is defined %}
                                                                                        <ul style="list-style: none; padding-left: 20px;">
                                                                                            {% for tarifa in componente.tarifas %}
                                                                                                <li>{{ tarifa.titulo }} {% if tarifa.cantidad > 1 %} <span style="font-weight: bold;">x {{ tarifa.cantidad }}</span> {% endif %}{% if tarifa.mostrarcostoincluye == true %}({{ tarifa.simboloMoneda }} {{ tarifa.costo }}){% endif %}
                                                                                                    {% if tarifa.detalles is defined %}
                                                                                                        (
                                                                                                        {% for detalle in tarifa.detalles %}
                                                                                                            {% if not loop.first %}
                                                                                                                &nbsp;
                                                                                                            {% endif %}
                                                                                                            {% if detalle.tipoId == 4 %}
                                                                                                                <a target="_blank" href="{{ detalle.contenido }}">{{ detalle.tipoTitulo }}</a>
                                                                                                            {% else %}
                                                                                                                <span>{{ detalle.contenido }}</span>
                                                                                                            {% endif %}
                                                                                                        {% endfor %}
                                                                                                        )
                                                                                                    {% endif %}
                                                                                                </li>
                                                                                            {% endfor %}
                                                                                        </ul>
                                                                                    {% endif %}
                                                                                </li>
                                                                            {% endfor %}
                                                                        </ul>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        {% endfor %}
                                                    </div>
                                        {% if action == 'show' %}
                                                </div>
                                            </div>
                                        {% endif %}

                                            {% if action == 'show' %}
                                                <div class="panel panel-default hidden-print">
                                                    <div style="background-color: rgba(219,144,8,0.22);" class="panel-heading">
                                                        <h5 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordionincluye" href="#collapseincluye2">
                                                                Interno: Servicios incluidos
                                                            </a>
                                                        </h5>
                                                    </div>
                                                    <div id="collapseincluye2" class="panel-collapse collapse">
                                                        <div class="panel-body table-responsive">
                                                            <h3 class="visible-print">Interno: Servicios incluidos</h3>
                                                            {% for internoIncluido in contenido.internoIncluidos %}
                                                                <h4 style="font-weight: bold;">{{ internoIncluido.tituloItinerario }}:</h4>
                                                                <ul class="list-unstyled">
                                                                    {% for tipotarifa in internoIncluido.tipotarifas %}
                                                                        <li><h4>{{ tipotarifa.tituloTipotarifa }}</h4> {#{% if componente.cantidadcomponente > 1 %} <strong>x {{ componente.cantidadcomponente }}</strong> {% endif %}{% if componente.tituloItinerario is defined %} en {{ componente.tituloItinerario }} {% endif %} {% if componente.fecha is defined %} ({{ componente.fecha }}) {% endif %}#}
                                                                            <ul class="fa-ul">
                                                                                {% for componente in tipotarifa.componentes %}
                                                                                    <li><i style="color: {{ componente.listacolor }};" class="fa-li fas {{ componente.listaclase }}"></i>{% if componente.cantidadComponente > 1 %} <span style="font-weight: bold;">{{ componente.cantidadComponente }} x</span>{% endif %} {{ componente.nombre }}  ({{ componente.fecha }})
                                                                                        {% if componente.tarifas is defined %}
                                                                                            <ul style="list-style: none; padding-left: 20px;">
                                                                                                {% for tarifa in componente.tarifas %}
                                                                                                    <li>{{ tarifa.nombre }} {% if tarifa.cantidad > 1 %} <span style="font-weight: bold;">x {{ tarifa.cantidad }}</span> {% endif %}
                                                                                                        {% if tarifa.detalles is defined %}
                                                                                                            <ul style="list-style: none; padding-left: 20px;">
                                                                                                            {% for detalle in tarifa.detalles %}
                                                                                                                <li>
                                                                                                                {% if detalle.tipoId == 4 %}
                                                                                                                    <a target="_blank" href="{{ detalle.contenido }}">{{ detalle.tipoTitulo }}</a>
                                                                                                                {% else %}
                                                                                                                    {{ detalle.contenido }}
                                                                                                                {% endif %}
                                                                                                                </li>
                                                                                                            {% endfor %}
                                                                                                            </ul>
                                                                                                        {% endif %}
                                                                                                    </li>
                                                                                                {% endfor %}
                                                                                            </ul>
                                                                                        {% endif %}
                                                                                    </li>
                                                                                {% endfor %}
                                                                            </ul>
                                                                        </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% if action == 'show' %}
                                        </div>
                                        {% endif %}

                                    {% elseif name == 'politica' %}
                                        <h3 class="visible-print">{{ contenido.nombre}}</h3>
                                        {{ contenido.contenido|raw }}
                                    {% elseif name == 'itinerario' %}
                                        <h3 class="visible-print">{{ contenido.nombre}}</h3>
                                        {% if action == 'show' %}
                                        <div class="panel-group box box-primary" id="accordionitinerario">
                                            <div class="panel panel-default hidden-print">
                                                <div class="panel-heading">
                                                    <h5 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordionitinerario" href="#collapseitinerario1">
                                                            Publico: Itinerario por dia
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="collapseitinerario1" class="panel-collapse collapse in">
                                        {% endif%}
                                                    <div class="panel-body table-responsive">
                                                        <h3 class="visible-print">Itinerario</h3>
                                                        {% if contenido.itinerarios is defined and contenido.itinerarios|length > 0 %}

                                                            {% for itinerario in contenido.itinerarios %}

                                                                <h4><span style="font-weight: bold;">{{ itinerario.fecha }}</span>&nbsp;-&nbsp;<span>Dia {{ itinerario.nroDia }}</span></h4>
                                                                {% for item in itinerario.fechaitems %}
                                                                    <h4>{{ item.titulo }}</h4>
                                                                    {{ item.descripcion|raw }}
                                                                    <div class="container-fluid hidden-print">
                                                                        {% for archivo in item.archivos %}
                                                                            {% if loop.index0 % 2 == 0 %}
                                                                                <div class="row">
                                                                            {% endif %}
                                                                            <div class="col-xs-12 col-sm-6">
                                                                                <div class="thumbnail">
                                                                                    <a href="{% if archivo.tipo == 'local' %}{{ app.request.getSchemeAndHttpHost() ~ archivo.webPath|raw }}{% else %}{{ archivo.webPath|raw }}{% endif %}"{% if archivo.inModal == true %} data-toggle="lightbox" data-gallery="{{ item.titulo }}"{% else %} target="_blank" {% endif %}>
                                                                                        <img src="{% if archivo.tipo == 'local' %}{{ app.request.getSchemeAndHttpHost() ~ archivo.webThumbPath|raw }}{% else %}{{ archivo.webThumbPath|raw }}{% endif %}" alt="{{ archivo.titulo }}" style="width:100%">
                                                                                        <div class="caption">
                                                                                            <p style="overflow-wrap: break-word;" class="small text-center">{{ archivo.titulo }}</p>
                                                                                        </div>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                            {% if loop.index % 2 == 0 or loop.last %}
                                                                                </div>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </div>
                                                                {% endfor %}

                                                            {% endfor %}
                                                        {% endif %}
                                                        {% if contenido.notas is defined and contenido.notas|length > 0 %}
                                                            <h4>Notas:</h4>
                                                            {% for nota in contenido.notas %}
                                                                <h5><strong>{{ nota.titulo }}</strong></h5>
                                                                {{ nota.contenido|raw }}
                                                            {% endfor %}
                                                        {% endif %}
                                                    </div>

                                        {% if action == 'show' %}
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if action == 'show' %}
                                            <div class="panel panel-default hidden-print">
                                                <div style="background-color: rgba(219,144,8,0.22);" class="panel-heading">
                                                    <h5 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordionitinerario" href="#collapseitinerario2">
                                                            Interno: Detalle de servicios
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="collapseitinerario2" class="panel-collapse collapse">
                                                    <div class="panel-body table-responsive">
                                                        <h3 class="visible-print">Interno: Detalle de servicios</h3>
                                                        {% if object.cotservicios is defined and object.cotservicios|length > 0%}

                                                            <ul class="fila servicio">

                                                                {% for servicio in object.cotservicios %}
                                                                    <li>
                                                                        <div class="celda heading">Ser</div>
                                                                        <div class="celda">
                                                                            <div class="celda"><div class="titulo">Nombre</div><div class="contenido">{{ servicio.servicio.nombre }}</div></div>
                                                                            <div class="celda"><div class="titulo">Itinerario</div><div class="contenido">{{ servicio.itinerario.nombre|length > 30 ? servicio.itinerario.nombre|slice(0, 30) ~ '...' : servicio.itinerario.nombre }}</div></div>
                                                                            <div class="celda"><div class="titulo">Inicio</div><div class="contenido"><span style="font-weight: bold; color: seagreen;">{{ servicio.fechahorainicio|date("H:i") }}</span> <span>{{ servicio.fechahorainicio|date("Y-m-d") }}</span></div></div>
                                                                            <div class="celda"><div class="titulo">Fin</div><div class="contenido"><span style="font-weight: bold; color: seagreen;">{{ servicio.fechahorafin|date("H:i") }}</span> <span>{{ servicio.fechahorafin|date("Y-m-d") }}</span></div></div>
                                                                        </div>
                                                                        {% if servicio.cotcomponentes is defined and servicio.cotcomponentes|length > 0%}
                                                                            <ul class="fila componente">
                                                                                {% for componente in servicio.cotcomponentes %}
                                                                                    <li>
                                                                                        <div class="celda heading">Com</div>
                                                                                        <div class="celda">
                                                                                            <div class="celda"><div class="titulo">Nombre</div><div class="contenido">{{ componente.componente.nombre }}</div></div>
                                                                                            <div class="celda"><div class="titulo">#</div><div class="contenido">{{ componente.cantidad }}</div></div>
                                                                                            <div class="celda"><div class="titulo">Inicio</div><div class="contenido"><span style="font-weight: bold; color: seagreen;">{{ componente.fechahorainicio|date("H:i") }}</span> <span>{{ componente.fechahorainicio|date("Y-m-d") }}</span></div></div>
                                                                                            <div class="celda"><div class="titulo">Fin</div><div class="contenido"><span style="font-weight: bold; color: seagreen;">{{ componente.fechahorafin|date("H:i") }}</span> <span>{{ componente.fechahorafin|date("Y-m-d") }}</span></div></div>
                                                                                            <div class="celda"><div class="titulo">Estado</div><div class="contenido estadocomponente" style="color: {{ componente.estadocotcomponente.color }};">{{ componente.estadocotcomponente.nombre }}</div></div>
                                                                                            {% if componente.componente.componenteitems is defined and componente.componente.componenteitems|length > 0%}
                                                                                                <div class="celda">
                                                                                                    <div class="titulo">Items</div>
                                                                                                    <div class="contenido">
                                                                                                        {% for item in componente.componente.componenteitems %}
                                                                                                            {% if loop.first == false  %},{% endif%}
                                                                                                            {{ item.titulo }}
                                                                                                        {% endfor %}
                                                                                                    </div>
                                                                                                </div>
                                                                                            {% endif %}
                                                                                        </div>
                                                                                        {% if componente.cottarifas is defined and componente.cottarifas|length > 0%}
                                                                                            <ul class="fila tarifa">
                                                                                                {% for tarifa in componente.cottarifas %}
                                                                                                    <li>
                                                                                                        <div class="celda heading">Tar</div>
                                                                                                        <div class="celda">
                                                                                                            <div class="celda"><div class="titulo">Nombre</div><div class="contenido">{{ tarifa.tarifa.nombre }}</div></div>
                                                                                                            <div class="celda"><div class="titulo">#</div><div class="contenido">{{ tarifa.cantidad }}</div></div>
                                                                                                            <div class="celda"><div class="titulo">Tipo</div><div class="contenido" style="color: {{ tarifa.tarifa.tipotarifa.listacolor }};">{{ tarifa.tarifa.tipotarifa.nombre }}</div></div>
                                                                                                        </div>
                                                                                                        {% if tarifa.cottarifadetalles is defined and tarifa.cottarifadetalles|length > 0%}
                                                                                                            <ul class="fila detalle">
                                                                                                                {% for detalle in tarifa.cottarifadetalles %}
                                                                                                                    <li>
                                                                                                                        <div class="celda heading">Det</div>
                                                                                                                        <div class="celda">
                                                                                                                            <div class="celda"><div class="titulo">Detalle</div><div class="contenido">{{ detalle.detalle }}</div></div>
                                                                                                                            <div class="celda"><div class="titulo">Tipo</div><div class="contenido">{{ detalle.tipotarifadetalle.nombre }}</div></div>
                                                                                                                        </div>
                                                                                                                    </li>
                                                                                                                {% endfor %}
                                                                                                            </ul>
                                                                                                        {% endif %}
                                                                                                    </li>
                                                                                                {% endfor %}
                                                                                            </ul>
                                                                                        {% endif %}
                                                                                    </li>
                                                                                {% endfor %}
                                                                            </ul>
                                                                        {% endif %}
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if action == 'show' %}
                                            </div>
                                        {% endif %}





                                    {% elseif name == 'agenda' %}

                                        <div class="box-body table-responsive no-padding">
                                            <h3 class="visible-print">{{ contenido.nombre}}</h3>
                                            <ul class="fa-ul">
                                                {% for componente in contenido.componentes | filter(componente => componente.fechahorainicio != componente.fechahorafin ) %}
                                                    <li>
                                                        <i class="fa-li fas fa-map"></i>
                                                        {{ componente.titulo }} en {{ componente.tituloItinerario }}
                                                        <ul class="fa-ul">
                                                            <li>
                                                                <i class="fa-li fas fa-calendar"></i>
                                                                Inicio: <span style="font-weight: bold">{{ componente.fechahorainicio|date('H:i Y/m/d') }}</span>
                                                            </li>
                                                            <li>
                                                                <i class="fa-li fas fa-calendar-check"></i>
                                                                Fin: <span style="font-weight: bold">{{ componente.fechahorafin|date('H:i Y/m/d') }}</span>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

</div>

    {{ sonata_block_render_event('sonata.admin.show.bottom', { 'admin': admin, 'object': object }) }}
{% endblock %}
