{% extends 'base_sonata_admin/show.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>

        @import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

        .post-it { max-width:450px; position:relative; background:#ffa; overflow:hidden; margin:15px auto 30px auto; padding:20px; border-radius:0 0 0 30px/45px; box-shadow: inset 0 -40px 40px rgba(0,0,0,0.2), inset 0 25px 10px rgba(0,0,0,0.2), 0 5px 6px 5px rgba(0,0,0,0.2); font-family: 'Permanent Marker', cursive; line-height:1.7em; font-size: 0.9em; -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); color: #130d6b; }
        .post-it:before { content:""; display:block; position:absolute; width:20px; height:25px; background:#ffa; box-shadow: 3px -2px 10px rgba(0,0,0,0.2), inset 15px -15px 15px rgba(0,0,0,0.3); left:0; bottom:0; z-index:2; transform:skewX(25deg); }
        .post-it:after { content:""; display:block; position:absolute; width:75%; height:20px; border-top:3px solid #130d6b; border-radius: 50% ; bottom:0; left:10%; }

        #tab-{{ admin.uniqid }}-operativa .fila { list-style: none; }
        #tab-{{ admin.uniqid }}-operativa .fila.servicio { padding-inline-start: 0; margin: 5px; }
        #tab-{{ admin.uniqid }}-operativa .fila li { list-style: none; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; margin-bottom: 5px; }
        #tab-{{ admin.uniqid }}-operativa .celda { display: inline-block; padding: 0 5px; }
        #tab-{{ admin.uniqid }}-operativa .celda.heading { font-weight: bold; font-size: 0.8em; vertical-align: top; }

        #tab-{{ admin.uniqid }}-resumen .resumen-item { padding: 5px 0;}
        #tab-{{ admin.uniqid }}-resumen .resumen-servicios p.componente-incluye {}
        
        .titulo{font-size: 0.8em; font-weight: bold; }
        .generales-box .box-header { display: none; }
        .generales-box .box-body .resumen-text { min-height: 20px; margin: 10px 0; border-radius: 5px; font-size: 1.1em; padding: 7px 7px 0 7px; background-color: rgba(147, 184, 255, 0.2) }
        .generales-box .box-body .codigo { color: {{ colores.verde_claro }}; float: right; font-size: 1.1em; font-weight: 600; }
        .generales-box .box-body .idioma { color: {{ colores.rojo_oscuro }}; }

        .boton-acordeonsuperior.acordeon-tickets { background-color: #f39c1240; }
        .boton-acordeonsuperior { padding: 7px 10px; }
        .boton-acordeonsuperior .panel-title>a { font-size: 14px; font-weight: 600; }
        .boton-acordeonsuperior .panel-title>a:hover { color: gray; }

    </style>
{% endblock %}

{% block show %}

<div class="sonata-ba-view">

    {{ sonata_block_render_event('sonata.admin.show.top', { 'admin': admin, 'object': object }) }}

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="generales-box box box-primary">
                <div class="box-header">
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table">
                        <tbody>
                            {% if action == 'show' %}
                                <tr class="sonata-ba-view-container">
                                    <th>{{ 'cotizacion'|trans({},'messages')|capitalize }}</th>
                                    <td>{{ object.nombre }}</td>
                                </tr>
                            {% endif %}
                            <tr class="sonata-ba-view-container">
                                {% if object.estadocotizacion.id != constant('App\\Entity\\CotizacionEstadocotizacion::DB_VALOR_PLANTILLA') %}
                                    <th>{{ 'nombre'|trans({},'messages')|capitalize }}</th>
                                    <td>{{ object.file.nombre }} x {{ object.numeropasajeros }} - {{ object.file.pais.nombre }}
                                        <span class="idioma">({{ object.file.idioma.nombre }})</span>
                                        <span class="codigo">{{ object.codigo }}</span>
                                    </td>
                                {% else %}
                                    <td><span class="codigo">{{ object.codigo }}</span></td>
                                {% endif %}
                            </tr>
                            {% if action != 'resumen' and object.file.telefono is not empty %}
                                <tr class="sonata-ba-view-container">
                                    <td colspan="2">
                                        <a href="tel:{{ object.file.telefono }}"
                                           class="btn btn-sm btn-success">
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                            Llamar
                                        </a>
                                        <a data-text="{{ object.file.telefono }}"
                                           data-tooltiptext="Copiado al portapapeles"
                                           class="btn btn-sm btn-success clipboard-trigger">
                                            <i class="fa fa-file-text" aria-hidden="true"></i>
                                            Copiar número
                                        </a>
                                        <a href="https://wa.me/{{object.file.telefono|replace({'-': '', '+': '', '(': '',  ')': '',  ' ': ''}) }}"
                                           target="_blank" class="btn btn-sm btn-success edit_link">
                                            <i class="fa fa-whatsapp" aria-hidden="true"></i>
                                            Whatsapp
                                        </a>
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                    <div class="box-body container-fluid">
                        <div class="resumen-text ck-content">{{ object.resumen|raw }}</div>
                        {% if app.request.locale != app.request.defaultLocale %}
                            <div style="opacity: 0.6;" class="resumen-text ck-content">{{ object.resumenoriginal|raw }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% if object.file.filepasajeros is not empty or object.file.filedocumentos is not empty %}
                <div class="panel-group box box-primary" id="accordion">
                    {% if object.file.filepasajeros|length > 0 %}
                        <div class="panel panel-default hidden-print">
                            <div class="panel-heading boton-acordeonsuperior">
                                <h5 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                        <i class="fas fa-users tab-icon"></i> {{ 'namelist'|trans({},'messages')|capitalize }}
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse {# {% if cotizacion.archivos is not defined %} in {% endif %}#}">
                                <div class="panel-body table-responsive no-padding">
                                    <table class="table table-bordered table-striped sonata-ba-list">
                                        <thead>
                                        <tr class="sonata-ba-list-field-header">
                                            <th>
                                                {{ 'nombres'|trans({},'messages')|capitalize }}
                                            </th>
                                            <th>
                                                {{ 'apellidos'|trans({},'messages')|capitalize }}
                                            </th>
                                            <th>
                                                {{ 'pais'|trans({},'messages')|capitalize }}
                                            </th>
                                            <th>
                                                {{ 'sexo'|trans({},'messages')|capitalize }}
                                            </th>
                                            <th>
                                                {{ 'tipodoc'|trans({},'messages')|capitalize }}
                                            </th>
                                            <th>
                                                {{ 'numerodoc'|trans({},'messages')|capitalize }}
                                            </th>
                                            <th>
                                                {{ 'fechanacimiento'|trans({},'messages')|capitalize }}
                                            </th>
                                            <th>
                                                {{ 'edad'|trans({},'messages')|capitalize }}
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for pasajero in object.file.filepasajeros %}
                                            <tr>
                                                <td>
                                                    {{ pasajero.nombre }}
                                                </td>
                                                <td>
                                                    {{ pasajero.apellido }}
                                                </td>
                                                <td>
                                                    {{ pasajero.pais.nombre }}
                                                </td>
                                                <td>
                                                    {{ pasajero.sexo.nombre }}
                                                </td>
                                                <td>
                                                    {{ pasajero.tipodocumento.nombre }}
                                                </td>
                                                <td>
                                                    {{ pasajero.numerodocumento }}
                                                </td>
                                                <td>
                                                    {{ pasajero.fechanacimiento|date('Y-m-d') }}
                                                </td>
                                                <td>
                                                    {{ pasajero.edad }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if object.file.filedocumentos|length > 0 %}
                        <div class="panel panel-default hidden-print">
                            <div class="panel-heading boton-acordeonsuperior acordeon-tickets">
                                <h5 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                        <i class="fas fa-file tab-icon"></i> {{ 'tickets_y_documentos'|trans({},'messages')|capitalize }}
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="container-fluid">
                                        {% for archivo in object.file.filedocumentos %}
                                            {% if (action == 'show' or (action == 'resumen' and archivo.tipofiledocumento.interno == false )) %}
                                            <div class="col-xs-4 col-sm-2">
                                                <div class="thumbnail thumbnail-fluid">
                                                    <a href="{% if archivo.tipo == 'local' %}{{ app.request.getSchemeAndHttpHost() ~ archivo.webPath|raw }}{% else %}{{ archivo.webPath|raw }}{% endif %}"{% if archivo.inModal == true %} data-toggle="lightbox"{% else %} target="_blank" {% endif %}>
                                                        <img src="{% if archivo.tipo == 'local' %}{{ app.request.getSchemeAndHttpHost() ~ archivo.webThumbPath|raw }}{% else %}{{ archivo.webThumbPath|raw }}{% endif %}"
                                                             alt="{{ archivo.nombre }}"
                                                             class="{% if archivo.inModal == true %}in-modal{% endif %} {% if archivo.aspectRatio is not null and archivo.aspectRatio < 1 %}portrait{% elseif archivo.aspectRatio >= 1 %}landscape{% endif %}"
                                                        >
                                                        <div class="caption">
                                                            <p style="overflow-wrap: break-word;" class="small text-center">{{ archivo.nombre }}</p>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endif %}

            <div class="nav-tabs-custom">

                <ul class="nav nav-tabs hidden-print" role="tablist">

                    <li class="active">
                        <a href="#tab-{{ admin.uniqid }}-resumen" data-toggle="tab">
                            <i style="color: {{ colores.lila }};" class="fas fa-list tab-icon" aria-hidden="true"></i>
                            <span>{{ 'tab_resumen'|trans({},'messages')|capitalize}}</span>
                        </a>
                    </li>

                    <li>
                        <a href="#tab-{{ admin.uniqid }}-itinerario" data-toggle="tab">
                            <i style="color: {{ colores.lila }}; " class="fas fa-map tab-icon" aria-hidden="true"></i>
                            <span>{{ 'tab_itinerario'|trans({},'messages')|capitalize}}</span>
                        </a>
                    </li>

                    {% if action == 'show' or object.precioocultoresumen == false %}
                        <li>
                            <a href="#tab-{{ admin.uniqid }}-tarifas" data-toggle="tab">
                                <i style="color: {{ colores.verde_oscuro }};" class="fas fa-dollar-sign tab-icon" aria-hidden="true"></i>
                                <span>{{ 'tab_precio'|trans({},'messages')|capitalize}}</span>
                            </a>
                        </li>
                    {% endif %}

                    <li>
                        <a href="#tab-{{ admin.uniqid }}-incluye" data-toggle="tab">
                            <i style="color: #ff9090" class="fas fa-check tab-icon" aria-hidden="true"></i>
                            <span>{{ 'tab_incluidos'|trans({},'messages')|capitalize}}</span>
                        </a>
                    </li>

                    {% if object.estadocotizacion.id != constant('App\\Entity\\CotizacionEstadocotizacion::DB_VALOR_PLANTILLA') %}
                    <li>
                        <a href="#tab-{{ admin.uniqid }}-agenda" data-toggle="tab">
                            <i style="color: #ffa751" class="fas fa-calendar tab-icon" aria-hidden="true"></i>
                            <span>{{ 'tab_agenda'|trans({},'messages')|capitalize}}</span>
                        </a>
                    </li>
                    {% endif %}

                    {% if action == 'show' or object.precioocultoresumen == false %}
                        <li>
                            <a href="#tab-{{ admin.uniqid }}-politica" data-toggle="tab">
                                <i class="fas fa-exclamation tab-icon" aria-hidden="true"></i>
                                <span>{{ 'tab_terminos'|trans({},'messages')|capitalize}}</span>
                            </a>
                        </li>
                    {% endif %}

                    {% if action == 'show' %}
                        <li>
                            <a href="#tab-{{ admin.uniqid }}-valores" data-toggle="tab">
                                <i style="color: {{ colores.verde_oscuro }};" class="fas fa-money-bill tab-icon" aria-hidden="true"></i>
                                <span>{{ 'tab_valores'|trans({},'messages')|capitalize}}</span>
                            </a>
                        </li>
                    {% endif %}

                    {% if action == 'show' %}
                        <li>
                            <a href="#tab-{{ admin.uniqid }}-internoincluye" data-toggle="tab">
                                <i style="color: #ff9090" class="fas fa-check-double tab-icon" aria-hidden="true"></i>
                                <span>{{ 'tab_internoincluye'|trans({},'messages')|capitalize}}</span>
                            </a>
                        </li>
                    {% endif %}

                    {% if action == 'show' %}
                    <li>
                        <a href="#tab-{{ admin.uniqid }}-operativa" data-toggle="tab">
                            <i style="color: {{ colores.lila }}" class="fas fa-map tab-icon" aria-hidden="true"></i>
                            <span>{{ 'tab_operativa'|trans({},'messages')|capitalize}}</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if action == 'show' %}
                    <li>
                        <a href="#tab-{{ admin.uniqid }}-mensajes" data-toggle="tab">
                            <i class="fas fa-envelope tab-icon" aria-hidden="true"></i>
                            <span>{{ 'tab_mensajes'|trans({},'messages')|capitalize}}</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>

                <div class="tab-content no-padding">

                    <div class="tab-pane fade in active" id="tab-{{ admin.uniqid }}-resumen">
                        {% include 'cotizacion_cotizacion_admin/show__resumen.html.twig' %}
                    </div>

                    <div class="tab-pane fade in" id="tab-{{ admin.uniqid }}-itinerario">
                        {% include 'cotizacion_cotizacion_admin/show__itinerario.html.twig' %}
                    </div>

                    {% if action == 'show' or object.precioocultoresumen == false %}
                        <div class="tab-pane fade" id="tab-{{ admin.uniqid }}-tarifas">
                            {% include 'cotizacion_cotizacion_admin/show__tarifas.html.twig' %}
                        </div>
                    {% endif %}

                    <div class="tab-pane fade" id="tab-{{ admin.uniqid }}-incluye">
                        {% include 'cotizacion_cotizacion_admin/show__incluye.html.twig' %}
                    </div>

                    {% if object.estadocotizacion.id != constant('App\\Entity\\CotizacionEstadocotizacion::DB_VALOR_PLANTILLA') %}
                    <div class="tab-pane fade" id="tab-{{ admin.uniqid }}-agenda">
                        {% include 'cotizacion_cotizacion_admin/show__agenda.html.twig' %}
                    </div>
                    {% endif %}

                    {% if action == 'show' or object.precioocultoresumen == false %}
                        <div class="tab-pane fade" id="tab-{{ admin.uniqid }}-politica">
                            <div class="box-body container-fluid">
                                <div class="sonata-ba-collapsed-fields">
                                    <div class="box-body table-responsive">
                                        <h3 class="visible-print">{{ 'tab_terminos'|trans({}, 'messages')|capitalize}}</h3>
                                        <div class="ck-content">{{ object.cotpolitica.contenido|raw }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if action == 'show' %}
                    <div class="tab-pane fade" id="tab-{{ admin.uniqid }}-valores">
                        {% include 'cotizacion_cotizacion_admin/show__valores.html.twig' %}
                    </div>
                    {% endif %}

                    {% if action == 'show' %}
                    <div class="tab-pane fade" id="tab-{{ admin.uniqid }}-internoincluye">
                        {% include 'cotizacion_cotizacion_admin/show__internoincluye.html.twig' %}
                    </div>
                    {% endif %}

                    {% if action == 'show' %}
                    <div class="tab-pane fade" id="tab-{{ admin.uniqid }}-operativa">
                        {% include 'cotizacion_cotizacion_admin/show__operativa.html.twig' %}
                    </div>
                    {% endif %}

                    {% if action == 'show' %}
                    <div class="tab-pane fade" id="tab-{{ admin.uniqid }}-mensajes">
                        {% include 'cotizacion_cotizacion_admin/show__mensajes.html.twig' %}
                    </div>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>

</div>

    {{ sonata_block_render_event('sonata.admin.show.bottom', { 'admin': admin, 'object': object }) }}
{% endblock %}
