<div class="box-body container-fluid">
    <div class="sonata-ba-collapsed-fields">
        <div class="panel-body table-responsive">
            <h3 class="visible-print">{{ 'tab_resumen'|trans({}, 'messages')|capitalize}}</h3>
            {% set whatsappText = 'Cliente: *' ~ object.file.nombre ~ ' x' ~ object.numeropasajeros ~ '* (' ~ object.file.pais.nombre ~ ' - *' ~ object.file.idioma.nombre ~ '*)' ~ '\n' %}
            {% set whatsappText = whatsappText ~ 'Resumen: \n\n' %}

            <ul class="list-unstyled">
                {% if tabs.resumen.alojamientos is defined %}
                    {% for index_alojamiento, alojamiento in tabs.resumen.alojamientos %}
                        <li class="col-md-12 col-xs-12 resumen-item row-line resumen-alojamiento">

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <h4 class="titulo-verde">
                                    {% if alojamiento.tipoTarifa.id != constant('App\\Entity\\ServicioTipotarifa::DB_VALOR_NORMAL') %}
                                        {% set whatsappText = whatsappText ~ '(' ~ alojamiento.tipoTarifa.titulo ~ ')\n' %}
                                        ({{ alojamiento.tipoTarifa.titulo }})
                                    {% endif %}
                                    {% set whatsappText = whatsappText ~ alojamiento.duracionStr ~ ' de ' ~ alojamiento.titulo ~ '\n' %}
                                    {{ alojamiento.duracionStr }} de {{ alojamiento.titulo }}:
                                    {% if alojamiento.tarifaTitulo is defined %}
                                        {% set whatsappText = whatsappText ~ alojamiento.tarifaTitulo ~ '\n' %}
                                        {{ alojamiento.tarifaTitulo }}
                                    {% endif %}
                                </h4>
                                {% if object.file.catalogo != true %}
                                    <p>Del {{ alojamiento.fechaInicio|date('Y-m-d') }} al {{ alojamiento.fechaFin|date('Y-m-d') }}</p>
                                    {% set whatsappText = whatsappText ~ 'Del: ' ~ alojamiento.fechaInicio|date('Y-m-d') ~ ' al: ' ~ alojamiento.fechaFin|date('Y-m-d') ~ '\n' %}
                                {% endif %}
                                {% if alojamiento.detalles is defined %}
                                    <ul>
                                        {% for detalle in alojamiento.detalles %}
                                            <li class="margin-top-10">{{ detalle }}</li>
                                            {% set whatsappText = whatsappText ~ detalle ~ '\n' %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>

                            {% if alojamiento.proveedor is defined %}
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <h4 style="font-weight: 600;">{{alojamiento.proveedor.nombre}}</h4>
                                    {% set whatsappText = whatsappText ~ '*' ~ alojamiento.proveedor.nombre ~ '* \n' %}

                                    {% if alojamiento.proveedor.providermedios is not empty %}
                                        <div id="carousel_{{ index_alojamiento }}" class="carousel slide" data-interval="10000" data-ride="carousel">
                                            <!-- indicadores -->
                                            <ol class="carousel-indicators">
                                                {% for index_medio, medio in alojamiento.proveedor.providermedios %}
                                                    <li data-target="#carousel_{{ index_alojamiento }}" data-slide-to="{{ index_medio }}" {% if loop.first == true  %}class="active"{% endif%}></li>
                                                {% endfor %}
                                            </ol>
                                            <!-- slides -->
                                            <div class="carousel-inner" role="listbox">
                                                {% for medio in alojamiento.proveedor.providermedios %}
                                                    <div class="item{% if loop.first == true  %} active{% endif%}">
                                                        <a href="{% if medio.tipo == 'local' %}{{ app.request.getSchemeAndHttpHost() ~ medio.webPath|raw }}{% else %}{{ medio.webPath|raw }}{% endif %}"{% if medio.inModal == true %} data-toggle="lightbox" data-gallery="galeria_hotel_{{ index_alojamiento }}"{% else %} target="_blank" {% endif %}>
                                                            <img src="{% if medio.tipo == 'local' %}{{ app.request.getSchemeAndHttpHost() ~ medio.webThumbPath|raw }}{% else %}{{ medio.webThumbPath|raw }}{% endif %}"
                                                                 alt="{{ medio.titulo }}"
                                                                 class="{% if medio.inModal == true %}in-modal{% endif %} {% if medio.aspectRatio is not null and medio.aspectRatio < 1 %}portrait{% elseif medio.aspectRatio >= 1 %}landscape{% endif %}"
                                                            >
                                                            <div class="carousel-caption">
                                                                <p style="overflow-wrap: break-word;" class="small text-center">{{ medio.titulo }}</p>
                                                            </div>
                                                        </a>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <!-- botones -->
                                            <a class="left carousel-control" href="#carousel_{{ index_alojamiento }}" role="button" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                                <span class="sr-only">{{ 'anterior'|trans({}, 'messages')|capitalize}}</span>
                                            </a>
                                            <a class="right carousel-control" href="#carousel_{{ index_alojamiento }}" role="button" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                                <span class="sr-only">{{ 'siguiente'|trans({}, 'messages')|capitalize}}</span>
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}

                        </li>
                        {% set whatsappText = whatsappText ~ '\n' %}
                    {% endfor %}
                {% endif %}

                {% if tabs.resumen.serviciosConTituloItinerario is defined %}
                    {% for index_servicio, servicioConTituloItinerario in tabs.resumen.serviciosConTituloItinerario %}
                        <li class="col-md-12 col-xs-12 resumen-item row-line resumen-servicios">

                            <div class="{% if servicioConTituloItinerario.fotos is not empty %}col-md-3 col-sm-6 col-xs-12{% else %}col-md-6 col-sm-6 col-xs-12{% endif %}">
                                {% set whatsappText = whatsappText ~ '*' ~ servicioConTituloItinerario.tituloItinerario ~ '* \n' %}
                                <h4 class="titulo-verde">{{ servicioConTituloItinerario.tituloItinerario }}</h4>
                                {% if servicioConTituloItinerario.fechaInicio is defined %}
                                    {% if object.file.catalogo != true %}
                                        {% if servicioConTituloItinerario.fechaInicio != servicioConTituloItinerario.fechaFin %}
                                            {% set whatsappText = whatsappText ~ 'Fecha Inicio:' ~ servicioConTituloItinerario.fechaInicio|date('Y-m-d') ~ '\n' %}
                                            {% set whatsappText = whatsappText ~ 'Fecha Fin:' ~ servicioConTituloItinerario.fechaFin|date('Y-m-d') ~ '\n' %}
                                            <p><span style="font-weight: 600;">Fecha Inicio:</span> {{ servicioConTituloItinerario.fechaInicio|date('Y-m-d') }}</p>
                                            <p><span style="font-weight: 600;">Fecha Fin:</span> {{ servicioConTituloItinerario.fechaFin|date('Y-m-d') }}</p>
                                        {% else %}
                                            {% set whatsappText = whatsappText ~ 'Fecha:' ~ servicioConTituloItinerario.fechaInicio|date('Y-m-d') ~ '\n' %}
                                            <p><span style="font-weight: 600;">Fecha:</span> {{ servicioConTituloItinerario.fechaInicio|date('Y-m-d') }}</p>
                                        {% endif %}
                                    {% endif %}
                                    {% if servicioConTituloItinerario.duracionStr is defined %}
                                        <p><span style="font-weight: 600;">Duración:</span> {{ servicioConTituloItinerario.duracionStr }}</p>
                                    {% endif %}
                                {% endif %}
                            </div>

                            {% if servicioConTituloItinerario.fotos is not empty %}
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div id="carousel_{{ index_servicio }}" class="carousel slide margin-top-10" data-interval="10000" data-ride="carousel">
                                        <!-- indicadores -->
                                        <ol class="carousel-indicators">
                                            {% for index_foto, foto in servicioConTituloItinerario.fotos %}
                                                <li data-target="#carousel_{{ index_servicio }}" data-slide-to="{{ index_foto }}" {% if foto.portada == true  %}class="active"{% endif%}></li>
                                            {% endfor %}
                                        </ol>
                                        <!-- slides -->
                                        <div class="carousel-inner" role="listbox">
                                            {% for foto in servicioConTituloItinerario.fotos %}
                                                <div class="item{% if foto.portada == true  %} active{% endif%}">
                                                    <a href="{% if foto.medio.tipo == 'local' %}{{ app.request.getSchemeAndHttpHost() ~ foto.medio.webPath|raw }}{% else %}{{ foto.medio.webPath|raw }}{% endif %}"{% if foto.medio.inModal == true %} data-toggle="lightbox" data-gallery="galeria_servicio_{{ index_servicio }}"{% else %} target="_blank" {% endif %}>
                                                        <img src="{% if foto.medio.tipo == 'local' %}{{ app.request.getSchemeAndHttpHost() ~ foto.medio.webThumbPath|raw }}{% else %}{{ foto.medio.webThumbPath|raw }}{% endif %}"
                                                             alt="{{ foto.medio.titulo }}"
                                                             class="{% if foto.medio.inModal == true %}in-modal{% endif %} {% if foto.medio.aspectRatio is not null and foto.medio.aspectRatio < 1 %}portrait{% elseif foto.medio.aspectRatio >= 1 %}landscape{% endif %}"
                                                        >
                                                        <div class="carousel-caption">
                                                            <p style="overflow-wrap: break-word;" class="small text-center">{{ foto.medio.titulo }}</p>
                                                        </div>
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <!-- botones -->
                                        <a class="left carousel-control" href="#carousel_{{ index_servicio }}" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                            <span class="sr-only">{{ 'anterior'|trans({}, 'messages')|capitalize}}</span>
                                        </a>
                                        <a class="right carousel-control" href="#carousel_{{ index_servicio }}" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                            <span class="sr-only">{{ 'siguiente'|trans({}, 'messages')|capitalize}}</span>
                                        </a>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="col-md-6 col-xs-12">
                                {% apply spaceless %}
                                    {% for tipoTarifa in servicioConTituloItinerario.tipoTarifas %}
                                        <p class="componente-incluye margin-top-10">
                                            <span style="font-weight: 600;">{{ tipoTarifa.tituloTipotarifa }}:</span>
                                            {% set whatsappText = whatsappText ~ tipoTarifa.tituloTipotarifa ~ ': ' %}
                                            {% for componente in tipoTarifa.componentes %}
                                                {% set whatsappText = whatsappText ~ componente.titulo %}
                                                {{ componente.titulo }}{% if loop.last== false  %}, {% set whatsappText = whatsappText ~ ', ' %}{% else %}.{% set whatsappText = whatsappText ~ '.\n' %}{% endif %}
                                            {% endfor %}
                                        </p>
                                    {% endfor %}
                                {% endapply %}
                            </div>
                        </li>
                        {% set whatsappText = whatsappText ~ '\n' %}
                    {% endfor %}
                {% endif %}

                {% if tabs.resumen.serviciosSinTituloItinerario is defined %}
                    <li class="col-md-12 col-xs-12 resumen-item row-line resumen-otros-servicios">
                        <div class="col-md-6 col-xs-12">
                            {% set whatsappText = whatsappText ~ 'otros_servicios'|trans({}, 'messages')|capitalize ~ '\n\n' %}
                            <h4 class="titulo-verde">{{ 'otros_servicios'|trans({}, 'messages')|capitalize}}</h4>

                        </div>
                        <div class="col-md-6 col-xs-12">
                            {% apply spaceless %}
                                {% for tipoTarifa in tabs.resumen.serviciosSinTituloItinerario.tipoTarifas %}
                                    <p>
                                        {% set whatsappText = whatsappText ~ tipoTarifa.tituloTipotarifa ~ ': ' %}
                                        <span style="font-weight: 600;">{{ tipoTarifa.tituloTipotarifa }}:</span>
                                        {% for componente in tipoTarifa.componentes %}
                                            {% set whatsappText = whatsappText ~ componente.titulo %}
                                            {{ componente.titulo }}{% if loop.last== false  %}, {% set whatsappText = whatsappText ~ ', ' %}{% else %}.{% set whatsappText = whatsappText ~ '.\n' %}{% endif %}
                                        {% endfor %}
                                    </p>
                                    {% set whatsappText = whatsappText ~ '\n' %}
                                {% endfor %}
                            {% endapply %}
                        </div>
                    </li>
                {% endif %}

                {% if action == 'show' %}

                    {% if object.file.telefono is not empty %}
                        {% set whatsappNumero = object.file.telefono %}
                    {% else %}
                        {% set whatsappNumero = numero_default %}
                    {% endif %}
                    <li>
                        <a href="https://wa.me/{{whatsappNumero|replace({'-': '', '+': '', '(': '',  ')': '',  ' ': ''}) }}?text={{ whatsappText|url_encode }}"
                           target="_blank" class="btn btn-sm btn-success margin-top-10">
                            <i class="fa fa-whatsapp" aria-hidden="true"></i>
                            Enviar por Whatsapp
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>