{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends '@SonataAdmin/CRUD/base_show.html.twig' %}

{% block title %}
    {{admin.toString(object)}}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>

        @import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

        .post-it {
            max-width:450px;
            position:relative;
            background:#ffa;
            overflow:hidden;
            margin:15px auto 30px auto;
            padding:20px;
            border-radius:0 0 0 30px/45px;
            box-shadow: inset 0 -40px 40px rgba(0,0,0,0.2), inset 0 25px 10px rgba(0,0,0,0.2), 0 5px 6px 5px rgba(0,0,0,0.2);
            font-family: 'Permanent Marker', cursive;
            line-height:1.7em;
            font-size: 0.9em;
            -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
            color:#130d6b;
        }

        .post-it:before {
            content:"";
            display:block;
            position:absolute;
            width:20px;
            height:25px;
            background:#ffa;
            box-shadow:
                    3px -2px 10px rgba(0,0,0,0.2),
                    inset 15px -15px 15px rgba(0,0,0,0.3);
            left:0;
            bottom:0;
            z-index:2;
            transform:skewX(25deg);
        }

        .post-it:after {
            content:"";
            display:block;
            position:absolute;
            width:75%;
            height:20px;
            border-top:3px solid #130d6b;
            border-radius: 50% ;
            bottom:0;
            left:10%;
        }

        @media print
        {
            .locale_switcher {display: none !important;}
            .tab-content > .tab-pane {display: block !important; opacity: 1 !important; visibility: visible !important;}
        }

        .fila{list-style: none;}
        .fila.servicio{padding-inline-start: 0; margin: 5px;}
        .fila li {list-style: none; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; margin-bottom: 5px;}
        .celda{display: inline-block; padding: 0 5px;}
        .celda.heading{font-weight: bold; font-size: 0.8em; vertical-align: top;}
        .titulo{font-size: 0.8em; font-weight: bold;}
    </style>
{% endblock %}

{% block show %}

<div class="sonata-ba-view">

    {{ sonata_block_render_event('sonata.admin.show.top', { 'admin': admin, 'object': object }) }}

    <div class="row">
        <div class="col-md-12 ">
            <div class="encabezado box box-primary">
                <div class="box-header">
                    <h4 class="box-title">
                        {{ object.titulo }}
                    </h4>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table">
                        <tbody>
                            {% if action == 'show' %}
                                <tr class="sonata-ba-view-container">
                                    <th>{{ 'cotizacion'|trans({},'messages')|capitalize }}</th>
                                    <td>{{ object.nombre }}</td>
                                </tr>
                            {% endif %}
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'nombre'|trans({},'messages')|capitalize }}</th>
                                <td>{{ object.file.nombre }} x {{ object.numeropasajeros }} ({{ object.file.pais.nombre }} <span style="color: #710000;">{{ object.file.idioma.nombre }}</span>)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            {% if object.file.filepasajeros is not empty or object.file.filedocumentos is not empty %}
                <div class="panel-group box box-primary" id="accordion">
                    {% if object.file.filepasajeros|length > 0 %}
                        <div class="panel panel-default hidden-print">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                        <i class="fas fa-users"></i> {{ 'namelist'|trans({},'messages')|capitalize }}
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse {# {% if cotizacion.archivos is not defined %} in {% endif %}#}">
                                <div class="panel-body table-responsive no-padding">
                                    <table class="table table-bordered table-striped sonata-ba-list">
                                        <thead>
                                        <tr class="sonata-ba-list-field-header">
                                            <th>
                                                {{ 'nombres'|trans({},'messages')|capitalize }}
                                            </th>
                                            <th>
                                                {{ 'apellidos'|trans({},'messages')|capitalize }}
                                            </th>
                                            <th>
                                                {{ 'pais'|trans({},'messages')|capitalize }}
                                            </th>
                                            <th>
                                                {{ 'sexo'|trans({},'messages')|capitalize }}
                                            </th>
                                            <th>
                                                {{ 'tipodoc'|trans({},'messages')|capitalize }}
                                            </th>
                                            <th>
                                                {{ 'numerodoc'|trans({},'messages')|capitalize }}
                                            </th>
                                            <th>
                                                {{ 'fechanacimiento'|trans({},'messages')|capitalize }}
                                            </th>
                                            <th>
                                                {{ 'edad'|trans({},'messages')|capitalize }}
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for pasajero in object.file.filepasajeros %}
                                            <tr>
                                                <td>
                                                    {{ pasajero.nombre }}
                                                </td>
                                                <td>
                                                    {{ pasajero.apellido }}
                                                </td>
                                                <td>
                                                    {{ pasajero.pais.nombre }}
                                                </td>
                                                <td>
                                                    {{ pasajero.sexo.nombre }}
                                                </td>
                                                <td>
                                                    {{ pasajero.tipodocumento.nombre }}
                                                </td>
                                                <td>
                                                    {{ pasajero.numerodocumento }}
                                                </td>
                                                <td>
                                                    {{ pasajero.fechanacimiento|date('Y-m-d') }}
                                                </td>
                                                <td>
                                                    {{ pasajero.edad }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if object.file.filedocumentos|length > 0 %}
                        <div class="panel panel-default hidden-print">
                            <div style="background-color: rgba(0,172,214,0.18);" class="panel-heading">
                                <h5 class="panel-title">
                                    <a style="font-weight: bold;" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                        <i class="fas fa-file"></i> {{ 'tickets_y_documentos'|trans({},'messages')|capitalize }}
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="container-fluid">
                                        {% for archivo in object.file.filedocumentos %}
                                            {% if (action == 'show' or (action == 'resumen' and archivo.tipofiledocumento.interno == false )) %}
                                            <div class="col-xs-4 col-sm-2">
                                                <div class="thumbnail">
                                                    <a href="{% if archivo.tipo == 'local' %}{{ app.request.getSchemeAndHttpHost() ~ archivo.webPath|raw }}{% else %}{{ archivo.webPath|raw }}{% endif %}"{% if archivo.inModal == true %} data-toggle="lightbox"{% else %} target="_blank" {% endif %}>
                                                        <img src="{% if archivo.tipo == 'local' %}{{ app.request.getSchemeAndHttpHost() ~ archivo.webThumbPath|raw }}{% else %}{{ archivo.webThumbPath|raw }}{% endif %}" alt="{{ archivo.nombre }}" {% if archivo.inModal == true %}style="width:100%"{% endif %}>
                                                        <div class="caption">
                                                            <p style="overflow-wrap: break-word;" class="small text-center">{{ archivo.nombre }}</p>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endif %}

            <div class="nav-tabs-custom">

                <ul class="nav nav-tabs hidden-print" role="tablist">
                    <li class="active">
                        <a href="#tab_{{ admin.uniqid }}_itinerario" data-toggle="tab">
                            <i class="fas fa-map" aria-hidden="true"></i>
                            <span style="font-size: 1.2em">{{ 'tab_itinerario'|trans({},'messages')|capitalize}}</span>
                        </a>
                    </li>

                    <li>
                        <a href="#tab_{{ admin.uniqid }}_tarifas" data-toggle="tab">
                            <i class="fas fa-dollar-sign" aria-hidden="true"></i>
                            <span style="font-size: 1.2em">{{ 'tab_precio'|trans({},'messages')|capitalize}}</span>
                        </a>
                    </li>

                    <li>
                        <a href="#tab_{{ admin.uniqid }}_incluye" data-toggle="tab">
                            <i class="fas fa-check" aria-hidden="true"></i>
                            <span style="font-size: 1.2em">{{ 'tab_incluidos'|trans({},'messages')|capitalize}}</span>
                        </a>
                    </li>

                    <li>
                        <a href="#tab_{{ admin.uniqid }}_agenda" data-toggle="tab">
                            <i class="fas fa-calendar" aria-hidden="true"></i>
                            <span style="font-size: 1.2em">{{ 'tab_agenda'|trans({},'messages')|capitalize}}</span>
                        </a>
                    </li>

                    <li>
                        <a href="#tab_{{ admin.uniqid }}_politica" data-toggle="tab">
                            <i class="fas fa-exclamation" aria-hidden="true"></i>
                            <span style="font-size: 1.2em">{{ 'tab_terminos'|trans({},'messages')|capitalize}}</span>
                        </a>
                    </li>
                </ul>

                <div class="tab-content">

                    <div class="tab-pane fade in active" id="tab_{{ admin.uniqid }}_itinerario">
                        {% include 'cotizacion_cotservicio_admin/show__itinerario.html.twig' %}
                    </div>

                    <div class="tab-pane fade in active" id="tab_{{ admin.uniqid }}_tarifas">
                        {% include 'cotizacion_cotservicio_admin/show__tarifas.html.twig' %}
                    </div>

                    <div class="tab-pane fade in active" id="tab_{{ admin.uniqid }}_incluye">
                        {% include 'cotizacion_cotservicio_admin/show__incluye.html.twig' %}
                    </div>

                    <div class="tab-pane fade in active" id="tab_{{ admin.uniqid }}_agenda">
                        <div class="box-body container-fluid">
                            <div class="sonata-ba-collapsed-fields">
                                <div class="box-body table-responsive no-padding">
                                    <h3 class="visible-print">{{ 'tab_agenda'|trans({}, 'messages')|capitalize}}</h3>
                                    {% if tabs.agenda.componentes is defined and tabs.agenda.componentes|length > 0%}
                                        <ul class="fa-ul">
                                            {% for componente in tabs.agenda.componentes | filter(componente => componente.fechahorainicio != componente.fechahorafin ) %}
                                                <li style="margin-bottom: 10px">
                                                    <i class="fa-li fas fa-map"></i>
                                                    {{ componente.titulo }} en {{ componente.tituloItinerario }}
                                                    <ul class="fa-ul">
                                                        <li>
                                                            <i class="fa-li fas fa-calendar" style="color: orange;"></i>
                                                            {{ 'inicio'|trans({},'messages')|capitalize }}: <span style="font-weight: bold">{{ componente.fechahorainicio|date('H:i') }}</span> {{ componente.fechahorainicio|date('Y/m/d') }}
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fas fa-calendar-check" style="color: green;"></i>
                                                            {{ 'fin'|trans({},'messages')|capitalize }}: <span style="font-weight: bold">{{ componente.fechahorafin|date('H:i') }}</span> {{ componente.fechahorainicio|date('Y/m/d') }}
                                                        </li>
                                                    </ul>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade in active" id="tab_{{ admin.uniqid }}_politica">
                        <div class="box-body container-fluid">
                            <div class="sonata-ba-collapsed-fields">
                                <h3 class="visible-print">{{ 'tab_terminos'|trans({}, 'messages')|capitalize}}</h3>
                                <div class="ck-content">{{ object.cotpolitica.contenido|raw }}</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>

    {{ sonata_block_render_event('sonata.admin.show.bottom', { 'admin': admin, 'object': object }) }}
{% endblock %}
