
{% extends '@SonataAdmin/CRUD/base_show.html.twig' %}

{% block title %}
    {{admin.toString(object)}}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>

        div.encabezado td {white-space: normal !important;}
        body > div.wrapper > header > nav > div.navbar-custom-menu > ul > li > a { background-color: white; }
        body > div > header > nav > div.navbar-left > div > ol > li.active {max-width: 250px; white-space: nowrap;}
        @media print
        {
            .locale_switcher {display: none !important;}
            .tab-content > .tab-pane {display: block !important; opacity: 1 !important; visibility: visible !important;}
        }


    </style>
{% endblock %}

{% block show %}


<div class="sonata-ba-view">

    {{ sonata_block_render_event('sonata.admin.show.top', { 'admin': admin, 'object': object }) }}

    <div class="row">
        <div class="col-md-12 ">
            <div class="encabezado box box-primary">
                <div class="box-body table-responsive no-padding">
                    <table class="table">
                        <tbody>
                        <tr class="sonata-ba-view-container">
                            <th>Nombre</th>
                            <td>{{ object.establecimiento.nombre }} {{ object.nombre }}</td>
                        </tr>
                        <tr class="sonata-ba-view-container">
                            <th>Descripción</th>
                            <td>{{ object.descripcion }}</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="nav-tabs-custom">

                <ul class="nav nav-tabs hidden-print" role="tablist">
                    <li class="active">
                        <a href="#tab_{{ admin.uniqid }}_caracteristicas" data-toggle="tab">
                            <i style="color: #58954e;" class="fas fa-dollar-sign tab-icon" aria-hidden="true"></i>
                            <span>{{ 'tab_caracteristicas'|trans({},'messages')|capitalize}}</span>
                        </a>
                    </li>
                    <li>
                        <a href="#tab_{{ admin.uniqid }}_fotos" data-toggle="tab">
                            <i style="color: #954e8d" class="fas fa-map tab-icon" aria-hidden="true"></i>
                            <span>{{ 'tab_fotos'|trans({},'messages')|capitalize}}</span>
                        </a>
                    </li>
                    <li>
                        <a href="#tab_{{ admin.uniqid }}_ubicacion" data-toggle="tab">
                            <i style="color: #954e8d" class="fas fa-map tab-icon" aria-hidden="true"></i>
                            <span>{{ 'tab_ubicacion'|trans({},'messages')|capitalize}}</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content no-padding">

                    <div class="tab-pane fade in active" id="tab_{{ admin.uniqid }}_caracteristicas">

                        <div class="box-body container-fluid">
                            <div class="sonata-ba-collapsed-fields">
                                <div class="box-body table-responsive">
                                    <h3 class="visible-print">{{ 'tab_caracteristicas'|trans({}, 'messages')|capitalize}}</h3>
                                    {% for caracteristica in object.unitcaracteristicas %}
                                        <div class="caracteristicalabel"><h4>{{ caracteristica.unittipocaracteristica.titulo }}</h4></div>
                                        <div class="caracteristicacontent ck-content">{{ caracteristica.contenido | raw }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="tab_{{ admin.uniqid }}_fotos">
                        <div class="box-body container-fluid">
                            <div class="sonata-ba-collapsed-fields">
                                <div class="box-body table-responsive">
                                    <h3 class="visible-print">{{ 'tab_fotos'|trans({}, 'messages')|capitalize}}</h3>
                                    <div class="container-fluid hidden-print">
                                        {% for archivo in object.unitmedios %}
                                            {% if loop.index0 % 2 == 0 %}
                                                <div class="row">
                                            {% endif %}
                                            <div class="col-xs-12 col-sm-6">
                                                <div class="thumbnail">
                                                    <a href="{% if archivo.tipo == 'local' %}{{ app.request.getSchemeAndHttpHost() ~ archivo.webPath|raw }}{% else %}{{ archivo.webPath|raw }}{% endif %}"{% if archivo.inModal == true %} data-toggle="lightbox" data-gallery="{{ archivo.unittipocaracteristica.nombre }}"{% else %} target="_blank" {% endif %}>
                                                        {# <img src="{% if archivo.tipo == 'local' %}{{ app.request.getSchemeAndHttpHost() ~ archivo.webThumbPath|raw }}{% else %}{{ archivo.webThumbPath|raw }}{% endif %}" alt="{{ archivo.titulo }}" style="width:100%">#}
                                                        <div class="caption">
                                                            <p style="overflow-wrap: break-word;" class="small text-center">{{ archivo.titulo }}</p>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            {% if loop.index % 2 == 0 or loop.last %}
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>

                    <div class="tab-pane fade" id="tab_{{ admin.uniqid }}_ubicacion">
                        <div class="box-body container-fluid">
                            <div class="sonata-ba-collapsed-fields">
                                <div class="box-body table-responsive">
                                    <h3 class="visible-print">{{ 'tab_ubicacion'|trans({}, 'messages')|capitalize}}</h3>
                                    <h5>Dirección</h5>
                                    <p>
                                        {{ object.establecimiento.direccion }} ({{ object.referencia }})


                                    </p>
                                    <div id="gmap-canvas-{{ object.id }}">
                                        <iframe id="gmap-frame-{{ object.id }}" src="https://maps.google.com/maps?q={{ object.establecimiento.direccion|escape('url') }}&t=&z=17&ie=UTF8&iwloc=&output=embed" scrolling="no" marginheight="0" marginwidth="0">
                                        </iframe>
                                    </div>
                                    <style>
                                        #gmap-label-{{ object.id }} {margin-top: 5px; font-weight: 600;}
                                        #gmap-frame-{{ object.id }} {border: none; width: 100%; height: 100%;}
                                        #gmap-canvas-{{ object.id }} {overflow:hidden; background:none!important; max-width: 600px; width: 100%; height:500px;}
                                    </style>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>

</div>

    {{ sonata_block_render_event('sonata.admin.show.bottom', { 'admin': admin, 'object': object }) }}
{% endblock %}
