{% extends 'base_sonata_admin/show.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>

    </style>
{% endblock %}

{% block show %}

<div class="sonata-ba-view">
    {{ sonata_block_render_event('sonata.admin.show.top', { 'admin': admin, 'object': object }) }}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="encabezado box box-primary">
                <div class="box-body table-responsive no-padding">
                    <table class="table">
                        <tbody>
                        <tr class="sonata-ba-view-container">
                            <th>{{ 'alojamiento'|trans({}, 'messages')|capitalize}}</th>
                            <td>{{ object.establecimiento.nombre }} {{ object.nombre }}</td>
                        </tr>
                        <tr class="sonata-ba-view-container">
                            <td colspan="2">{{ object.descripcion }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs hidden-print" role="tablist">
                    {% set inicializado = false %}
                    {% for index, caracteristica in object.unitcaracteristicas %}
                        {% if not (
                            caracteristica.unittipocaracteristica.id == constant('App\\Entity\\ReservaUnittipocaracteristica::DB_VALOR_BRIEFING')
                            and action == 'resumen'
                            ) or (
                            caracteristica.unittipocaracteristica.id == constant('App\\Entity\\ReservaUnittipocaracteristica::DB_VALOR_INVENTARIO')
                            and action == 'resumen'
                            )
                        %}
                            <li {% if not inicializado %} class="active"{% endif %}>
                                <a href="#tab_{{ admin.uniqid }}_{{ index }}" data-toggle="tab">
                                    <i style="color: {{ caracteristica.unittipocaracteristica.iconcolor }};" class="fas {{ caracteristica.unittipocaracteristica.iconclase }} tab-icon" aria-hidden="true"></i>
                                    <span>{{ caracteristica.unittipocaracteristica.titulo }}</span>
                                </a>
                            </li>
                            {% set inicializado = true %}
                        {% endif %}
                    {% endfor %}
                    <li>
                        <a href="#tab_{{ admin.uniqid }}_ubicacion" data-toggle="tab">
                            <i style="color: {{ colores.lila }}" class="fas fa-map tab-icon" aria-hidden="true"></i>
                            <span>{{ 'tab_ubicacion'|trans({},'messages')|capitalize}}</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content no-padding">
                    {% set inicializado = false %}
                    {% for index, caracteristica in object.unitcaracteristicas %}
                        {% if not (
                            caracteristica.unittipocaracteristica.id == constant('App\\Entity\\ReservaUnittipocaracteristica::DB_VALOR_BRIEFING')
                            and action == 'resumen'
                            ) %}
                            <div class="tab-pane fade {% if not inicializado %}in active{% endif %}" id="tab_{{ admin.uniqid }}_{{ index }}">

                                <div class="box-body container-fluid">
                                    <div class="sonata-ba-collapsed-fields">
                                        <div class="box-body table-responsive">
                                            <h3 class="visible-print">{{ caracteristica.unittipocaracteristica.titulo }}</h3>
                                            <div class="caracteristicacontent ck-content">{{ caracteristica.contenido | raw }}</div>
                                            <div class="container-fluid hidden-print">
                                                {% if 1 == 2  %}<div>{% endif %} {# para equilibrar en phpstorm #}
                                                    {% set abierto = false %}
                                                    {% for archivo in caracteristica.unittipocaracteristica.unitmedios %}
                                                        {% if archivo.unit.id == object.id %}
                                                            {% set counter = ( counter | default(0) ) + 1 %}
                                                            {% if counter % 2 == 0 %}
                                                                <div class="row">
                                                                {% set abierto = true %}
                                                            {% endif %}
                                                            <div class="col-xs-12 col-sm-6">
                                                                <div class="thumbnail thumbnail-fluid">
                                                                    <a href="{% if archivo.tipo == 'local' %}{{ app.request.getSchemeAndHttpHost() ~ archivo.webPath|raw }}{% else %}{{ archivo.webPath|raw }}{% endif %}"{% if archivo.inModal == true %} data-toggle="lightbox" data-gallery="{{ archivo.unittipocaracteristica.nombre }}"{% else %} target="_blank" {% endif %}>
                                                                        <img src="{% if archivo.tipo == 'local' %}{{ app.request.getSchemeAndHttpHost() ~ archivo.webThumbPath|raw }}{% else %}{{ archivo.webThumbPath|raw }}{% endif %}" alt="{{ archivo.titulo }}" {% if archivo.inModal == true %}class="in-modal"{% endif %}>
                                                                        <div class="caption">
                                                                            <p style="overflow-wrap: break-word;" class="small text-center">{{ archivo.titulo }}</p>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            {% if counter % 2 == 0 %}
                                                                {% set abierto = false %}
                                                                </div>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% if abierto == true %}</div>{% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% set inicializado = true %}
                        {% endif %}
                    {% endfor %}
                    <div class="tab-pane fade" id="tab_{{ admin.uniqid }}_ubicacion">
                        <div class="box-body container-fluid">
                            <div class="sonata-ba-collapsed-fields">
                                <div class="box-body table-responsive">
                                    <h3 class="visible-print">{{ 'tab_ubicacion'|trans({}, 'messages')|capitalize}}</h3>
                                    <p style="font-size: 1.2em">
                                        {{ 'direccion'|trans({}, 'messages')|capitalize}}: {{ object.establecimiento.direccion }}
                                    </p>
                                    <p style="font-size: 1.1em">
                                        {{ 'referencia'|trans({}, 'messages')|capitalize}}: {{ object.referencia }}
                                    </p>
                                    <div id="gmap-canvas-{{ object.id }}">
                                        <iframe id="gmap-frame-{{ object.id }}" src="https://maps.google.com/maps?q={{ object.establecimiento.direccion|escape('url') }}&t=&z=17&ie=UTF8&iwloc=&output=embed" scrolling="no" marginheight="0" marginwidth="0">
                                        </iframe>
                                    </div>
                                    <style>
                                        #gmap-label-{{ object.id }} {margin-top: 5px; font-weight: 600;}
                                        #gmap-frame-{{ object.id }} {border: none; width: 100%; height: 100%;}
                                        #gmap-canvas-{{ object.id }} {overflow:hidden; background:none!important; max-width: 600px; width: 100%; height:500px;}
                                    </style>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

    {{ sonata_block_render_event('sonata.admin.show.bottom', { 'admin': admin, 'object': object }) }}
{% endblock %}
