{% extends 'base_sonata_admin/show.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <style>

    </style>
{% endblock %}

{% block show %}

<div class="sonata-ba-view">
    {{ sonata_block_render_event('sonata.admin.show.top', { 'admin': admin, 'object': object }) }}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class="box box-primary">
                <div class="box-body table-responsive no-padding">
                    <table class="table">
                        <tbody>
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'nombre'|trans({}, 'messages')|capitalize}}</th>
                                <td>
                                    {% if object.ismanual is true and object.channel.id != constant('App\\Entity\\ReservaChannel::DB_VALOR_DIRECTO') %}(D) {% endif %}{{ object.nombre }} x{{ object.cantidadadultos }}
                                    {% if object.cantidadninos > 0 %}+{{ object.cantidadninos }}{% endif %}
                                </td>
                            </tr>
                            {% if action != 'resumen' and object.calificacion is not empty %}
                                <tr class="sonata-ba-view-container">
                                    <th>{{ 'calificacion'|trans({}, 'messages')|capitalize}}</th>
                                    <td>{{ object.calificacion }}</td>
                                </tr>
                            {% endif %}
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'alojamiento'|trans({}, 'messages')|capitalize}}</th>
                                <td><span style="font-weight: 600;">{{ object.unit.establecimiento.nombre }} {{ object.unit.nombre }}</span> - {{ object.unit.descripcion }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'fecha_ingreso'|trans({}, 'messages')|capitalize}}</th>
                                <td>{{ 'desde'|trans({}, 'messages')|capitalize}} {{ object.fechahorainicio | date('Y-m-d H:i') }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'fecha_salida'|trans({}, 'messages')|capitalize}}</th>
                                <td>{{ 'hasta'|trans({}, 'messages')|capitalize}} {{ object.fechahorafin | date('Y-m-d H:i') }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'canal'|trans({}, 'messages')|capitalize}}</th>
                                <td>{{ object.channel.nombre }} {% if action != 'resumen' %}({{ object.estado.nombre|trans({}, 'messages') }}){% endif %}</td>
                            </tr>
                            {% if action != 'resumen' %}
                                <tr class="sonata-ba-view-container">
                                    <th>{{ 'fecha_reserva'|trans({}, 'messages')|capitalize}}</th>
                                    <td>{{ object.creado | date('Y-m-d H:i') }}</td>
                                </tr>
                            {% endif %}
                            {% if action != 'resumen' and object.enlace is not empty %}
                                <tr class="sonata-ba-view-container">
                                    <th>{{ 'link'|trans({}, 'messages')|capitalize}}</th>
                                    <td><a href="{{ object.enlace }}" target="_blank">Enlace</a></td>
                                </tr>
                            {% endif %}
                            {% if action != 'resumen' and object.nota is not empty %}
                                <tr class="sonata-ba-view-container">
                                    <th>{{ 'nota'|trans({}, 'messages')|capitalize}}</th>
                                    <td>{{ object.nota }}</td>
                                </tr>
                            {% endif %}
                            {% if action != 'resumen' and object.telefono is not empty %}
                                <tr class="sonata-ba-view-container">
                                    <td colspan="2">
                                        <a href="tel:{{ object.telefono }}"
                                           class="btn btn-sm btn-success">
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                            Llamar
                                        </a>
                                        <a data-text="{{ object.telefono }}"
                                           data-tooltiptext="Copiado al portapapeles"
                                           class="btn btn-sm btn-success clipboard-trigger">
                                            <i class="fa fa-file-text" aria-hidden="true"></i>
                                            Copiar número
                                        </a>
                                        <a href="https://wa.me/{{object.telefono|replace({'-': '', '+': '', '(': '',  ')': '',  ' ': ''}) }}"
                                           target="_blank" class="btn btn-sm btn-success edit_link">
                                            <i class="fa fa-whatsapp" aria-hidden="true"></i>
                                            Whatsapp
                                        </a>
                                    </td>
                                </tr>
                                <tr class="sonata-ba-view-container">
                                    <td colspan="2">

                                        {% if object.idiomatelefono == 'en' %}
                                            {% set whatsappText %}
Hello {{ object.primernombre }}, it's a pleasure to greet you.
I'm writing to coordinate the check-out for {% if object.checkoutdetector is same as(1) %}]*tomorrow*{% elseif object.checkoutdetector is same as(0) %}*today*{% else %}*{{ object.fechahorafin | date('Y-m-d') }}*{% endif %}. Check-out time is at *10:00 a.m.*
Please let me know if you'll be leaving earlier, so I can inform the cleaning lady to be there at that time to receive the keys.
If you need it, we can store your luggage for you.
                                            {% endset %}
                                        {% else %}
                                            {% set whatsappText %}
Hola {{ object.primernombre }}, un gusto saludarte.
Te escribo para coordinar el check-out del día {% if object.checkoutdetector is same as(1) %}de *mañana*{% elseif object.checkoutdetector is same as(0) %}de *hoy*{% else %}*{{ object.fechahorafin | date('Y-m-d') }}*{% endif %}. La hora de salida es a las *10:00 a.m.*
Por favor, indícame si saldrán antes, para indicarle a la señora de limpieza y que pueda estar a esa hora para recibir las llaves.
Si lo necesitan, podemos guardar su equipaje.
                                            {% endset %}
                                        {% endif %}

                                        <a href="https://wa.me/{{object.telefononormalizado }}?text={{ whatsappText|url_encode }}"
                                           target="_blank" class="btn btn-sm btn-info edit_link">
                                            <i class="fa fa-whatsapp" aria-hidden="true"></i>
                                            Check Out
                                        </a>

                                        {% if object.channel.id == constant('App\\Entity\\ReservaChannel::DB_VALOR_BOOKING') %}

                                            {% if object.idiomatelefono == 'en' %}
                                                {% set whatsappText %}
Hello {{ object.primernombre }}, this is Susan on behalf of Booking .com.

You made a reservation at Centro Cusco Inti in the city of Cusco from {{ object.fechahorainicio | date('Y-m-d') }} to {{ object.fechahorafin | date('Y-m-d') }}.

We kindly ask you to send us the *PDF confirmation file* of your reservation. You can download this file from the Booking.com app by going into your reservation and scrolling down to the section *Options -> Download for offline use*.

This document contains important information such as the final price and the terms and conditions of the accommodation.

At the following link, you can view the full details of your reservation, including photos, layout, and location of the reserved apartment. This matches the information shown under View apartment info in the Booking .com app:

{{ url('admin_app_reservareserva_resumen', {'id': object.id, 'token': object.token}) }}

Once you confirm everything is correct, you can proceed with the prepayment via bank transfer, Western Union, or credit card.                                                {% endset %}
                                            {% else %}
                                                {% set whatsappText %}
Hola {{ object.primernombre }}, le saluda Susan en representación de Booking .com.

Usted realizó una reserva en Centro Cusco Inti, en la ciudad de Cusco, desde el {{ object.fechahorainicio | date('Y-m-d') }} hasta el {{ object.fechahorafin | date('Y-m-d') }}.

Le solicitamos, por favor, enviarnos el archivo de confirmación de su reserva, el cual es un documento en formato PDF. Puede descargarlo desde la aplicación de Booking.com, ingresando a su reserva y desplazándose hacia la parte inferior, en la sección *Opciones -> Descargar para usar sin conexión*.

Este archivo contiene información importante como el precio final y las condiciones del alojamiento.

En el siguiente enlace podrá consultar todos los detalles de su reserva, incluyendo fotografías, distribución y ubicación del departamento reservado. Esta información coincide con la sección *Ver info del apartamento* en la aplicación de Booking .com:

{{ url('admin_app_reservareserva_resumen', {'id': object.id, 'token': object.token}) }}

Una vez de su conformidad, podrá realizar el prepago mediante transferencia bancaria, Western Union o tarjeta de crédito.
                                                {% endset %}
                                            {% endif %}

                                            <a href="https://wa.me/{{object.telefononormalizado }}?text={{ whatsappText|url_encode }}"
                                               target="_blank" class="btn btn-sm btn-warning edit_link">
                                                <i class="fa fa-whatsapp" aria-hidden="true"></i>
                                                Confirmar
                                            </a>

                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}

                        </tbody>
                    </table>
                </div>
            </div>

            {% if action != 'resumen' and object.detalles is not empty %}
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            {{ 'detalles'|trans({}, 'messages')|capitalize}}
                        </h4>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table">
                            <thead>
                                <tr class="sonata-ba-view-container">
                                    <th>{{ 'tipo'|trans({}, 'messages')|capitalize}}</th>
                                    <th>{{ 'personal'|trans({}, 'messages')|capitalize}}</th>
                                    <th>{{ 'detalle'|trans({}, 'messages')|capitalize}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for detalle in object.detalles %}
                                    <tr class="sonata-ba-view-container">
                                        <td>{{ detalle.tipodetalle.nombre }}</td>
                                        <td>{{ detalle.user.username }}</td>
                                        <td>{{ detalle.nota }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}

            {% if action != 'resumen' and object.pagos is not empty %}
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            {{ 'cobranzas'|trans({}, 'messages')|capitalize}}
                        </h4>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table">
                            <thead>
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'fecha'|trans({}, 'messages')|capitalize}}</th>
                                <th>{{ 'personal'|trans({}, 'messages')|capitalize}}</th>
                                <th>{{ 'moneda'|trans({}, 'messages')|capitalize}}</th>
                                <th>{{ 'monto'|trans({}, 'messages')|capitalize}}</th>
                                <th>{{ 'nota'|trans({}, 'messages')|capitalize}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for pago in object.pagos %}
                                <tr class="sonata-ba-view-container">
                                    <td>{{ pago.fecha | date('Y-m-d') }}</td>
                                    <td>{{ pago.user.username }}</td>
                                    <td>{{ pago.moneda.nombre }}</td>
                                    <td>{{ pago.monto }}</td>
                                    <td>{{ pago.nota }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}

            {% if action != 'resumen' and object.importes is not empty %}
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            {{ 'precio'|trans({}, 'messages')|capitalize}}
                        </h4>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table">
                            <thead>
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'tipo'|trans({}, 'messages')|capitalize}}</th>
                                <th>{{ 'moneda'|trans({}, 'messages')|capitalize}}</th>
                                <th>{{ 'monto'|trans({}, 'messages')|capitalize}}</th>
                                <th>{{ 'nota'|trans({}, 'messages')|capitalize}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for importe in object.importes %}
                                <tr class="sonata-ba-view-container">
                                    <td>{{ importe.tipoimporte.nombre }}</td>
                                    <td>{{ importe.moneda.nombre }}</td>
                                    <td>{{ importe.monto }}</td>
                                    <td>{{ importe.nota }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}

            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs hidden-print" role="tablist">
                    {% for index, caracteristica in object.unit.unitcaracteristicas %}
                    <li {% if loop.first %} class="active"{% endif %}>
                        <a href="#tab_{{ admin.uniqid }}_{{ index }}" data-toggle="tab">
                            <i style="color: {{ caracteristica.unittipocaracteristica.iconcolor }};" class="fas {{ caracteristica.unittipocaracteristica.iconclase }} tab-icon" aria-hidden="true"></i>
                            <span>{{ caracteristica.unittipocaracteristica.titulo }}</span>
                        </a>
                    </li>
                    {% endfor %}
                    <li>
                        <a href="#tab_{{ admin.uniqid }}_ubicacion" data-toggle="tab">
                            <i style="color: #954e8d" class="fas fa-map tab-icon" aria-hidden="true"></i>
                            <span>{{ 'tab_ubicacion'|trans({},'messages')|capitalize}}</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content no-padding">
                    {% for index, caracteristica in object.unit.unitcaracteristicas %}

                    <div class="tab-pane fade {% if loop.first %}in active{% endif %}" id="tab_{{ admin.uniqid }}_{{ index }}">

                        <div class="box-body container-fluid">
                            <div class="sonata-ba-collapsed-fields">
                                <div class="box-body table-responsive">
                                    <h3 class="visible-print">{{ caracteristica.unittipocaracteristica.titulo }}</h3>
                                    <div class="caracteristicacontent ck-content">{{ caracteristica.contenido | raw }}</div>
                                    <div class="container-fluid hidden-print">
                                        {% if 1 == 2  %}<div>{% endif %} {# para equilibrar en phpstorm #}
                                        {% set abierto = false %}
                                        {% for archivo in caracteristica.unittipocaracteristica.unitmedios %}
                                            {% if archivo.unit.id == object.unit.id %}
                                                {% set counter = ( counter | default(0) ) + 1 %}

                                                {% if counter % 2 == 0 %}
                                                    <div class="row">
                                                    {% set abierto = true %}
                                                {% endif %}
                                                <div class="col-xs-12 col-sm-6">
                                                    <div class="thumbnail thumbnail-fluid">
                                                        <a href="{% if archivo.tipo == 'local' %}{{ app.request.getSchemeAndHttpHost() ~ archivo.webPath|raw }}{% else %}{{ archivo.webPath|raw }}{% endif %}"{% if archivo.inModal == true %} data-toggle="lightbox" data-gallery="{{ archivo.unittipocaracteristica.nombre }}"{% else %} target="_blank" {% endif %}>
                                                            <img src="{% if archivo.tipo == 'local' %}{{ app.request.getSchemeAndHttpHost() ~ archivo.webThumbPath|raw }}{% else %}{{ archivo.webThumbPath|raw }}{% endif %}"
                                                                 alt="{{ archivo.titulo }}"
                                                                 class="{% if archivo.inModal == true %}in-modal{% endif %} {% if archivo.aspectRatio is not null and archivo.aspectRatio < 1 %}portrait{% elseif archivo.aspectRatio >= 1 %}landscape{% endif %}"
                                                            >
                                                            <div class="caption">
                                                                <p style="overflow-wrap: break-word;" class="small text-center">{{ archivo.titulo }}</p>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                {% if counter % 2 == 0 %}
                                                    {% set abierto = false %}
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if abierto == true %}</div>{% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    {% endfor %}

                    <div class="tab-pane fade" id="tab_{{ admin.uniqid }}_ubicacion">
                        <div class="box-body container-fluid">
                            <div class="sonata-ba-collapsed-fields">
                                <div class="box-body table-responsive">
                                    <h3 class="visible-print">{{ 'tab_ubicacion'|trans({}, 'messages')|capitalize}}</h3>
                                    <p style="font-size: 1.2em">
                                        {{ 'direccion'|trans({}, 'messages')|capitalize}}: {{ object.unit.establecimiento.direccion }}
                                    </p>
                                    <p style="font-size: 1.1em">
                                        {{ 'referencia'|trans({}, 'messages')|capitalize}}: {{ object.unit.referencia }}
                                    </p>
                                    <div id="gmap-canvas-{{ object.id }}">
                                        <iframe id="gmap-frame-{{ object.id }}" src="https://maps.google.com/maps?q={{ object.unit.establecimiento.direccion|escape('url') }}&t=&z=17&ie=UTF8&iwloc=&output=embed" scrolling="no" marginheight="0" marginwidth="0">
                                        </iframe>
                                    </div>
                                    <style>
                                        #gmap-label-{{ object.id }} {margin-top: 5px; font-weight: 600;}
                                        #gmap-frame-{{ object.id }} {border: none; width: 100%; height: 100%;}
                                        #gmap-canvas-{{ object.id }} {overflow:hidden; background:none!important; max-width: 600px; width: 100%; height:500px;}
                                    </style>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>

    {{ sonata_block_render_event('sonata.admin.show.bottom', { 'admin': admin, 'object': object }) }}
{% endblock %}
