{% if object.idiomatelefono == 'en' %}
    {% set whatsappText %}
Hello {{ object.primernombre }}, it's a pleasure to greet you.
I'm writing to coordinate the check-out for {% if object.checkoutdetector is same as(1) %}*tomorrow*{% elseif object.checkoutdetector is same as(0) %}*today*{% else %}*{{ object.fechahorafin | date('Y-m-d') }}*{% endif %}.
Check-out time is at *10:00 a.m.*⌚.
Please let me know if you'll be leaving earlier, so I can inform the cleaning lady to be there at that time to receive the keys.
If you need it, we can store your luggage for you.
    {% endset %}
{% elseif object.idiomatelefono == 'pt'%}
    {% set whatsappText %}
Olá {{ object.primernombre }}, é um prazer cumprimentá-lo(a).
Estou escrevendo para coordenar o check-out para {% if object.checkoutdetector is same as(1) %}amanhã{% elseif object.checkoutdetector is same as(0) %}hoje{% else %}{{ object.fechahorafin | date('Y-m-d') }}{% endif %}.
O horário de check-out é às *10:00 a.m.*⌚.
Por favor, me avise se você for sair mais cedo, para que eu possa informar à senhora da limpeza para estar lá nesse horário e receber as chaves.
Se precisar, podemos guardar sua bagagem para você.
    {% endset %}
{% elseif object.idiomatelefono == 'fr'%}
    {% set whatsappText %}
Bonjour {{ object.primernombre }}, c’est un plaisir de vous saluer.
Je vous écris afin de coordonner le check-out pour {% if object.checkoutdetector is same as(1) %}demain{% elseif object.checkoutdetector is same as(0) %}aujourd’hui{% else %}{{ object.fechahorafin | date('Y-m-d') }}{% endif %}.
L’heure de check-out est à *10h00*⌚.
Merci de me faire savoir si vous partez plus tôt, afin que je puisse prévenir la femme de ménage pour qu’elle soit présente à ce moment-là et récupérer les clés.
Si vous en avez besoin, nous pouvons garder vos bagages pour vous.
    {% endset %}
{% else %}
    {% set whatsappText %}
Hola {{ object.primernombre }}, un gusto saludarte.
Te escribo para coordinar el check-out del día {% set cd = object.checkoutDetector %}{% if cd == 1 %}de *mañana*{% elseif cd == 0 %}de *hoy*{% else %}*{{ object.fechahorafin|date('Y-m-d', 'America/Lima') }}*{% endif %}.
La hora de salida es a las *10:00 a.m.*⌚.
Por favor, indícame si saldrán antes, para indicarle a la señora de limpieza y que pueda estar a esa hora para recibir las llaves.
Si lo necesitan, podemos guardar su equipaje.
    {% endset %}
{% endif %}

<a href="https://wa.me/{{object.telefononormalizado }}?text={{ whatsappText|raw_url_encode }}"
   target="_blank" class="btn btn-sm btn-info edit_link">
    <i class="fa fa-whatsapp" aria-hidden="true"></i>
    Check Out
</a>