{% extends 'base_sonata_admin/show.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <style>

    </style>
{% endblock %}

{% block show %}

<div class="sonata-ba-view">
    {{ sonata_block_render_event('sonata.admin.show.top', { 'admin': admin, 'object': object }) }}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class="box box-primary">
                <div class="box-body table-responsive no-padding">
                    <table class="table">
                        <tbody>
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'nombre'|trans({}, 'messages')|capitalize}}</th>
                                <td>
                                    {{ object.nombre }} x{{ object.cantidadadultos }}
                                    {% if object.cantidadninos > 0 %}+{{ object.cantidadninos }}{% endif %}

                                </td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'alojamiento'|trans({}, 'messages')|capitalize}}</th>
                                <td><span style="font-weight: 600;">{{ object.unit.establecimiento.nombre }} {{ object.unit.nombre }}</span> - {{ object.unit.descripcion }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'fecha_ingreso'|trans({}, 'messages')|capitalize}}</th>
                                <td>{{ 'desde'|trans({}, 'messages')|capitalize}} {{ object.fechahorainicio | date('Y-m-d H:i') }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'fecha_salida'|trans({}, 'messages')|capitalize}}</th>
                                <td>{{ 'hasta'|trans({}, 'messages')|capitalize}} {{ object.fechahorafin | date('Y-m-d H:i') }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'canal'|trans({}, 'messages')|capitalize}}</th>
                                <td>{{ object.channel.nombre }} ({{ object.estado.nombre|trans({}, 'messages') }})</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'fecha_reserva'|trans({}, 'messages')|capitalize}}</th>
                                <td>{{ object.creado | date('Y-m-d H:i') }}</td>
                            </tr>
                            {% if action != 'resumen' and object.enlace is not empty %}
                                <tr class="sonata-ba-view-container">
                                    <th>{{ 'link'|trans({}, 'messages')|capitalize}}</th>
                                    <td><a href="{{ object.enlace }}" target="_blank">Enlace</a></td>
                                </tr>
                            {% endif %}
                            {% if action != 'resumen' and object.nota is not empty %}
                                <tr class="sonata-ba-view-container">
                                    <th>{{ 'nota'|trans({}, 'messages')|capitalize}}</th>
                                    <td>{{ object.nota }}</td>
                                </tr>
                            {% endif %}
                            {% if action != 'resumen' and object.telefono is not empty %}
                                <tr class="sonata-ba-view-container">
                                    <td colspan="2">
                                        <a href="tel:{{ object.telefono }}"
                                           class="btn btn-sm btn-success">
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                            Llamar
                                        </a>
                                        <a data-text="{{ object.telefono }}"
                                           data-tooltiptext="Copiado al portapapeles"
                                           class="btn btn-sm btn-success clipboard-trigger">
                                            <i class="fa fa-file-text" aria-hidden="true"></i>
                                            Copiar número
                                        </a>
                                        <a href="https://wa.me/{{object.telefono|replace({'-': '', '+': '', '(': '',  ')': '',  ' ': ''}) }}"
                                           target="_blank" class="btn btn-sm btn-success edit_link">
                                            <i class="fa fa-whatsapp" aria-hidden="true"></i>
                                            Whatsapp
                                        </a>
                                        {% if object.channel.id == constant('App\\Entity\\ReservaChannel::DB_VALOR_BOOKING') and object.nota is empty %}
                                            {% set whatsappText = 'Hola ' ~ object.nombre ~ ', muchas gracias por su reserva!.\n\n' %}
                                            {% set whatsappText = whatsappText ~ 'Para reconfirmar su reserva le solicitamos que nos brinde su *número de vuelo* o *medio de transporte* y *hora de llegada* a las Casitas del Centro Histórico Cusco / Apartamentos Centro Cusco Inti para programar la entrega de las llaves, lo puede hacer respondiendo a este mensaje.\n\n' %}
                                            {% set whatsappText = whatsappText ~ 'Nosotros brindamos *traslados y tours* a nuestros huéspedes con tarifas especiales y damos *asesoría gratuita*.\n\n' %}
                                            {% set whatsappText = whatsappText ~ 'Por favor tomar en cuenta:\n\n' %}
                                            {% set whatsappText = whatsappText ~ 'Check-in: Desde ' ~ object.fechahorainicio | date('Y-m-d') ~ ' *14:00*\n' %}
                                            {% set whatsappText = whatsappText ~ 'Check-out: Hasta ' ~ object.fechahorafin | date('Y-m-d') ~ ' *10:00*\n\n' %}
                                            {% set whatsappText = whatsappText ~ 'Si el departamento esa listo antes del Check-in, nosotros encantados de recibirlos sin ningun costo (Coordinar un día antes).\n\n' %}
                                            {% set whatsappText = whatsappText ~ 'También puede solicitar el servicio de "llegada anticipada" (Early Check-in) y "salida tarde" (Late Check-out) con un costo adicional, respondiendo a este mensaje, con este servicio nosotros haríamos que el día anterior o posterior no sean reservables por otros clientes (estes servicio es de acuerdo a disponibilidad).\n\n' %}
                                            {% set whatsappText = whatsappText ~ 'Saludos cordiales\n\n' %}
                                            {% set whatsappText = whatsappText ~ 'Centro Cusco Inti / Casitas Acogedoras en el Centro de Cusco' %}
                                            <a href="https://wa.me/{{object.telefono|replace({'-': '', '+': '', '(': '',  ')': '',  ' ': ''}) }}?text={{ whatsappText|url_encode }}"
                                               target="_blank" class="btn btn-sm btn-success edit_link">
                                                <i class="fa fa-whatsapp" aria-hidden="true"></i>
                                                Confirmar
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}

                        </tbody>
                    </table>
                </div>
            </div>

            {% if action != 'resumen' and object.detalles is not empty %}
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            {{ 'detalles'|trans({}, 'messages')|capitalize}}
                        </h4>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table">
                            <thead>
                                <tr class="sonata-ba-view-container">
                                    <th>{{ 'tipo'|trans({}, 'messages')|capitalize}}</th>
                                    <th>{{ 'personal'|trans({}, 'messages')|capitalize}}</th>
                                    <th>{{ 'detalle'|trans({}, 'messages')|capitalize}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for detalle in object.detalles %}
                                    <tr class="sonata-ba-view-container">
                                        <td>{{ detalle.tipodetalle.nombre }}</td>
                                        <td>{{ detalle.user.username }}</td>
                                        <td>{{ detalle.nota }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}

            {% if action != 'resumen' and object.pagos is not empty %}
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            {{ 'cobranzas'|trans({}, 'messages')|capitalize}}
                        </h4>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table">
                            <thead>
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'fecha'|trans({}, 'messages')|capitalize}}</th>
                                <th>{{ 'personal'|trans({}, 'messages')|capitalize}}</th>
                                <th>{{ 'moneda'|trans({}, 'messages')|capitalize}}</th>
                                <th>{{ 'monto'|trans({}, 'messages')|capitalize}}</th>
                                <th>{{ 'nota'|trans({}, 'messages')|capitalize}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for pago in object.pagos %}
                                <tr class="sonata-ba-view-container">
                                    <td>{{ pago.fecha | date('Y-m-d') }}</td>
                                    <td>{{ pago.user.username }}</td>
                                    <td>{{ pago.moneda.nombre }}</td>
                                    <td>{{ pago.monto }}</td>
                                    <td>{{ pago.nota }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}

            {% if action != 'resumen' and object.importes is not empty %}
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            {{ 'precio'|trans({}, 'messages')|capitalize}}
                        </h4>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table">
                            <thead>
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'tipo'|trans({}, 'messages')|capitalize}}</th>
                                <th>{{ 'moneda'|trans({}, 'messages')|capitalize}}</th>
                                <th>{{ 'monto'|trans({}, 'messages')|capitalize}}</th>
                                <th>{{ 'nota'|trans({}, 'messages')|capitalize}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for importe in object.importes %}
                                <tr class="sonata-ba-view-container">
                                    <td>{{ importe.tipoimporte.nombre }}</td>
                                    <td>{{ importe.moneda.nombre }}</td>
                                    <td>{{ importe.monto }}</td>
                                    <td>{{ importe.nota }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}

            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs hidden-print" role="tablist">
                    {% for index, caracteristica in object.unit.unitcaracteristicas %}
                    <li {% if loop.first %} class="active"{% endif %}>
                        <a href="#tab_{{ admin.uniqid }}_{{ index }}" data-toggle="tab">
                            <i style="color: {{ caracteristica.unittipocaracteristica.iconcolor }};" class="fas {{ caracteristica.unittipocaracteristica.iconclase }} tab-icon" aria-hidden="true"></i>
                            <span>{{ caracteristica.unittipocaracteristica.titulo }}</span>
                        </a>
                    </li>
                    {% endfor %}
                    <li>
                        <a href="#tab_{{ admin.uniqid }}_ubicacion" data-toggle="tab">
                            <i style="color: #954e8d" class="fas fa-map tab-icon" aria-hidden="true"></i>
                            <span>{{ 'tab_ubicacion'|trans({},'messages')|capitalize}}</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content no-padding">
                    {% for index, caracteristica in object.unit.unitcaracteristicas %}

                    <div class="tab-pane fade {% if loop.first %}in active{% endif %}" id="tab_{{ admin.uniqid }}_{{ index }}">

                        <div class="box-body container-fluid">
                            <div class="sonata-ba-collapsed-fields">
                                <div class="box-body table-responsive">
                                    <h3 class="visible-print">{{ caracteristica.unittipocaracteristica.titulo }}</h3>
                                    <div class="caracteristicacontent ck-content">{{ caracteristica.contenido | raw }}</div>
                                    <div class="container-fluid hidden-print">
                                        {% if 1 == 2  %}<div>{% endif %} {# para equilibrar en phpstorm #}
                                        {% set abierto = false %}
                                        {% for archivo in caracteristica.unittipocaracteristica.unitmedios %}
                                            {% if archivo.unit.id == object.unit.id %}
                                                {% set counter = ( counter | default(0) ) + 1 %}

                                                {% if counter % 2 == 0 %}
                                                    <div class="row">
                                                    {% set abierto = true %}
                                                {% endif %}
                                                <div class="col-xs-12 col-sm-6">
                                                    <div class="thumbnail thumbnail-fluid">
                                                        <a href="{% if archivo.tipo == 'local' %}{{ app.request.getSchemeAndHttpHost() ~ archivo.webPath|raw }}{% else %}{{ archivo.webPath|raw }}{% endif %}"{% if archivo.inModal == true %} data-toggle="lightbox" data-gallery="{{ archivo.unittipocaracteristica.nombre }}"{% else %} target="_blank" {% endif %}>
                                                            <img src="{% if archivo.tipo == 'local' %}{{ app.request.getSchemeAndHttpHost() ~ archivo.webThumbPath|raw }}{% else %}{{ archivo.webThumbPath|raw }}{% endif %}"
                                                                 alt="{{ archivo.titulo }}"
                                                                 class="{% if archivo.inModal == true %}in-modal{% endif %} {% if archivo.aspectRatio is not null and archivo.aspectRatio < 1 %}portrait{% elseif archivo.aspectRatio >= 1 %}landscape{% endif %}"
                                                            >
                                                            <div class="caption">
                                                                <p style="overflow-wrap: break-word;" class="small text-center">{{ archivo.titulo }}</p>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                {% if counter % 2 == 0 %}
                                                    {% set abierto = false %}
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if abierto == true %}</div>{% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    {% endfor %}

                    <div class="tab-pane fade" id="tab_{{ admin.uniqid }}_ubicacion">
                        <div class="box-body container-fluid">
                            <div class="sonata-ba-collapsed-fields">
                                <div class="box-body table-responsive">
                                    <h3 class="visible-print">{{ 'tab_ubicacion'|trans({}, 'messages')|capitalize}}</h3>
                                    <p style="font-size: 1.2em">
                                        {{ 'direccion'|trans({}, 'messages')|capitalize}}: {{ object.unit.establecimiento.direccion }}
                                    </p>
                                    <p style="font-size: 1.1em">
                                        {{ 'referencia'|trans({}, 'messages')|capitalize}}: {{ object.unit.referencia }}
                                    </p>
                                    <div id="gmap-canvas-{{ object.id }}">
                                        <iframe id="gmap-frame-{{ object.id }}" src="https://maps.google.com/maps?q={{ object.unit.establecimiento.direccion|escape('url') }}&t=&z=17&ie=UTF8&iwloc=&output=embed" scrolling="no" marginheight="0" marginwidth="0">
                                        </iframe>
                                    </div>
                                    <style>
                                        #gmap-label-{{ object.id }} {margin-top: 5px; font-weight: 600;}
                                        #gmap-frame-{{ object.id }} {border: none; width: 100%; height: 100%;}
                                        #gmap-canvas-{{ object.id }} {overflow:hidden; background:none!important; max-width: 600px; width: 100%; height:500px;}
                                    </style>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>

    {{ sonata_block_render_event('sonata.admin.show.bottom', { 'admin': admin, 'object': object }) }}
{% endblock %}
