{% extends 'base_sonata_admin/show.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        div.row-cotizacion { padding: 10px 0; }

        span.cotcodigo{white-space: nowrap; font-weight: 600; font-size: 1.1em; color: {{ colores.verde_claro }};}
        span.cotcantidad{white-space: nowrap}
        span.cotestado{white-space: nowrap; font-weight: 600;}
    </style>
{% endblock %}

{% block show %}

<div class="sonata-ba-view">

    {{ sonata_block_render_event('sonata.admin.show.top', { 'admin': admin, 'object': object }) }}

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="box box-primary">
                {% if object.catalogo == false %}
                    <div class="box-body table-responsive no-padding">
                        <table class="table">
                            <tbody>
                                <tr class="sonata-ba-view-container">
                                    <th>{{ 'nombre'|trans({},'messages')|capitalize }}</th>
                                    <td>{{ object.nombre }}</td>
                                </tr>
                                <tr class="sonata-ba-view-container">
                                    <th>{{ 'pais'|trans({},'messages')|capitalize }}</th>
                                    <td>{{ object.pais.nombre }}</td>
                                </tr>
                                <tr class="sonata-ba-view-container">
                                    <th>{{ 'idioma'|trans({},'messages')|capitalize }}</th>
                                    <td>{{ object.idioma.nombre }}</td>
                                </tr>
                                {% if action != 'resumen' and object.telefono is not empty %}
                                    <tr class="sonata-ba-view-container">
                                        <td colspan="2">
                                            <a href="tel:{{ object.telefono }}"
                                               class="btn btn-sm btn-success">
                                                <i class="fa fa-phone" aria-hidden="true"></i>
                                                Llamar
                                            </a>
                                            <a data-text="{{ object.telefono }}"
                                               data-tooltiptext="Copiado al portapapeles"
                                               class="btn btn-sm btn-success clipboard-trigger">
                                                <i class="fa fa-file-text" aria-hidden="true"></i>
                                                Copiar número
                                            </a>
                                            <a href="https://wa.me/{{object.telefono|replace({'-': '', '+': '', '(': '',  ')': '',  ' ': ''}) }}"
                                               target="_blank" class="btn btn-sm btn-success edit_link">
                                                <i class="fa fa-whatsapp" aria-hidden="true"></i>
                                                Whatsapp
                                            </a>
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="box-body">
                        <h3>{{ object.nombre }}</h3>
                    </div>
                {% endif %}
            </div>

            {% if object.filepasajeros is defined or object.filedocumentos is defined or object.cotizaciones is defined %}
                <div class="panel-group box box-primary" id="accordion">
                    {% if object.filepasajeros is defined and object.filepasajeros|length > 0 %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                        {{ 'namelist'|trans({},'messages')|capitalize }}
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse">
                                <div class="panel-body table-responsive no-padding">
                                    <table class="table table-bordered table-striped sonata-ba-list">
                                        <thead>
                                        <tr class="sonata-ba-list-field-header">
                                            <th>
                                                {{ 'nombres'|trans({},'messages')|capitalize }}
                                            </th>
                                            <th>
                                                {{ 'apellidos'|trans({},'messages')|capitalize }}
                                            </th>
                                            <th>
                                                {{ 'pais'|trans({},'messages')|capitalize }}
                                            </th>
                                            <th>
                                                {{ 'sexo'|trans({},'messages')|capitalize }}
                                            </th>
                                            <th>
                                                {{ 'tipodoc'|trans({},'messages')|capitalize }}
                                            </th>
                                            <th>
                                                {{ 'numerodoc'|trans({},'messages')|capitalize }}
                                            </th>
                                            <th>
                                                {{ 'fechanacimiento'|trans({},'messages')|capitalize }}
                                            </th>
                                            <th>
                                                {{ 'edad'|trans({},'messages')|capitalize }}
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for pasajero in object.filepasajeros %}
                                            <tr>
                                                <td>
                                                    {{ pasajero.nombre }}
                                                </td>
                                                <td>
                                                    {{ pasajero.apellido }}
                                                </td>
                                                <td>
                                                    {{ pasajero.pais }}
                                                </td>
                                                <td>
                                                    {{ pasajero.sexo }}
                                                </td>
                                                <td>
                                                    {{ pasajero.tipodocumento }}
                                                </td>
                                                <td>
                                                    {{ pasajero.numerodocumento }}
                                                </td>
                                                <td>
                                                    {{ pasajero.fechanacimiento|date('d/m/Y') }}
                                                </td>
                                                <td>
                                                    {{ pasajero.edad }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if object.filedocumentos is defined and object.filedocumentos|length > 0 %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                        {{ 'tickets_y_documentos' | trans({},'messages') | capitalize }}
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="container-fluid">
                                        {% for archivo in object.filedocumentos %}
                                            <div class="col-xs-4 col-sm-2">
                                                <div class="thumbnail thumbnail-fluid">
                                                    <a href="{{ app.request.getSchemeAndHttpHost() ~ archivo.webpath|raw }}"{% if archivo.inmodal == true %} data-toggle="lightbox"{% else %} target="_blank" {% endif %}>
                                                        <img src="{{ app.request.getSchemeAndHttpHost() ~ archivo.webThumbPath|raw }}"
                                                             alt="{{ archivo.nombre }}"
                                                             class="{% if archivo.inModal == true %}in-modal{% endif %} {% if archivo.aspectRatio is not null and archivo.aspectRatio < 1 %}portrait{% elseif archivo.aspectRatio >= 1 %}landscape{% endif %}"
                                                        >
                                                        <div class="caption">
                                                            <p style="overflow-wrap: break-word;" class="small text-center">{{ archivo.nombre }}</p>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if object.cotizaciones is defined and object.cotizaciones|length > 0 %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                        {% if object.catalogo == false %}
                                            {{ 'cotizaciones' | trans({},'messages') | capitalize }}
                                        {% else %}
                                            {{ 'excursiones' | trans({},'messages') | capitalize }}
                                        {% endif %}
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse in">
                                <div class="box panel-body col-md-12 col-sm-12 col-xs-12">
                                    {% set continue = false %}
                                    {% set existe = false %}
                                    {# for cotizacion in object.cotizaciones | filter(cotizacion => cotizacion.estadocotizacion.id in [1, 3, 6]) #}
                                    {% for cotizacion in object.cotizaciones %}
                                        {% if action == 'resumen' and cotizacion.estadocotizacion.id not in [1, 3, 6] %}
                                            {% set continue = true %}
                                        {% endif %}
                                        {% if not continue %}
                                            {% set existe = true %}
                                            <div class="row-cotizacion col-md-12 col-sm-12 col-xs-12 row-line">
                                                {% if cotizacion.portadafotos is not empty %}
                                                    <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-10">
                                                        <div id="carousel_{{ cotizacion.id }}" class="carousel slide" data-interval="10000" data-ride="carousel">
                                                            <!-- indicadores -->
                                                            <ol class="carousel-indicators">
                                                                {% for index_medio, medio in cotizacion.portadafotos %}
                                                                    <li data-target="#carousel_{{ cotizacion.id }}" data-slide-to="{{ index_medio }}" {% if loop.first == true  %}class="active"{% endif%}></li>
                                                                {% endfor %}
                                                            </ol>
                                                            <!-- slides -->
                                                            <div class="carousel-inner" role="listbox">
                                                                {% for medio in cotizacion.portadafotos %}
                                                                    <div class="item{% if loop.first == true  %} active{% endif%}">
                                                                        <a href="{% if medio.tipo == 'local' %}{{ app.request.getSchemeAndHttpHost() ~ medio.webPath|raw }}{% else %}{{ medio.webPath|raw }}{% endif %}"{% if medio.inModal == true %} data-toggle="lightbox" data-gallery="galeria_cotizacion_{{ cotizacion.id }}"{% else %} target="_blank" {% endif %}>
                                                                            <img src="{% if medio.tipo == 'local' %}{{ app.request.getSchemeAndHttpHost() ~ medio.webThumbPath|raw }}{% else %}{{ medio.webThumbPath|raw }}{% endif %}"
                                                                                 alt="{{ medio.titulo }}"
                                                                                 class="{% if medio.inModal == true %}in-modal{% endif %} {% if medio.aspectRatio is not null and medio.aspectRatio < 1 %}portrait{% elseif medio.aspectRatio >= 1 %}landscape{% endif %}"
                                                                            >
                                                                            <div class="carousel-caption">
                                                                                <p style="overflow-wrap: break-word;" class="small text-center">{{ medio.titulo }}</p>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                            <!-- botones -->
                                                            <a class="left carousel-control" href="#carousel_{{ cotizacion.id }}" role="button" data-slide="prev">
                                                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                                                <span class="sr-only">{{ 'anterior'|trans({}, 'messages')|capitalize}}</span>
                                                            </a>
                                                            <a class="right carousel-control" href="#carousel_{{ cotizacion.id }}" role="button" data-slide="next">
                                                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                                                <span class="sr-only">{{ 'siguiente'|trans({}, 'messages')|capitalize}}</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                <div class="col-md-4 col-sm-6 col-xs-12">
                                                    <div class="margin-bottom-10 col-md-12 col-sm-12 col-xs-12">
                                                        <span class="cotcodigo">{{ cotizacion.codigo }}</span>
                                                        {% if object.catalogo == false or action != 'resumen' %}
                                                            <span class="cotcantidad">x{{ cotizacion.numeropasajeros }}</span>
                                                            <span class="cotestado">({{ cotizacion.estadocotizacion.nombre }})</span>
                                                        {% endif %}
                                                    </div>
                                                    {% if action != 'resumen' %}
                                                        <div class="margin-bottom-10 col-md-12 col-sm-12 col-xs-12 ck-content">
                                                            {{ cotizacion.nombre }}
                                                        </div>
                                                    {% endif %}
                                                    <div style="font-size: 1.07em; color: #003d72;" class="margin-bottom-10 col-md-12 col-sm-12 col-xs-12 ck-content">
                                                        {% if cotizacion.resumen is not null and cotizacion.resumen is not empty %}
                                                            {{ cotizacion.resumen|raw }}
                                                        {% else %}
                                                            {% if app.request.locale != app.request.defaultLocale %}
                                                                {{ cotizacion.resumenoriginal|raw }}
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6 col-xs-12">

                                                    <div style="text-align: right;" class="margin-bottom-10 col-md-12 col-sm-12 col-xs-12">
                                                        {% if object.catalogo == false %}
                                                            <p class="fechas-mono">{{ 'fecha_inicio'|trans({},'messages')|capitalize}} : {{ cotizacion.fechaingreso|date('Y-m-d') }}</p>
                                                        {% endif %}
                                                        {% if object.catalogo == false or action != 'resumen' %}
                                                            <p class="fechas-mono">{{ 'fecha_cotizacion'|trans({},'messages')|capitalize}} : {{ cotizacion.fecha|date('Y-m-d') }}</p>
                                                        {% endif %}
                                                    </div>

                                                    <div style="text-align: right;" class="margin-bottom-10 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="btn-group">
                                                            <a class="btn btn-sm btn-primary view_link" href="{{ path('admin_app_cotizacioncotizacion_resumen', {'id': cotizacion.id, 'token': cotizacion.token}) }}">
                                                                <i class="fa fa-info" aria-hidden="true"></i>
                                                                {% if action != 'resumen' %}{{ 'resumen'|trans({},'messages')|capitalize}}{% else %}{{ 'mostrar'|trans({},'messages')|capitalize}}{% endif %}
                                                            </a>
                                                            {% if action != 'resumen' %}
                                                            <a class="btn btn-sm btn-success view_link" href="{{ path('admin_app_cotizacioncotizacion_show', {'id': cotizacion.id}) }}">
                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                {{ 'mostrar'|trans({},'messages')|capitalize}}
                                                            </a>
                                                            <a class="btn btn-sm btn-default view_link" href="{{ path('admin_app_cotizacioncotizacion_edit', {'id': cotizacion.id}) }}">
                                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                                                {{ 'editar'|trans({},'messages')|capitalize}}
                                                            </a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if continue %}
                                            {% set continue = false %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if not existe %}
                                        <div class="panel-body col-md-12 col-sm-12 col-xs-12"><p>No se encontraron registros</p></div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>

</div>

    {{ sonata_block_render_event('sonata.admin.show.bottom', { 'admin': admin, 'object': object }) }}
{% endblock %}
