<h2>OpenPeru - Resumen</h2>
<p>
    Hola, este es el resumen del sistema de OpenPeru!
</p>

<h3>Componentes pendientes de confirmación y reconfirmación: </h3>
{% if alertas|length > 0 %}
    <table style="margin-left: 15px; border-collapse: collapse;">
        <tr style="border-bottom: 1px solid steelblue;">
            <th>
                Estado
            </th>
            <th>
                Fecha
            </th>
            <th>
                File
            </th>
            <th>
                Servicio
            </th>
            <th>
                Componente
            </th>
        </tr>
        {% for alerta in alertas %}
            <tr style="border-bottom: 1px solid steelblue;">
                 {% if alerta.idEstado == 1 %}
                     {% set color = 'darkred' %}
                 {% else %}
                     {% set color = 'darkorange' %}
                 {% endif %}
                <td style="padding: 0 4px 0 4px; color: {{ color }}">
                    {{ alerta.nombreEstado }}
                </td>
                <td style="padding: 0 4px 0 4px;">
                    {{ alerta.fechaHoraInicio|date("Y-m-d H:i") }}
                </td>
                <td style="padding: 0 4px 0 4px;">
                    {{ alerta.nombreFile }}
                </td>
                <td style="padding: 0 4px 0 4px;">
                    <a href="{{ url('admin_app_cotizacioncotservicio_edit', {'id': alerta.idServicio }) }}">{{alerta.nombreServicio}}</a>
                </td>
                <td style="padding: 0 4px 0 4px;">
                    {{alerta.nombreComponente}}
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p style="font-size: 1.3em; color: darkgreen">Los servicios próximos se encuentran confirmados y reconfirmados.</p>
{% endif %}

<h3>Ingresos y salidas de apartamentos: </h3>
{% if reservasordenadas|length > 0 %}
    {% for tipo in reservasordenadas %}
        {% if tipo|length > 0 %}
            <h4 style="margin-left: 15px;">{{ tipo.nombre }}:</h4>
            <table style="margin-left: 30px; border-collapse: collapse;">
                <tr style="border-bottom: 1px solid steelblue;">
                    <th>
                        Apart
                    </th>
                    <th>
                        Canal
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Adultos
                    </th>
                    <th>
                        Niños
                    </th>
                </tr>
                {% for reserva in tipo.reservas %} {# siempre tiene contenido, ya no validamos #}
                    <tr style="border-bottom: 1px solid steelblue;">

                        <td style="padding: 0 4px 0 4px;">
                            {{ reserva.unit.nombre }}
                        </td>
                        <td style="padding: 0 4px 0 4px;">
                            {{ reserva.chanel.nombre }}
                        </td>
                        <td style="padding: 0 4px 0 4px;">
                            <a href="{{ url('admin_app_reservareserva_show', {'id': reserva.id }) }}">{{ reserva.nombre }}</a>
                        </td>
                        <td style="padding: 0 4px 0 4px;">
                            {{ reserva.cantidadadultos }}
                        </td>
                        <td style="padding: 0 4px 0 4px;">
                            {{ reserva.cantidadninos }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    {% endfor %}

{% else %}
    <p style="font-size: 1.3em; color: indigo;">No hay reservas ingresando o saliendo para el dia de mañana y pasado mañana.</p>
{% endif %}

<h3>Toures y excursiones: </h3>
{% if serviciosordenados|length > 0 %}
    {% for tipo in serviciosordenados %}
        {% if tipo|length > 0 %}
            <h4 style="margin-left: 15px;">{{ tipo.nombre }}:</h4>
            <table style="margin-left: 30px; border-collapse: collapse;">
                <tr style="border-bottom: 1px solid steelblue;">
                    <th>
                        Hora
                    </th>
                    <th>
                        Servicio
                    </th>
                    <th>
                        Itinerario
                    </th>
                    <th>
                        Componentes
                    </th>
                </tr>
                {% for servicio in tipo.servicios %} {# siempre tiene contenido, ya no validamos #}
                    <tr style="border-bottom: 1px solid steelblue;">
                        <td style="padding: 0 4px 0 4px;">
                            {{ servicio.fechahorainicio|date('H:i') }}
                        </td>
                        <td style="padding: 0 4px 0 4px;">
                            <a href="{{ url('admin_app_reservareserva_show', {'id': servicio.id }) }}">{{ servicio.resumen }}</a>
                        </td>
                        <td style="padding: 0 4px 0 4px;">
                            {{ servicio.itinerario.nombre }}
                        </td>
                        <td style="padding: 0 4px 0 4px;">
                            {% if servicio.cotcomponentes|length > 0 %}
                                <ul>
                                    {% for componente in servicio.cotcomponentes %}
                                        <li>
                                            <a style="color: {{componente.estadocotcomponente.color}};">{{ componente.componente.nombre }} ({{ componente.estadocotcomponente.nombre }})</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    {% endfor %}

{% else %}
    <p style="font-size: 1.3em; color: indigo;">No hay reservas ingresando o saliendo para el dia de mañana y pasado mañana.</p>
{% endif %}

