{% extends 'base_sonata_admin/show.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        .datos-generales{margin: 10px;}
        .fila{list-style: none;}
        .fila.servicio{padding-inline-start: 0; margin: 5px;}
        .fila li {list-style: none; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; margin-bottom: 5px;}
        .celda{display: inline-block; padding: 0 5px;}
        .celda.heading{font-weight: bold; font-size: 0.8em; vertical-align: top;}
        .titulo{font-size: 0.8em; font-weight: bold;}
    </style>
{% endblock %}

{% block show %}

<div class="sonata-ba-view">

    {{ sonata_block_render_event('sonata.admin.show.top', { 'admin': admin, 'object': object }) }}

    <div class="panel panel-default hidden-print">
        <div class="datos-generales">
            <p>File: <span style="font-size: 1.1em; font-weight: 600;">{{ object.cotservicio.cotizacion.file.nombre }} x{{ object.cotservicio.cotizacion.numeropasajeros }} ({{ object.cotservicio.cotizacion.estadocotizacion.nombre }})</span></p>
            <p>Cotizacion: <span style="font-size: 1.1em; font-weight: 600; color: {{ colores.verde_oscuro }};">{{ object.cotservicio.cotizacion.numerocotizacion }}</span></p>
        </div>
        <ul class="fila servicio">
            <li>
                <div class="celda heading">Ser</div>
                <div class="celda">
                    <div class="celda"><div class="titulo">Nombre</div><div class="contenido">{{ object.cotservicio.servicio.nombre }}</div></div>
                    <div class="celda"><div class="titulo">Itinerario</div><div class="contenido">{{ object.cotservicio.itinerario.nombre|length > 30 ? object.cotservicio.itinerario.nombre|slice(0, 30) ~ '...' : object.cotservicio.itinerario.nombre }}</div></div>
                    <div class="celda"><div class="titulo">Inicio</div><div class="contenido"><span style="font-weight: bold; color: seagreen;">{{ object.cotservicio.fechahorainicio|date("H:i") }}</span> <span>{{ object.cotservicio.fechahorainicio|date("Y-m-d") }}</span></div></div>
                    <div class="celda"><div class="titulo">Fin</div><div class="contenido"><span style="font-weight: bold; color: seagreen;">{{ object.cotservicio.fechahorafin|date("H:i") }}</span> <span>{{ object.cotservicio.fechahorafin|date("Y-m-d") }}</span></div></div>
                </div>
                <ul class="fila componente">
                    <li>
                        <div class="celda heading">Com</div>
                        <div class="celda">
                            <div class="celda"><div class="titulo">Nombre</div><div class="contenido">{{ object.componente.nombre }}</div></div>
                            <div class="celda"><div class="titulo">#</div><div class="contenido">{{ object.cantidad }}</div></div>
                            <div class="celda"><div class="titulo">Inicio</div><div class="contenido"><span style="font-weight: bold; color: seagreen;">{{ object.fechahorainicio|date("H:i") }}</span> <span>{{ object.fechahorainicio|date("Y-m-d") }}</span></div></div>
                            <div class="celda"><div class="titulo">Fin</div><div class="contenido"><span style="font-weight: bold; color: seagreen;">{{ object.fechahorafin|date("H:i") }}</span> <span>{{ object.fechahorafin|date("Y-m-d") }}</span></div></div>
                            <div class="celda"><div class="titulo">Estado</div><div class="contenido estadocomponente" style="color: {{ object.estadocotcomponente.color }};">{{ object.estadocotcomponente.nombre }}</div></div>
                            {% if object.componente.componenteitems is defined and object.componente.componenteitems|length > 0 %}
                                <div class="celda">
                                    <div class="titulo">Items</div>
                                    <div class="contenido">
                                        {% for item in object.componente.componenteitems %}
                                            {% if loop.first == false  %},{% endif%}
                                            {{ item.titulo }}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        {% if object.cottarifas is defined and object.cottarifas|length > 0%}
                            <ul class="fila tarifa">
                                {% for tarifa in object.cottarifas %}
                                    <li>
                                        <div class="celda heading">Tar</div>
                                            <div class="celda">
                                            <div class="celda"><div class="titulo">Nombre</div><div class="contenido">{{ tarifa.tarifa.nombre }}</div></div>
                                            <div class="celda"><div class="titulo">#</div><div class="contenido">{{ tarifa.cantidad }}</div></div>
                                            <div class="celda"><div class="titulo">Proveedor</div><div class="contenido" style="color: dodgerblue">{% if tarifa.provider is not null %}{{ tarifa.provider.nombre }}{% else %}-{% endif %}</div></div>
                                            <div class="celda"><div class="titulo">Tipo</div><div class="contenido" style="color: {{ tarifa.tarifa.tipotarifa.listacolor }};">{{ tarifa.tarifa.tipotarifa.nombre }}</div></div>
                                        </div>
                                            {% if tarifa.cottarifadetalles is defined and tarifa.cottarifadetalles|length > 0%}
                                            <ul class="fila detalle">
                                                {% for detalle in tarifa.cottarifadetalles %}
                                                    <li>
                                                        <div class="celda heading">Det</div>
                                                        <div class="celda">
                                                            <div class="celda"><div class="titulo">Detalle</div><div class="contenido">{{ detalle.detalle }}</div></div>
                                                            <div class="celda"><div class="titulo">Tipo</div><div class="contenido">{{ detalle.tipotarifadetalle.nombre }}</div></div>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                </ul>
            </li>
        </ul>

        <div class="panel-body table-responsive">

            {% if proveedores is defined and proveedores|length > 0 %}
                {% for proveedor in proveedores %}

                    {% set emailTitulo = 'Reconfirmacion OpenPeru Pax: ' ~ object.cotservicio.cotizacion.file.nombre ~ ' x' ~ object.cotservicio.cotizacion.numeropasajeros %}

                    <h3>{{ proveedor.nombreMostrar }} <span style="font-size: 70%;">({{ proveedor.nombre }})</span></h3>
                    {% set whatsappText = 'Señor(a/es) ' ~ proveedor.nombreMostrar ~ ', sírvase *reconfirmar* los siguientes servicios:\n\n'%}
                    {% set emailMensaje = '<p>Señor(a/es) ' ~ proveedor.nombreMostrar ~ ', sírvase <span style="font-weight: bold;">reconfirmar</span> los siguientes servicios:</p>'%}

                    {# <h4>Pax: <span style="font-weight: bold;"> {{ object.cotservicio.cotizacion.file.nombre }} x{{ object.cotservicio.cotizacion.numeropasajeros }}</span> ({{ object.cotservicio.cotizacion.file.pais.nombre }} - {{ object.cotservicio.cotizacion.file.idioma.nombre }})</h4> #}
                    {% set whatsappText = whatsappText ~ 'Pax: *' ~ object.cotservicio.cotizacion.file.nombre ~ ' x' ~ object.cotservicio.cotizacion.numeropasajeros ~ '* (' ~ object.cotservicio.cotizacion.file.pais.nombre ~ ' - *' ~ object.cotservicio.cotizacion.file.idioma.nombre ~ '*)' ~ '\n\n' %}
                    {% set emailMensaje = emailMensaje ~ '<h4>Pax: <span style="font-weight: bold;">' ~ object.cotservicio.cotizacion.file.nombre ~ ' x' ~ object.cotservicio.cotizacion.numeropasajeros ~ '</span> (' ~ object.cotservicio.cotizacion.file.pais.nombre ~ ' - <span style="font-weight: bold;">' ~ object.cotservicio.cotizacion.file.idioma.nombre ~ '</span>)' ~ '</h4>' %}

                    {% if proveedor.componentes is defined and proveedor.componentes|length > 0%}
                        {% for componente in proveedor.componentes %}
                            <p>
                                {% set emailMensaje = emailMensaje ~ '<p>' %}
                                {% if componente.tipoComponenteId == constant('App\\Entity\\ServicioTipocomponente::DB_VALOR_TICKET')
                                    or componente.tipoComponenteId == constant('App\\Entity\\ServicioTipocomponente::DB_VALOR_ALOJAMIENTO')
                                    or componente.tipoComponenteId == constant('App\\Entity\\ServicioTipocomponente::DB_VALOR_EXCURSION_POOL')
                                %}
                                    <span style="font-weight: bold;">{{ componente.fechaHoraInicio|date("Y-m-d") }}</span>
                                    {% set whatsappText = whatsappText ~ '*' ~ componente.fechaHoraInicio|date("Y-m-d") ~ '*' %}
                                    {% set emailMensaje = emailMensaje ~ '<span style="font-weight: bold;">' ~ componente.fechaHoraInicio|date("Y-m-d") ~ '</span>' %}
                                {% else %}
                                    <span style="font-weight: bold;">{{ componente.fechaHoraInicio|date("Y-m-d H:i") }}</span>
                                    {% set whatsappText = whatsappText ~ '*' ~ componente.fechaHoraInicio|date("Y-m-d H:i") ~ '*' %}
                                    {% set emailMensaje = emailMensaje ~ '<span style="font-weight: bold;">' ~ componente.fechaHoraInicio|date("Y-m-d H:i") ~ '</span>' %}
                                {% endif %}

                                {{ componente.componenteNombre }}
                                {% set whatsappText = whatsappText ~ ' ' ~ componente.componenteNombre %}
                                {% set emailMensaje = emailMensaje ~ ' ' ~ componente.componenteNombre %}
                                {% if componente.componenteCantidad > 1 or componente.tipoComponenteId == constant('App\\Entity\\ServicioTipocomponente::DB_VALOR_ALOJAMIENTO') %} {# 4 mostrar siempre si es hotel #}
                                    <span style="font-weight: bold;">x{{ componente.componenteCantidad }}</span>
                                    {% set whatsappText = whatsappText ~ ' *x' ~ componente.componenteCantidad ~ '*' %}
                                    {% set emailMensaje = emailMensaje ~ ' <span style="font-weight: bold;">x' ~ componente.componenteCantidad ~ '</span>' %}
                                {% endif %}
                                {% if componente.tipoComponenteId == constant('App\\Entity\\ServicioTipocomponente::DB_VALOR_ALOJAMIENTO') %}
                                    noches
                                    {% set whatsappText = whatsappText ~ ' noches' %}
                                    {% set emailMensaje = emailMensaje ~ ' noches' %}
                                {% endif %}

                                {% for tarifa in componente.tarifas %}
                                    {% if not loop.first %}
                                        |
                                        {% set whatsappText = whatsappText ~ ', ' %}
                                        {% set emailMensaje = emailMensaje ~ ', ' %}
                                    {% endif %}
                                    {% if componente.tipoComponenteId != constant('App\\Entity\\ServicioTipocomponente::DB_VALOR_ALOJAMIENTO') %}
                                        <span style="font-weight: bold;">{{ tarifa.tarifaNombre }}</span>
                                        {% set whatsappText = whatsappText ~ ' *' ~ tarifa.tarifaNombre ~ '*' %}
                                        {% set emailMensaje = emailMensaje ~ ' <span style="font-weight: bold;">' ~ tarifa.tarifaNombre ~ '</span>' %}
                                    {% endif %}
                                    {% if tarifa.tarifaCantidad is defined %} {# depende del prorateo #}
                                        <span style="font-weight: bold;">x{{ tarifa.tarifaCantidad }}</span>
                                        {% set whatsappText = whatsappText ~ ' *x' ~ tarifa.tarifaCantidad ~ '*' %}
                                        {% set emailMensaje = emailMensaje ~ ' <span style="font-weight: bold;">x' ~ tarifa.tarifaCantidad ~ '</span>' %}
                                    {% endif %}
                                    {% if tarifa.infoOperativa is defined %}
                                        {{ tarifa.infoOperativa }}
                                        {% set whatsappText = whatsappText ~ ' *' ~ tarifa.infoOperativa  ~ '*' %}
                                        {% set emailMensaje = emailMensaje ~ ' <span style="font-weight: bold;">' ~ tarifa.infoOperativa  ~ '</span>' %}
                                    {% endif %}
                                    {% if tarifa.tipoTarifaId != 1  %}
                                        ({{ tarifa.tipoTarifaNombre }})
                                        {% set whatsappText = whatsappText ~ ' (' ~ tarifa.tipoTarifaNombre ~ ')' %}
                                        {% set emailMensaje = emailMensaje ~ ' (' ~ tarifa.tipoTarifaNombre ~ ')' %}
                                    {% endif %}
                                {% endfor %}

                            </p>
                            {% set whatsappText = whatsappText ~ '\n' %}
                            {% set emailMensaje = emailMensaje ~ '</p>' %}
                        {% endfor %}
                    {% endif %}
                    {% if proveedor.hoteles is defined and proveedor.hoteles|length > 0%}
                        {% set whatsappText = whatsappText ~ '\n' %}
                        <h4>Hoteles:</h4>
                        {% set whatsappText = whatsappText ~ '*Hoteles:*\n' %}
                        {% set emailMensaje = emailMensaje  ~ '<h4>Hoteles:</h4>' %}
                        {% for hotel in proveedor.hoteles %}
                            <p>
                                {% set emailMensaje = emailMensaje ~ '<p>' %}
                                Del {{hotel.fechaHoraInicio|date("Y-m-d") }} al {{hotel.fechaHoraFin|date("Y-m-d") }} <span style="font-weight: bold;">{{hotel.nombreMostrar }}</span>
                                {% set whatsappText = whatsappText ~ 'Del ' ~ hotel.fechaHoraInicio|date("Y-m-d") ~ ' al ' ~ hotel.fechaHoraFin|date("Y-m-d") ~ ' *' ~ hotel.nombreMostrar ~ '*' %}
                                {% set emailMensaje = emailMensaje ~ 'Del ' ~ hotel.fechaHoraInicio|date("Y-m-d") ~ ' al ' ~ hotel.fechaHoraFin|date("Y-m-d") ~ ' <span style="font-weight: bold;">' ~ hotel.nombreMostrar ~ '</span>' %}
                                {% if hotel.direccion is defined %}
                                    {{ hotel.direccion }}
                                    {% set whatsappText = whatsappText ~ ' ' ~ hotel.direccion %}
                                    {% set emailMensaje = emailMensaje ~ ' ' ~ hotel.direccion %}
                                {% endif %}

                            </p>
                            {% set whatsappText = whatsappText ~ '' %}
                            {% set emailMensaje = emailMensaje ~ '</p>' %}
                            {% if object.cotservicio.cotizacion.file.telefono is not empty %}
                                <p>Teléfono del Cliente: <span style="font-weight: 600;">{{ object.cotservicio.cotizacion.file.telefono }}</span></p>
                                {% set whatsappText = whatsappText ~ '\n\nTeléfono del Cliente: *' ~ object.cotservicio.cotizacion.file.telefono ~ '*'%}
                                {% set emailMensaje = emailMensaje ~ '<p>Teléfono del Cliente: <span style="font-weight: 600;">' ~ object.cotservicio.cotizacion.file.telefono ~ '</span></p>' %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if proveedor.telefono is defined %}
                        <a href="https://wa.me/{{proveedor.telefono|replace({'-': '', '+': '', '(': '',  ')': '',  ' ': ''}) }}?text={{ whatsappText|url_encode }}"
                           target="_blank" class="btn btn-sm btn-success edit_link">
                            <i class="fa fa-whatsapp" aria-hidden="true"></i>
                            Enviar por Whatsapp
                        </a>
                    {% endif %}

                    {% if proveedor.email is defined %}
                        <a href="#"
                           class="btn btn-sm btn-info edit_link"
                           data-toggle="modal"
                           data-target="#emailModal-{{ loop.index }}">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            Enviar por Correo
                        </a>

                        <div class="modal fade" id="emailModal-{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="emailLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">Enviar Mensaje</h4>
                                    </div>
                                    <div class="modal-body">
                                        Esta seguro que desea enviar el mensaje al proveedor?
                                    </div>
                                    <div class="modal-footer">
                                        <div class="form-group">
                                            <form action="{{ admin.generateObjectUrl('email', object ) }}" method="POST">
                                                <input type="hidden" name="email[mensaje]" value="{{ emailMensaje|url_encode }}" />
                                                <input type="hidden" name="email[titulo]" value="{{ emailTitulo|url_encode }}" />
                                                <input type="hidden" name="email[destinatario]"  value="{{ proveedor.email|url_encode }}" />
                                                <button type="submit" class="btn btn-danger">Enviar E-Mail</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                {% endfor %}
            {% endif %}
        </div>
    </div>

    {{ sonata_block_render_event('sonata.admin.show.bottom', { 'admin': admin, 'object': object }) }}
</div>
{% endblock %}
