{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{% block field %}
    {%- if value is empty -%}

    {%- else -%}
        <div class="thumbnail" style="width:120px; margin-bottom: 5px;">
            <a href="{% if object.tipo == 'local' %}{{ app.request.getSchemeAndHttpHost() ~ object.webPath|raw }}{% else %}{{ object.webPath|raw }}{% endif %}"{% if object.inmodal == true %} data-toggle="lightbox"{% else %} target="_blank" {% endif %}>
                <img src="{% if object.tipo == 'local' %}{{ app.request.getSchemeAndHttpHost() ~ value|raw }}{% else %}{{ value|raw }}{% endif %}" alt="{{ object.titulo is defined ? object.titulo : object.nombre }}" style="width:120px;">
            </a>
        </div>

    {%- endif -%}

{% endblock %}
