{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block meta_tags %}
    {{ parent() }}
{% endblock %}

{% block sonata_head_title %}
    {% if _title is not empty %}
        {{ _title|striptags|raw }}
    {% else %}
        {% if action is defined %}
            {{ render_breadcrumbs_for_title(admin, action) }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('app/images/favicon.png') }}" rel="shortcut icon" />
    <link href="{{ asset('/bundles/sonataform/app.css') }}" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.11.0/main.min.css" rel="stylesheet" />
    <link href="{{ asset('/app/ckeditor/content-styles.css') }}" rel="stylesheet" />
    <style>

        {# Modificaciones para el encabezado, Bredcrumb y otros #}
        .main-header { height: 100px; }
        .main-header .logo { height: 100px; }
        .main-header .logo img { max-width: unset; }
        .main-sidebar, .left-side { padding-top: 100px; }
        .fc-toolbar h2 { font-size: 20px; padding-top: 10px; }
        div.encabezado td { white-space: normal !important; }
        body > div.wrapper > header > nav > div.navbar-custom-menu > ul > li > a { background-color: white; }
        body > div > header > nav > div.navbar-left > div > ol > li.active { max-width: 250px; white-space: nowrap; }
        section.content .btn-group > .btn { min-width: 90px; }
        @media screen and (max-width: 767px) {
            .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > td, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > thead > tr > th {
                white-space: normal !important;
            }
            .skin-black .main-header > .logo { background-color: #ffffff; color: #222222; border-bottom: 1px solid #222222;}
            .skin-black .main-header > .logo:hover { background-color: #ffffff; color: #222222; border-bottom: 1px solid #222222;}
            .skin-black .main-header > .logo span { color: #222222; font-size: 80%; margin-top: 10px; font-weight: bold;}
        }

        .fechas-mono {font-size: 0.9em; font-family: monospace; white-space: nowrap; }

        {# mgaleria carrusel #}
        .carousel-inner img.portrait { width: 100%; }
        .carousel-inner img.landscape { width: 100%; }

         {# modo anterior de galeria #}
        .thumbnail-fluid img.in-modal.portrait { width: 60%; }
        .thumbnail-fluid img.in-modal.landscape { width: 100%; }
        .thumbnail-fluid .caption .small.text-center { margin: 0; }

        .clipboard-trigger:hover {cursor:pointer;}
        #tooltipdiv{ position: fixed; width: 220px; height: 30px; top: 30%; left: 50%; margin-top: -15px; /* Negative half of height. */ margin-left: -110px; /* Negative half of width. */ border-radius: 5px; text-align: center; padding: 5px; background: #ffde5a; font-weight: 600; filter: drop-shadow(0 3px 5px #ccc); line-height: 1.5; z-index: 1000; }

        ul.listaordenada, ul.sonata-ba-show-one-to-many { list-style: none; padding: 0; margin: 0; }
        ul.listaordenada li, ul.sonata-ba-show-one-to-many li{ padding-left: 16px; position: relative; }
        ul.listaordenada li::before, ul.sonata-ba-show-one-to-many li::before { content:"\25CF"; color:#F68A39; font-weight:bold; font-size:18px; text-align:right; padding-right:6px; width:10px; position: absolute; left: 0; top: -0.2em; }
        ul.listaordenada li a, ul.sonata-ba-show-one-to-many li a { padding-bottom: 5px; display: block; }

        .fc-timeline-event:hover{cursor: pointer;}

    </style>
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('/bundles/sonataform/app.js') }}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.3/bootbox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.11.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.11.0/locales-all.min.js"></script>

    <script>
        $(document).ready(function() {
            $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });
            $(document).on("select2:open", () => {
                document.querySelector(".select2-container--open .select2-search__field").focus()
            })

            $('.clipboard-trigger').on( "click", function() {
                let text = $(this).data('text');
                if(typeof text == 'undefined'){
                    console.log('No esta puesto el atributo data-text');
                    return;
                }

                let $temp = $("<input>")
                $("body").append($temp);
                $temp.val(text).select();
                document.execCommand("copy");
                $temp.remove();

                let tooltiptext = $(this).data('tooltiptext')
                if(typeof tooltiptext == 'undefined'){
                    console.log('No esta puesto el atributo tooltiptext');
                    return;
                }

                var $tooltipdiv = $('<div id="tooltipdiv">' + tooltiptext + '</div>')
                $(".content-wrapper").prepend($tooltipdiv);
                setTimeout(function() {
                    $("#tooltipdiv").fadeOut(300, function() { $(this).remove(); })

                }, 600);
            });
        });

    </script>
{% endblock %}

{# custom languaje switcher, for not to use translatiom's bundle one #}
{% block sonata_top_nav_menu %}
    {{ parent() }}
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            {% block sonata_top_nav_menu_locale_block %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-flag fa-fw" aria-hidden="true"></i>
                        {{ 'idioma'| trans({}, 'messages') | capitalize }}
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu">
                        <div class="container-fluid">
                            <div class="row">
                                <ul class="dropdown-menu">
                                    <li role="presentation" class="dropdown-header">
                                        <i class="fa fa-language"></i>
                                        {{ 'languages'|trans({}, 'SonataTranslationBundle') }}
                                    </li>
                                    {% for locale in sonata_translation_locales %}
                                        <li role="presentation" class="{{ app.request.locale == locale ? 'active' : '' }}">
                                            <a role="menuitem" tabindex="-1" href="{{ path('sonata.translation.locale', {'locale': locale}) }}">
                                                {{ locale|sonata_language_name(locale)|capitalize }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            {% endblock %}
        </ul>
    </div>
{% endblock %}

{% block side_bar_after_nav %}
    {{ parent() }}
    <div class="btn-group btn-group-justified">
    </div>
{% endblock %}