{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block meta_tags %}
    {{ parent() }}
{% endblock %}

{% block sonata_head_title %}
    {% if _title is not empty %}
        {{ _title|striptags|raw }}
    {% else %}
        {% if action is defined %}
            {{ render_breadcrumbs_for_title(admin, action) }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="shortcut icon" href="{{ asset('app/images/favicon.png') }}">
    <link href="{{ asset('/bundles/sonataform/app.css') }}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.11.0/main.min.css" rel="stylesheet" />

    <style>
        @media (max-width: 767px) {
            .skin-black .main-header > .logo {
                background-color: #ffffff;
                color: #222222;
                border-bottom: 1px solid #222222;

            }
            .skin-black .main-header > .logo:hover {
                background-color: #ffffff;
                color: #222222;
                border-bottom: 1px solid #222222;
            }

            .skin-black .main-header > .logo span {
                color: #222222;
                font-size: 80%;
                margin-top: 10px;
                font-weight: bold;

            }
        }
        .main-header {height: 100px;}
        .main-header .logo {height: 100px;}
        .main-header .logo img {max-width: unset;}
        .main-sidebar, .left-side {padding-top: 100px;}
        .fc-toolbar h2 {font-size: 20px; padding-top: 10px;}

        figure.image_resized > img {max-width: 100%;}

        ul.listaordenada, ul.sonata-ba-show-one-to-many { list-style: none; padding: 0; margin: 0;}
        ul.listaordenada li, ul.sonata-ba-show-one-to-many li{ padding-left: 16px; position: relative;}
        ul.listaordenada li::before, ul.sonata-ba-show-one-to-many li::before { content:"\25CF"; color:#F68A39; font-weight:bold; font-size:18px; text-align:right; padding-right:6px; width:10px; position: absolute; left: 0; top: -0.2em;}
        ul.listaordenada li a, ul.sonata-ba-show-one-to-many li a {padding-bottom: 5px; display: block;}
    </style>
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('/bundles/sonataform/app.js') }}"></script>
    <script src="{{ asset('/app/ckeditor/ckeditor.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.3/bootbox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.11.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.11.0/locales-all.min.js"></script>

    <script>
        $(document).ready(function() {
            $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });
            $(document).on("select2:open", () => {
                document.querySelector(".select2-container--open .select2-search__field").focus()
            })
        });
    </script>
{% endblock %}

{% block side_bar_after_nav %}
    {{ parent() }}
    <div class="btn-group btn-group-justified">
    </div>
{% endblock %}