<div class="box-body container-fluid">
    <div class="sonata-ba-collapsed-fields">
        <h3 class="visible-print">{{ 'tab_precio'|trans({},'messages')|capitalize}}</h3>
        {% if action == 'show' %}
        <div class="panel-group box box-primary" id="accordiontarifas">
            <div class="panel panel-default hidden-print">
                <div style="background-color: rgba(219,144,8,0.22);" class="panel-heading">
                    <h5 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordiontarifas" href="#collapsetarifas2">
                            Interno: Valores
                        </a>
                    </h5>
                </div>
                <div id="collapsetarifas2" class="panel-collapse collapse in">
                    <div class="panel-body table-responsive">
                        <h3 class="visible-print">Valores</h3>
                        <h4><strong>Resumen General</strong> al <span style="font-size: 0.7em;"> {{ object.comision|number_format(2, '.', '')}}% </span></h4>
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-bordered table-striped sonata-ba-list">
                                <thead>
                                <tr class="sonata-ba-list-field-header">
                                    <th class="text-center">
                                        Ganancia<br />S/.
                                    </th>
                                    <th class="text-center">
                                        Ganancia<br />$
                                    </th>
                                    <th class="text-center">
                                        Típo
                                    </th>
                                    <th class="text-center">
                                        Costo<br />S/.
                                    </th>
                                    <th class="text-center">
                                        Costo<br />$
                                    </th>
                                    <th class="text-center">
                                        Venta<br />S/.
                                    </th>
                                    <th class="text-center">
                                        Venta<br />$
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {%  for resumenitem in tabs.tarifas.resumen %}
                                    <tr>
                                        <td class="text-right" style="font-weight: bold; color: #1B6129;">
                                            {{ resumenitem.gananciasoles }}
                                        </td>
                                        <td class="text-right" style="font-weight: bold; color: #1B6129;">
                                            {{ resumenitem.gananciadolares }}
                                        </td>
                                        <td style="color: {{ resumenitem.listacolor }}">
                                            {{ resumenitem.titulo }}
                                        </td>
                                        <td class="text-right">
                                            {{ resumenitem.montosoles }}
                                        </td>
                                        <td class="text-right">
                                            {{ resumenitem.montodolares }}
                                        </td>
                                        <td class="text-right">
                                            {{ resumenitem.ventasoles }}
                                        </td>
                                        <td class="text-right">
                                            {{ resumenitem.ventadolares }}
                                        </td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <br />
                        <h4><strong>Por tipo de pasajero</strong></h4>
                        {% for rango in tabs.tarifas.rangos %}
                            <h4>
                                {{ rango.tipoPaxNombre }} <strong>x {{ rango.cantidad }}</strong>
                            </h4>
                            {% if rango.edadMin is defined or rango.edadMax is defined%}
                                <p>
                                    {% if rango.edadMin is defined and rango.edadMax is defined and rango.edadMax == rango.edadMin %}
                                        de {{ rango.edadMin }} años
                                        {% if rango.edadMax > 18 and rango.edadMax <= 23 %}
                                            &nbsp;<br />(con carné de estudiante válido y vigente)
                                        {% endif %}

                                    {% else %}
                                        {% if rango.edadMin is defined %}
                                            desde {{ rango.edadMin }} años
                                        {% endif %}

                                        {% if rango.edadMax is defined %}
                                            hasta {{ rango.edadMax }} años
                                            {% if rango.edadMax > 18 and rango.edadMax <= 23 %}
                                                <br />(con carné de estudiante válido y vigente)
                                            {% endif %}
                                        {% endif %}

                                    {% endif %}

                                </p>
                            {% endif %}

                            {% if rango.tituloPersistente is defined %}
                                <h5>{{ rango.tituloPersistente }}</h5>
                            {% endif %}
                            <div style="margin-left: 15px;" class="box-body table-responsive no-padding">
                                <table class="table table-bordered table-striped sonata-ba-list">
                                    <thead>
                                    <tr class="sonata-ba-list-field-header">
                                        <th>
                                            Monto Cotizado
                                        </th>
                                        <th>
                                            Tipo
                                        </th>
                                        <th>
                                            Componente (Tarifa)
                                        </th>
                                        <th>
                                            Servicio
                                        </th>
                                        <th class="text-right">
                                            Venta soles
                                        </th>
                                        <th class="text-right">
                                            Venta dolares
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {%  for tarifadetalle in rango.tarifas %}
                                    <tr>
                                        <td style="font-weight: bold;  color: #1B6129;">
                                            {% if tarifadetalle.cantidadComponente > 1 %}
                                                {{ tarifadetalle.cantidadComponente }} x&nbsp;
                                            {% endif %}
                                            {{ tarifadetalle.montoOriginal }}&nbsp;{{ tarifadetalle.monedaOriginal }}
                                            {% if tarifadetalle.prorrateado %}
                                                &nbsp;(P)
                                            {% else %}
                                                &nbsp;(U)
                                            {% endif %}
                                        </td>
                                        <td style="color: {{ tarifadetalle.tipoTarListacolor }};">
                                            {{ tarifadetalle.tipoTarTitulo }}
                                        </td>
                                        <td>
                                            {{ tarifadetalle.nombreComponente }} ({{ tarifadetalle.nombre }})
                                        </td>
                                        <td>
                                            {{ tarifadetalle.nombreServicio }}
                                        </td>
                                        <td class="text-right">
                                            {{ tarifadetalle.ventasoles }}
                                        </td>
                                        <td class="text-right">
                                            {{ tarifadetalle.ventadolares }}
                                        </td>

                                        {% endfor %}
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br />
                            <div style="margin-left: 30px;" class="box-body table-responsive no-padding">
                                <table class="table table-bordered table-striped sonata-ba-list">
                                    <thead>
                                    <tr class="sonata-ba-list-field-header">
                                        <th>
                                            Tipo
                                        </th>
                                        <th>
                                            Tipo para Pax
                                        </th>
                                        <th class="text-right">
                                            Costo Soles
                                        </th>
                                        <th class="text-right">
                                            Costo Dolares
                                        </th>
                                        <th class="text-right">
                                            Venta soles
                                        </th>
                                        <th class="text-right">
                                            Venta dolares
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {%  for tarifaresumen in rango.resumen %}
                                    <tr>
                                        <td style="color: {{ tarifaresumen.tipoTarListacolor }}">
                                            {{ tarifaresumen.tipoTarNombre }}
                                        </td>
                                        <td style="color: {{ tarifaresumen.tipoTarListacolor }}">
                                            {{ tarifaresumen.tipoTarTitulo }}
                                        </td>
                                        <td class="text-right">
                                            {{ tarifaresumen.montosoles }}
                                        </td>
                                        <td class="text-right">
                                            {{ tarifaresumen.montodolares }}
                                        </td>
                                        <td class="text-right">
                                            {{ tarifaresumen.ventasoles }}
                                        </td>
                                        <td class="text-right">
                                            {{ tarifaresumen.ventadolares }}
                                        </td>
                                        {% endfor %}
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br />
                        {% endfor %}

                    </div>
                </div>
            </div>
            <div class="panel panel-default hidden-print">
                <div class="panel-heading">
                    <h5 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordiontarifas" href="#collapsetarifas1">
                            {{ 'precio_de_venta'|trans({},'messages')|capitalize }}
                        </a>
                    </h5>
                </div>
                <div id="collapsetarifas1" class="panel-collapse collapse">
                    {% endif %}
                    <div class="panel-body table-responsive">

                        <h3 class="visible-print">{{ 'precio_de_venta'|trans({},'messages')|capitalize }}</h3>

                        <h4>{{ 'precio_por_pasajero'|trans({},'messages')|capitalize }}:</h4>
                        <ul style="list-style-type: none; padding-left: 18px">

                            {% for rango in tabs.tarifas.rangos %}
                                <li>
                                    <p style="margin-bottom: 0;">
                                        {{ rango.tipoPaxTitulo }}
                                        {% if rango.tituloPersistente is defined %}
                                            ({{ rango.tituloPersistente }})
                                        {% endif %}

                                        <span style="font-size: 0.9em;">
                                            {% if rango.edadMin is defined or rango.edadMax is defined %}

                                                {% if rango.edadMin is defined and rango.edadMax is defined and rango.edadMax == rango.edadMin %}
                                                    {% trans with {'%edad%': rango.edadMin } from 'messages' %}de %edad% anos{% endtrans %}
                                                    {% if rango.edadMax > 18 and rango.edadMax <= 23 %}
                                                        &nbsp;({{ 'con_carne_de_estudiante_valido_y_vigente'|trans({},'messages') }})
                                                    {% endif %}

                                                {% else %}

                                                    {% if rango.edadMin is defined %}
                                                        {% trans with {'%edad%': rango.edadMin } from 'messages' %}desde %edad% anos{% endtrans %}
                                                    {% endif %}

                                                    {% if rango.edadMax is defined %}
                                                        {% trans with {'%edad%': rango.edadMax } from 'messages' %}hasta %edad% anos{% endtrans %}
                                                        {% if rango.edadMax > 18 and rango.edadMax <= 23 %}
                                                            &nbsp;({{ 'con_carne_de_estudiante_valido_y_vigente'|trans({},'messages') }})
                                                        {% endif %}
                                                    {% endif %}

                                                {% endif %}

                                            {% endif %}
                                        </span>
                                        <strong>x{{ rango.cantidad }}</strong>:
                                    </p>

                                    <ul style="list-style-type: none; padding-left: 18px;">
                                        {% for tarifaresumen in rango.resumen | filter(tarifaresumen => tarifaresumen.ventasoles > 0 and tarifaresumen.tipoTarOculto == false) %}
                                            <li>
                                                <p>
                                                    {{ tarifaresumen.tipoTarTitulo }}:
                                                    <span style="font-size: 1.2em; font-weight: bold; color: #1B6129;">
                                                        US$ {{ tarifaresumen.ventadolares }}
                                                    </span>
                                                    {% if object.file.pais.id == 117 %} {{ 'o'|trans({},'messages') }} <span style="font-weight: bold; color: #1B6129;">S/.{{ tarifaresumen.ventasoles }}</span>{% endif %}
                                                </p>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>

                        {% if object.estadocotizacion.id != 6 %}

                            <h4 style="margin-top: 15px;">{{ 'total'|trans({},'messages')|capitalize}}: </h4>

                            <ul style="list-style-type: none; padding-left: 18px;">
                                {%  for resumenitem in tabs.tarifas.resumen | filter (resumenitem => resumenitem.oculto is same as (false)) %}
                                    <li>
                                        <p>
                                            {{ resumenitem.titulo }}:
                                            <span style="font-size: 1.2em; font-weight: bold; color: #1B6129;">
                                                 US$ {{ resumenitem.ventadolares }}
                                            </span>
                                            {% if object.file.pais.id == 117 %} o <span style="font-weight: bold; color: #1B6129;">S/.{{ resumenitem.ventasoles }}</span>{% endif %}

                                            <br>{{ 'reserve_con_el'|trans({},'messages') }} {{ object.adelanto|number_format(2, '.', '')}}% (US$ {{ resumenitem.adelantodolares }}
                                            {% if object.file.pais.id == 117 %}
                                                {{ 'o'|trans({},'messages') }} S/.{{ resumenitem.adelantosoles }}
                                            {% endif %}
                                            )
                                        </p>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        {% if object.estadocotizacion.id != 6 or object.file.pais.id == 117 %}

                            <h4 style="margin-top: 15px;">{{ 'notas'|trans({},'messages')|capitalize }}: </h4>
                            <div>
                                <p>
                                    {{ 'la_tarifa'|trans({},'messages')|capitalize }} <span style="font-weight: bold;">{{ 'no_incluye_impuestos'|trans({},'messages') }}</span>, {{ 'consulte_la_exoneracion'|trans({},'messages') }}.
                                </p>
                                {% if object.estadocotizacion.id != 6 %}
                                    <p>{{ 'la_tarifa_tiene_una_validez_de_3_dias_hasta_el'|trans({},'messages')|capitalize }}
                                        <span style="font-weight: bold;">
                                            {{ object.fecha|date_modify("+3 day")|date("d/m/Y") }}
                                        </span>
                                    </p>
                                {% endif %}

                                {% if object.file.pais.id == 117 %}
                                    <p>{{ 'tarifa_base'|trans({},'messages')|capitalize }}:
                                        <span style="font-weight: bold;">
                                            {{ 'dolares'|trans({},'messages')|upper }}
                                        </span>
                                    </p>
                                    <p>{{ 'tarifa_en_soles_al_tipo_de_cambio_referencial_de'|trans({},'messages')|capitalize }}
                                        <span style="font-weight: bold; color: #1B6129;">
                                            {{ cotizacion.tipocambio.venta }}
                                        </span>
                                        {{ 'del_dia'|trans({},'messages') }}
                                        <span style="font-weight: bold; color: #1B6129;">
                                             {{ object.fecha | date("d/m/Y") }}
                                        </span>
                                    </p>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                    {% if action == 'show' %}
                </div>
            </div>
            {% endif %}

            {% if action == 'show' %}
        </div>
        {% endif %}
    </div>
</div>